{{#with post}}
  <section role="region" aria-labelledby="title-{{id}}" class="striped-list-item {{#if featured}}post-featured{{/if}}">
    <span class="striped-list-info">
      <a href="{{url}}" id="title-{{id}}" class="striped-list-title">{{title}}</a>
      <span class="post-overview-item">
        {{#if pinned}}
          <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
        {{/if}}

        {{#if featured}}
          <span class="status-label status-label-featured">{{t 'featured'}}</span>
        {{/if}}

        {{#is status 'none'}}
        {{else}}
          <span class="status-label-{{status_dasherized}} status-label striped-list-status">{{status_name}}</span>
        {{/is}}
      </span>

      <div class="meta-group">
        <span class="meta-data">{{author.name}}</span>
        {{#if editor}}
          <span class="meta-data">{{date edited_at timeago=true}}</span>
          <span class="meta-data">{{t 'edited'}}</span>
        {{else}}
          <span class="meta-data">{{date created_at timeago=true}}</span>
        {{/if}}
      </div>
    </span>

    <div class="post-overview-count striped-list-count">
      <span class="striped-list-count-item">
        <span class="striped-list-number">{{vote_sum}}</span>
        {{t 'vote' count=vote_sum}}
      </span>
      <span class="striped-list-count-item">
        <span class="striped-list-number">{{comment_count}}</span>
        {{t 'comment' count=comment_count}}
      </span>
    </div>
  </section>
{{/with}}
