<div class="page-container article-page">
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>
    </div>
  </section>

  <section class="section section--article">
    <div class="section__container">
      {{#if settings.show_articles_in_section}}
        <details class="section__related collapse collapse--desktop-visible">
          <summary>{{t 'articles_in_section'}}</summary>

          <div class="collapse__content">
            <ul class="articles-list">
              {{#each section.articles}}
                <li
                  class="
                    articles-list__item
                    articles-list__item--no-decoration
                    {{#is id ../article.id}} articles-list__item--current {{/is}}
                  "
                >
                  <a href="{{url}}" class="article">
                    <span class="article__title">{{title}}</span>
                  </a>
                </li>
              {{/each}}
            </ul>

            {{#if section.more_articles}}
              <a href="{{section.url}}" class="section__cta">{{t 'see_more'}}</a>
            {{/if}}
          </div>
        </details>
      {{/if}}

      <div class="section__article article-container">
        <article class="article" id="main-content">
          <h1
            class="article__title {{#if article.internal}} article__title--internal {{/if}}"
            title="{{article.title}}"
          >
            {{article.title}}
          </h1>

          <div class="article__meta">
            {{#is article.created_at article.edited_at}}
              <span>{{date article.created_at timeago=true}}</span>
            {{else}}
              <span>{{date article.edited_at timeago=true}}</span>
              <span>{{t 'updated'}}</span>
            {{/is}}
          </div>

          <div class="article__content">
            {{article.body}}
          </div>

          {{#with article}}
            <div class="article__voting voting">
              <div class="voting__container">
                <div class="voting__form">
                  <h4 class="voting__title" id="voting-title">{{t 'was_this_article_helpful'}}</h4>

                  <div class="voting__options" aria-labelledby="voting-title">
                    {{vote 'up' role='radio' class='button voting__button voting__button--up' selected_class="button-primary"}}
                    {{vote 'down' role='radio' class='button voting__button voting__button--down' selected_class="button-primary"}}
                  </div>
                </div>
                
                <div class="voting__cta">
                  <h4>Não fique com dúvidas!</h4>

                  <a
                    href="javascript:void(zE('messenger', 'open'))"
                    class="button voting__button voting__button--msg"
                  >
                    Converse com a gente
                  </a>
                </div>

                <div class="voting__feedback feedback">
                  <img src="{{asset '_draw-friends.svg'}}" alt="" />

                  <div class="feedback__text">
                    <h4>Avaliação registrada!</h4>
                    <p>Agradecemos pelo feedback.</p>
                  </div>
                </div>
              </div>
            </div>
          {{/with}}
        </article>
      </div>
    </div>
  </section>
</div>
