<div
  id="main-content"
  class="page-container category-page mxp-pgv-event mxp-sll-event"
  data-event="w_all_faq_home_pg_view"
  data-scroll="footer"
>
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>

      <div class="section__category">
        <div class="category">
          <h1 class="section__title category__title"><span>Tudo sobre</span> {{ category.name }}</h1>

          {{#if category.description}}
            <p class="category__description">{{ category.description }}</p>
          {{/if}}

          {{#is category.name 'Auto'}}
            <img class="category__icon" src="{{asset '_draw-auto.svg'}}" alt="{{ category.name }}" />
          {{/is}}

          {{#is category.name 'Celular'}}
            <img class="category__icon" src="{{asset '_draw-smartphone.svg'}}" alt="{{ category.name }}" />
          {{/is}}

          {{#is category.name 'Pier'}}
            <img class="category__icon" src="{{asset '_draw-doubt.svg'}}" alt="{{ category.name }}" />
          {{/is}}

          {{#is category.name 'Vídeos'}}
            <img class="category__icon" src="{{asset '_draw-couch.svg'}}" alt="{{ category.name }}" />
          {{/is}}
        </div>
      </div>
    </div>
  </section>

  <section class="section section--topics">
    <div class="section__container">
      <details class="section__subjects collapse collapse--desktop-visible">
        <summary>{{ settings.category_page_sidebar_title }}</summary>

        <div class="collapse__content">
          <ul class="subjects-list">
            {{#each sections}}
              <li class="subjects-list__item" data-section="section-{{ id }}">
                <a href="#section-{{ id }}">{{ name }}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      </details>

      <div class="section__articles">
        {{#each sections}}
          <section id="section-{{ id }}">
            <h2>{{ name }}</h2>

            {{#if articles}}
              <ul class="articles-list">
                {{#each articles}}
                  <li class="articles-list__item">
                    <a
                      href="{{ url }}"
                      class="article mxp-click-event"
                      data-event="w_all_faq_category_list_clk"
                      data-params="{ title: {{ title }} }"
                    >
                      <span class="article__title">{{ title }}</span>
                      <span class="article__excerpt">{{excerpt body characters=200}}</span>
                    </a>
                  </li>
                {{/each}}
              </ul>

              {{#if more_articles}}
                <a href="{{ url }}" class="section__cta">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
            {{/if}}
          </section>
        {{/each}}
      </div>
    </div>
  </section>
</div>
