<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<div
  id="main-content"
  class="page-container home-page mxp-pgv-event"
  data-event="w_all_faq_home_pg_view"
>
  <section class="section section--head">
    <div class="section__container">
      <h2 class="section__title">{{ settings.homepage_hero_title }}</h2>

      <div class="section__search">
        {{search
          submit=false
          placeholder=settings.search_placeholder
          instant=settings.instant_search
          class="search search-full"
        }}
      </div>
    </div>
  </section>

  <section class="section section--categories">
    <div class="section__container">
      <ul class="categories-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="categories-list__item" data-type="multiple">
              <a
                href="{{url}}"
                class="category mxp-click-event"
                data-event="w_all_faq_home_card_clk"
                data-params="{ category: {{ name }} }"
              >
                {{#is name 'Auto'}}
                  <img class="category__icon" src="{{asset '_draw-auto.svg'}}" alt="{{ name }}" />
                {{/is}}

                {{#is name 'Celular'}}
                  <img class="category__icon" src="{{asset '_draw-smartphone.svg'}}" alt="{{ name }}" />
                {{/is}}

                {{#is name 'Pier'}}
                  <img class="category__icon" src="{{asset '_draw-doubt.svg'}}" alt="{{ name }}" />
                {{/is}}

                {{#is name 'Vídeos'}}
                  <img class="category__icon" src="{{asset '_draw-couch.svg'}}" alt="{{ name }}" />
                {{/is}}

                {{#is name 'Dicas e Tutoriais'}}
                  <img class="category__icon" src="{{asset '_draw-couch.svg'}}" alt="{{ name }}" />
                {{/is}}

                <span class="category__title">{{ name }}</span>
                <span class="category__description">{{excerpt description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item" data-type="else">
                <a
                  href="{{url}}"
                  class="category mxp-click-event"
                  data-event="w_all_faq_home_card_clk"
                  data-params="{ category: {{ name }} }"
                >
                  <span class="category__title">{{ name }}</span>
                  <span class="category__description">{{excerpt description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </section>

  {{#if promoted_articles}}
    <section class="section section--articles">
      <div class="section__container">
        <h2 class="section__title">{{ settings.promoted_articles_title }}</h2>

        <ul class="articles-list">
          {{#each promoted_articles}}
            <li class="articles-list__item">
              <a
                href="{{ url }}"
                class="article mxp-click-event"
                data-event="w_all_faq_home_btn3_clk_highlights"
              >
                <span class="article__title">{{title}}</span>
                <span class="article__excerpt">{{excerpt body characters=200}}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </div>
    </section>
  {{/if}}
</div>
