<div class="page-container search-results-page" id="main-content">
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>

      <div class="section__search">
        {{search submit=false}}
      </div>
  </section>

  <section class="section section--results">
    <div class="section__container">
      {{#if results}}
        <div class="section__results">
          <h1>
            {{#if results}}
              {{#is current_filter.identifier 'unified'}}
                {{#if content_tag_filters }}
                  {{#each (filter content_tag_filters on="selected" equals=true)}}
                    {{t 'results_content_tag' content_tag=name count=../results_count}}
                  {{/each}}
                {{else}}
                  {{t 'results' query=query count=results_count}}
                {{/if}}
              {{else}}
                {{#if content_tag_filters }}
                  {{#each (filter content_tag_filters on="selected" equals=true)}}
                    {{t 'results_content_tag' content_tag=name count=../results_count}}
                  {{/each}}
                {{else}}
                  {{#unless current_subfilter.identifier}}
                    {{t 'results' query=query count=results_count}}
                  {{else}}
                    {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
                  {{/unless}}
                {{/if}}
              {{/is}}
            {{/if}}
          </h1>

          <ul class="articles-list">
            {{#each results}}
              <li class="articles-list__item">
                <a href="{{url}}" class="article">
                  <span class="article__title">{{title}}</span>
                  <span class="article__excerpt">{{excerpt text characters=200}}</span>
                </a>
              </li>
            {{/each}}
          </ul>

          {{pagination}}
        </div>
      {{else}}
        <div class="section__no-results">
          <img src="{{asset '_draw-binoculars.svg'}}" alt="Não encontramos nenhum resultado para a sua pesquisa" />

          <h1>Ainda não temos artigos sobre este assunto.</h1>

          {{#if promoted_articles}}
            <p>Experimente um dos nossos <strong>artigos em destaque:</strong></p>

            <ul class="articles-list">
              {{#each promoted_articles}}
                <li class="articles-list__item">
                  <a href="{{url}}" class="article">
                    <span class="article__title">{{title}}</span>
                    <span class="article__excerpt">{{excerpt body characters=200}}</span>
                  </a>
                </li>
              {{/each}}
            </ul>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </section>
</div>
