<div class="page-container section-page" id="main-content">
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>

      <div class="section__category">
        <div class="category">
          <h1 class="section__title category__title">{{ section.name }}</h1>

          {{#if section.description}}
            <p class="category__description">{{ section.description }}</p>
          {{/if}}
        </div>
      </div>
    </div>
  </section>

  <section class="section section--topics">
    <div class="section__container">
      {{#if section.sections}}
        <details class="section__subjects collapse collapse--desktop-visible">
          <summary>Assuntos</summary>

          <div class="collapse__content">
            <ul>
              {{#each section.sections}}
                <li>
                  <a href="{{ url }}">{{ name }}</a>
                </li>
              {{/each}}
            </ul>
          </div>
        </details>
      {{/if}}

      {{#if section.articles}}
        <div class="section__articles {{#unless section.sections}} section__articles--full {{/unless}}">
          <ul class="articles-list">
            {{#each section.articles}}
              <li class="articles-list__item">
                <a href="{{ url }}" class="article">
                  <span class="article__title">{{ title }}</span>
                  <span class="article__excerpt">{{excerpt body characters=200}}</span>
                </a>
              </li>
            {{/each}}
          </ul>

          {{pagination "section.articles"}}
        </div>
      {{/if}}
    </div>
  </section>
</div>
