<main class="text-center">
  <section class="care-banner">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <nav class="sub-nav breadcrums-box">
          <ol class="breadcrumbs">
            <li title="Supoort"><a href="/hc/en-us">Support</a></li>
            <li title="Snapmaker Care"><a href="/hc/en-us/p/care">Snapmaker Care</a></li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="care-banner-text-wrapper">
      <div class="snmk-container">
        <div class="snmk-col-6 snmk-col-l-6 snmk-col-m-5 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-5 snmk-col-l-offset-5 snmk-col-m-offset-3">
          <h1 class="big-title-1 font-bw-1">Snapmaker Care</h1>
        </div>
      </div>
    </div>
  </section>


  <section class="text-center pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-6 snmk-col-l-6 snmk-col-m-6 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-3 snmk-col-l-offset-3 snmk-col-m-offset-3">
        <h2 class="title-1 bold-700">What is Snapmaker Care?</h2>
        <div class="c-black title-3 mt-2xl">Snapmaker Care covers two incidents of repair or replacement from the purchase of the machine to one year after the end of the standard warranty. We offer comprehensive and reliable protection and you can just enjoy creating with peace of mind.</div>
      </div>
      <div class="snmk-col-8 snmk-col-l-8 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-2 snmk-col-l-offset-2 pt-2xl">
        <img class="not-mob" style="max-width: 100%" src="{{asset 'what-is-care-pc.jpg' }}" alt="What is Snapmaker Care?">
        <img class="only-mob" style="max-width: 100%" src="{{asset 'what-is-care-mob.jpg' }}" alt="What is Snapmaker Care?">
      </div>
    </div>
  </section>

  <section class="text-center pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">What can I get from<br>Snapmaker Care?</h2>
        <div class="flex-spacebetween flex-wrap"> 
          <div class="service-content">
            <div class="service-content-item mt-3xl">
              <div><img src="{{asset 'warranty.svg' }}" alt="Warranty for two incidents"></div>
              <div>
                <div class="c-blue title-3 bold-700 mt-xl">Warranty for two incidents</div>
                <div class="font-2 font-bw-2 mt-xs">Two incidents of repair or replacement from the purchase of the machine to one year after the end of the standard warranty. </div>
              </div>
            </div>
          </div>
          <div class="service-content">
            <div class="service-content-item mt-3xl">
              <div><img src="{{asset 'worryfree.svg' }}" alt="Worry-free coverage"></div>
              <div>
                <div class="c-blue title-3 bold-700 mt-xl">Worry-free coverage</div>
                <div class="font-2 font-bw-2 mt-xs">Coverage for accidental damage of any machine parts, including but not limited to toolheads, modules and platforms.</div>
              </div>
            </div>
          </div>
          <div class="service-content">
            <div class="service-content-item mt-3xl">
              <div><img src="{{asset 'freeshipping.svg' }}" alt="Free shipping"></div>
              <div>
                <div class="c-blue title-3 bold-700 mt-xl">Free shipping</div>
                <div class="font-2 font-bw-2 mt-xs">Free shipping for the repaired or spare parts.</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-center pt-3xl mt-3xl"> 
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8  snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <h2 class="title-1 bold-700">Which model can I purchase<br>Snapmaker Care for?</h2>
        <div class="flex-spacebetween flex-wrap mt-2xl">
          <div class="enable-service-model-item">
            <div><img src="{{asset 'at.jpg' }}" alt="Snapmaker 2.0 A350T/A250T"></div>
            <div class="mt-l">
              <div class="font-1 font-bw-1">Snapmaker 2.0 A350T/A250T</div>
              <a href="https://shop.snapmaker.com/products/snapmaker-2-0-modular-3-in-1-3d-printer-a350t-a250t?variant=39562927931455" target="_blank" class="c-blue font-1">But Now</a>
            </div>
          </div>
          <div class="enable-service-model-item">
            <div><img src="{{asset 'f.jpg' }}" alt="Snapmaker 2.0 F350/F250"></div>
            <div class="mt-l">
              <div class="font-1 font-bw-1">Snapmaker 2.0 F350/F250</div>
              <a href="https://shop.snapmaker.com/products/snapmaker-2-0-modular-3-in-1-3d-printer-a350t-a250t?variant=39562927898687" target="_blank" class="c-blue font-1">But Now</a>
            </div>
          </div>
          <div class="enable-service-model-item">
            <div><img src="{{asset 'artisan.jpg' }}" alt="Snapmaker 2.0 Bundle A350T/A250T"></div>
            <div class="mt-l">
              <div class="font-1 font-bw-1">Snapmaker 2.0 Bundle A350T/A250T</div>
              <a  href="https://eu.snapmaker.com/products/snapmaker-2-0-bundle-a350t-a250t?variant=39501725106315" target="_blank" class="c-blue font-1">But Now</a>
            </div>
          </div>
          <div class="enable-service-model-item">
            <div><img src="{{asset 'at-bundle.jpg' }}" alt="Snapmaker Artisan"></div>
            <div class="mt-l">
              <div class="font-1 font-bw-1">Snapmaker Artisan</div>
              <a class="font-bw-3 font-1">Coming Soon</a>
            </div>
          </div>
        </div>
      </div>
      <div class="snmk-col-4 snmk-col-l-4 snmk-col-m-6 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-4 snmk-col-l-offset-4 snmk-col-m-offset-1">
        <div class="font-2 text-center font-bw-3 mt-xl">Note: Snapmaker Care only covers the module of which the damage is confirmed by our echnical support, and it only covers one type of module each time.</div>
      </div>
    </div>
  </section>


  <section class="text-left pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1">
        <div class="title-1 bold-700 text-center mb-2xl">How to purchase Snapmaker Care?</div>
      </div>
      <div class="snmk-col-4 snmk-col-l-4 snmk-col-m-4 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-2 snmk-col-l-offset-2 flex-spacebetween flex-column">
        <div>
          <div class="title-3 bold-700">For customers who purchase from our official store</div>
          <div class="font-2 font-bw-2 mt-xs">Snapmaker Care is an add-on service available to buy when purchasing the supported product on our official store.</div>
        </div>
        <div class="pucharse-snap">
          <img class="only-pc" src="{{asset 'store-pc.png'}}" alt="For customers who purchase from our official store">
          <img class="only-tablet" src="{{asset 'store-tab.png'}}" alt="For customers who purchase from our official store">
          <img class="only-mob" src="{{asset 'store-mob.png'}}" alt="For customers who purchase from our official store">
        </div>
      </div>
      <div class="snmk-col-4 snmk-col-l-4 snmk-col-m-4 snmk-col-s-4 snmk-col-xs-4">
        <div class="title-3 bold-700">For customers who purchase from an authorized Snapmaker Distributor</div>
        <div class="font-2 font-bw-2 mt-s">Please contactus at support@snapmaker.com within 30 days of the purchase and attach the invoice of your machine.</div>
        <div class="title-4 font-bw-1 mt-xl bold-700">Here is the purchase process:</div>
        <div class="mt-xl">
          <div class="purchase-step">Contact Support</div>
          <div class="purchase-step">Provide SN and the invoice</div>
          <div class="purchase-step">Get the PayPal link from Support</div>
          <div class="purchase-step">Finish the payment</div>
          <div class="purchase-step">Send a screenshot of the payment</div>
          <div class="purchase-step">Get the service code</div>
        </div>
      </div>
    </div>
  </section>


  <section class="text-center pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-8 snmk-col-l-8 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-2 snmk-col-l-offset-2">
        <div class="title-1 bold-700">How to obtain service?</div>
        <div class="mt-2xl obain-service">

          <div class="obain-service-content">
            <div class="obain-service-icon"><img src="{{asset '1.svg'}}" alt="Contact Support"></div>
            <div class="obain-service-text">
              <div class="font-1">Contact Support</div>
              <div class="font-bw-2 font-2 mt-2xs">
                Contact the technical support team at support@snapmaker.com.<br>
                The support team will assist in troubleshooting the issue.
              </div>
            </div>
          </div>
          <div class="my-xs text-left obain-service-down-icon"><span class="iconfont">&#xe7b2;</span></div>

          <div class="obain-service-content">
            <div class="obain-service-icon"><img src="{{asset '2.svg'}}" alt="Replacement or Repair"></div>
            <div class="obain-service-text">
              <div class="font-1">Replacement or Repair: </div>
              <div class="font-bw-2 font-2 mt-2xs">
                Verify and redeem the service code.<br>
                The support team will determine a replacement or repair service.    
              </div>
            </div>
          </div>
          <div class="my-xs text-left obain-service-down-icon"><span class="iconfont">&#xe7b2;</span></div>

          <div class="obain-service-content">
            <div class="obain-service-icon"><img src="{{asset '3.svg'}}" alt="Send Damaged Product/Part(s) Back: "></div>
            <div class="obain-service-text">
              <div class="font-1">Send Damaged Product/Part(s) Back: </div>
              <div class="font-bw-2 font-2 mt-2xs">
                If the product needs to be repaired, the support team will provide a shipping label for you to send it back.<br>
                If it's a replacement, you may need to return the damaged part(s). The support team will provide a shipping label for the return.
              </div>
            </div>
          </div>
          <div class="my-xs text-left obain-service-down-icon"><span class="iconfont">&#xe7b2;</span></div>

          <div class="obain-service-content">
            <div class="obain-service-icon"><img src="{{asset '4.svg'}}" alt="Wait for Service to Complete"></div>
            <div class="obain-service-text">
              <div class="font-1">Wait for Service to Complete</div>
              <div class="font-bw-2 font-2 mt-2xs">
                Repair: It depends on the difficulty of repair. Usually it will take seven business days to proceed.<br>
                Replacement: Usually it will take five business days to proceed.
              </div>
            </div>
          </div>
          <div class="my-xs text-left obain-service-down-icon"><span class="iconfont">&#xe7b2;</span></div>

          <div class="obain-service-content">
            <div class="obain-service-icon"><img src="{{asset '5.svg'}}" alt=""></div>
            <div class="obain-service-text">
              <div class="font-1">Receive the Product/Part(s)</div>
              <div class="font-bw-2 font-2 mt-2xs">Enjoy free shipment of your repaired product or replacement.</div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="text-center pt-3xl mt-3xl">
    <div class="snmk-container">
      <div class="snmk-col-8 snmk-col-l-8 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-2 snmk-col-l-offset-2">
        <div class="title-1 bold-700">FAQ</div>
        <div class="mt-2xl">
          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">How many times can I purchase the Snapmaker Care service?</div>
            <div class="answer font-2 font-bw-2">You can only purchase the Snapmaker Care service once for one machine or bundle.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">How can I activate my Snapmaker Care service?</div>
            <div class="answer font-2 font-bw-2">Snapmaker Support will contact you for the SN of your machine and provide two service codes within three workdays after your purchase of the service. The service code, which is valid only once, will be needed for access to your Snapmaker Care service.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">If the damage is covered by the standard warranty, will the repair or the replacement be counted in the Snapmaker Care service that I have purchased?</div>
            <div class="answer font-2 font-bw-2">No.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">How long is the Snapmaker Care service valid?</div>
            <div class="answer font-2 font-bw-2">Snapmaker Care is valid from the purchase day to one year after the end of the standard warranty.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">Which regions does Snapmaker Care cover?</div>
            <div class="answer font-2 font-bw-2">Snapmaker Care covers regions or countries where our official store supports the purchase.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">What is the difference between the Snapmaker Care service and the standard warranty?</div>
            <div class="answer font-2 font-bw-2">The standard warranty is an after-sales service that Snapmaker provides for product quality issues, while Snapmaker Care covers two incidents for accidental damages, and has a one-year extension to the standard warranty period.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">How can I obtain theSnapmaker Care service if Ipurchase from an authorized Snapmaker Distributor?</div>
            <div class="answer font-2 font-bw-2">The Snapmaker Distributor deals with the standard warranty on behalf of Snapmaker. But if the damage is not covered by the standard warranty, you need to contact Snapmaker Support andprovide the service code to obtain the Snapmaker Care service.</div>
          </div>

          <div class="qa">
            <div class="question font-2 font-bw-1 bold-700">Can I refund the Snapmaker Care service or transfer it to other machines?</div> 
            <div class="answer font-2 font-bw-2">No. You cannot refund the Snapmaker Care service unless you return the corresponding machine under our Return Policy. You cannot transfer the Snapmaker Care service to other machines, either.</div> 
          </div>

        </div>
      </div>
    </div>
  </section>


  
</main>