<section class="section hero hero-article">
  <div class="container">
    <div class="row">
      <div class="">
        {{breadcrumbs}}
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{article.title}}" class="article-title h1">{{article.title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col metadata-left">
        {{#is article.created_at article.edited_at}}
          <span class="meta-data">{{t 'updated'}} {{date article.created_at timeago=true}}</span>
        {{else}}
          <span class="meta-data">{{t 'updated'}} {{date article.edited_at timeago=true}}</span>
        {{/is}}
      </div>
      <div class="col metadata-right">
          <button class="button-unstyled" style="margin-right: 25px; color: inherit;" onclick="javascript:print();">
            <span class="fal fa-print" aria-hidden="true">
            </span>
          </button>
          <div class="article-subscribe">{{subscribe}}</div>
      </div>
    </div>
  </div>
</section>


<div class="container">
  <div class="article-container" id="article-container">
    <aside class="article-sidebar" aria-labelledby="section-articles-title">
      <div class="search-container">
        {{search scoped=settings.scoped_kb_search submit=false class="search search-full search-transparent"}}
      </div>
      <div class="table-of-contents">
        
      </div>
    </aside>

    <article id="main-content" class="article">

      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>
<!--
          {{#if (compare article.content_tags.length ">" 0)}}
            <section class="content-tags">
              <p>{{t 'content_tags_label'}}</p>
              <ul class="content-tag-list">
                {{#each article.content_tags}}
                  <li class="content-tag-item" data-content-tag-id="{{id}}">
                    {{#link "search_result" content_tag_id=id}}
                      {{name}}
                    {{/link}}
                  </li>
                {{/each}}
              </ul>
            </section>
          {{/if}}
          -->
<!--
          {{#if attachments}}
            <div class="article-attachments">
              <ul class="attachments">
                {{#each attachments}}
                  <li class="attachment-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                    </svg>
                    <a href="{{url}}" target="_blank">{{name}}</a>
                    <div class="attachment-meta meta-group">
                      <span class="attachment-meta-item meta-data">{{size}}</span>
                      <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
          -->
        </div>
      </section>
      <footer>
        <div class="article-footer">
          {{#if settings.show_article_sharing}}
            <div class="article-share">{{share}}</div>
          {{/if}}
          {{#if settings.show_article_comments}}
            {{#if comments}}
              <a href="#article-comments" class="article-comment-count">
                <svg role="img" aria-labelledby="article-comments-title article-comments-desc" xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="article-comment-count-icon">
                  <title id="article-comments-title">{{t 'go_to_comments'}}</title>
                  <desc id="article-comments-desc">{{t 'comments_count' count=article.comment_count}}</desc>
                  <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                </svg>
                <span aria-hidden="true">{{article.comment_count}}</span>
              </a>
            {{/if}}
          {{/if}}
        </div>
        {{#with article}}
          <div class="article-votes">
            <h2 class="article-votes-question" id="article-votes-label">{{t 'was_this_article_helpful'}}</h2>
            <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
              {{vote 'up' class='button article-vote article-vote-up' selected_class="button-primary"}}
              {{vote 'down' class='button article-vote article-vote-down' selected_class="button-primary"}}
            </div>
            <small class="article-votes-count">
              {{vote 'label' class='article-vote-label'}}
            </small>
          </div>
        {{/with}}

        <div class="article-more-questions">
          {{request_callout}}
        </div>
        <div class="article-return-to-top">
          <a href="#article-container">
            {{t 'return_to_top'}}
            <svg xmlns="http://www.w3.org/2000/svg" class="article-return-to-top-icon" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
          </a>
        </div>
      </footer>
    </article>
  </div>
</div>
