<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search scoped=settings.scoped_kb_search submit=false}}
  </nav>

  <div class="article-container" id="article-container">
    <aside class="article-sidebar" aria-labelledby="section-articles-title">
      {{#if settings.show_articles_in_section}}
        <div class="collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="section-articles-title" aria-expanded="false"></button>
          <span id="section-articles-title" class="collapsible-sidebar-title sidenav-title">
            {{t 'articles_in_section'}}
          </span>
          <div class="collapsible-sidebar-body">
            <ul>
              {{#each section.articles}}
                <li>
                  <a href="{{url}}" class="sidenav-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
                </li>
              {{/each}}
            </ul>
            {{#if section.more_articles}}
              <a href="{{section.url}}" class="article-sidebar-item">{{t 'see_more'}}</a>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </aside>

    <article class="article">
      <header class="article-header">
        <h1 title="{{article.title}}" class="article-title">
          {{article.title}}
          {{#if article.internal}}
            <span class="icon-lock" title="{{t 'internal'}}"></span>
          {{/if}}
        </h1>

        <div class="article-author">
          {{#if settings.show_article_author}}
            <div class="avatar article-avatar">
              {{#if article.author.agent}}
                <span class="icon-agent"></span>
              {{/if}}
              <img src="{{article.author.avatar_url}}" alt="" class="user-avatar"/>
            </div>
          {{/if}}
          <div class="article-meta">
            {{#if settings.show_article_author}}
              {{#link 'user_profile' id=article.author.id}}
                {{article.author.name}}
              {{/link}}
            {{/if}}

            <ul class="meta-group">
              {{#is article.created_at article.edited_at}}
                <li class="meta-data">{{date article.created_at timeago=true}}</li>
              {{else}}
                <li class="meta-data">{{date article.edited_at timeago=true}}</li>
                <li class="meta-data">{{t 'updated'}}</li>
              {{/is}}
            </ul>
          </div>
        </div>

        {{#if settings.show_follow_article}}
          {{subscribe}}
        {{/if}}
      </header>

      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>

          <div class="article-attachments">
            <ul class="attachments">
              {{#each attachments}}
                <li class="attachment-item">
                  <a href="{{url}}" target="_blank">{{name}}</a>
                  <div class="attachment-meta meta-group">
                    <span class="attachment-meta-item meta-data">{{size}}</span>
                    <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">Download</a>
                  </div>
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </section>

      <footer>
        <div class="article-footer">
          {{#if settings.show_article_sharing}}
            <div class="article-share">{{share}}</div>
          {{/if}}
          {{#if settings.show_article_comments}}
            {{#if comments}}
              <a href="#article-comments" class="article-comment-count" title="{{t 'go_to_comments'}}">
                <span class="visibility-hidden">
                  {{t 'comments_count' count=article.comment_count}}
                </span>
                <span aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="article-comment-count-icon">
                    <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                  </svg>
                  {{article.comment_count}}
                </span>
              </a>
            {{/if}}
          {{/if}}
        </div>
        {{#with article}}
          <div class="article-votes">
            <span class="article-votes-question">{{t 'was_this_article_helpful'}}</span>
            <div class="article-votes-controls" role='radiogroup'>
              {{vote 'up' role='radio' class='button article-vote article-vote-up'}}
              {{vote 'down' role='radio' class='button article-vote article-vote-down'}}
            </div>
            <small class="article-votes-count">
              {{vote 'label' class='article-vote-label'}}
            </small>
          </div>
        {{/with}}

        <div class="article-more-questions">
          {{request_callout}}
        </div>
        <div class="article-return-to-top">
          <a href="#article-container">{{t 'return_to_top'}}<span class="icon-arrow-up"></span></a>
        </div>
      </footer>

      <div class="article-relatives">
        {{#if settings.show_recently_viewed_articles}}
          {{recent_articles}}
        {{/if}}
        {{#if settings.show_related_articles}}
          {{related_articles}}
        {{/if}}
      </div>
      {{#if settings.show_article_comments}}
        <div class="article-comments" id="article-comments">
          <section class="comments">
            <header class="comment-overview">
              <h2 class="comment-heading">
                {{t 'comments'}}
              </h2>
              <p class="comment-callout">{{t 'comments_count' count=article.comment_count}}</p>
              {{#if comments}}
                <div class="dropdown comment-sorter">
                  <button class="dropdown-toggle" aria-haspopup="true">
                    {{t 'sort_by'}}
                  </button>
                  <span class="dropdown-menu" role="menu">
                    {{#each comment_sorters}}
                      <a aria-selected="{{selected}}" href="{{url}}" role="menuitem">{{name}}</a>
                    {{/each}}
                  </span>
                </div>
              {{/if}}
            </header>

            <ul id="comments" class="comment-list">
              {{#each comments}}
                <li id="{{anchor}}" class="comment">
                  <div class="comment-wrapper">
                    <div class="comment-info">
                      <div class="comment-author">
                        <div class="avatar comment-avatar">
                          {{#if author.agent}}
                            <span class="icon-agent"></span>
                          {{/if}}
                          <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                        </div>
                        <div class="comment-meta">
                          <span title="{{author.name}}">
                            {{#link 'user_profile' id=author.id}}
                              {{author.name}}
                            {{/link}}
                          </span>

                          <ul class="meta-group">
                            {{#if editor}}
                              <li class="meta-data">{{date edited_at timeago=true}}</li>
                              <li class="meta-data">{{t 'edited'}}</li>
                            {{else}}
                              <li class="meta-data">{{date created_at timeago=true}}</li>
                            {{/if}}
                          </ul>
                        </div>
                        <div class="comment-labels">
                          {{#with ticket}}
                            <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                              {{t 'request'}}{{id}}
                            </a>
                          {{/with}}
                          {{#if pending}}
                            <span class="comment-pending status-label status-label-pending">{{t 'pending_approval'}}</span>
                          {{/if}}
                        </div>
                      </div>

                      <section class="comment-body">{{body}}</section>
                    </div>

                    <div class="comment-actions-container">
                      <div class="comment-vote vote" role='radiogroup'>
                        {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" transform="scale(1,-1)">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                        </svg>
                        {{/vote}}
                        {{vote 'sum' class='vote-sum'}}
                        {{#vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                          <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                        </svg>
                        {{/vote}}
                      </div>
                      <div class="comment-actions actions">
                        {{actions}}
                      </div>
                    </div>
                  </div>
                </li>
              {{/each}}
            </ul>

            {{pagination}}

            {{#form 'comment' class='comment-form'}}
              <div class="avatar comment-avatar">
                {{user_avatar class='user-avatar'}}
              </div>
              <div class="comment-container">
                {{wysiwyg 'body'}}
                <div class="comment-form-controls">
                  {{input type='submit'}}
                </div>
              </div>
            {{/form}}

            <p class="comment-callout">{{comment_callout}}</p>
          </section>
        </div>
      {{/if}}
    </article>
  </div>
</div>
