<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
  </div>

  <div class="article-container" id="article-container">
    <aside class="article-sidebar" aria-labelledby="section-articles-title">
      {{#if settings.show_articles_in_section}}
        <div class="collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-labelledby="section-articles-title" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <span id="section-articles-title" class="collapsible-sidebar-title sidenav-title">
            {{t 'articles_in_section'}}
          </span>
          <span class="collapsible-sidebar-title-divider"></span>
          <div class="collapsible-sidebar-body">
            <ul>
              {{#each section.articles}}
                <li>
                  <a href="{{url}}" 
                     class="sidenav-item {{#is id ../article.id}}current-article{{/is}}"
                     {{#is id ../article.id}}aria-current="page"{{/is}}>
                       {{title}}
                  </a>
                </li>
              {{/each}}
            </ul>
            {{#if section.more_articles}}
              <a href="{{section.url}}" class="article-sidebar-item">{{t 'see_more'}}</a>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </aside>

    <article id="main-content" class="article">
      <header class="article-header">
        <h1 title="{{article.title}}" class="article-title">
          {{article.title}}
          {{#if article.internal}}
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
              <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
              <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
            </svg>
          {{/if}}
        </h1>

        <div class="article-author">
          {{#if settings.show_article_author}}
            <div class="avatar article-avatar">
              {{#if article.author.agent}}
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" aria-hidden="true" viewBox="0 0 12 12" class="icon-agent" aria-label="{{t 'team_member' name=article.author.name}}">
                  <path fill="currentColor" d="M6 0C2.7 0 0 2.7 0 6s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm0 2c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm2.3 7H3.7c-.3 0-.4-.3-.3-.5C3.9 7.6 4.9 7 6 7s2.1.6 2.6 1.5c.1.2 0 .5-.3.5z"/>
                </svg>
              {{/if}}
              <img src="{{article.author.avatar_url}}" alt="" class="user-avatar"/>
            </div>
          {{/if}}
          <div class="article-meta">
            {{#if settings.show_article_author}}
              {{#link 'user_profile' id=article.author.id}}
                {{article.author.name}}
              {{/link}}
            {{/if}}

            <div class="meta-group">
              {{#is article.created_at article.edited_at}}
                <span class="meta-data">{{date article.created_at timeago=true}}</span>
              {{else}}
                <span class="meta-data">{{date article.edited_at timeago=true}}</span>
                <span class="meta-data">{{t 'updated'}}</span>
              {{/is}}
            </div>
          </div>
        </div>

        {{#if settings.show_follow_article}}
          <div class="article-subscribe">{{subscribe}}</div>
        {{/if}}
      </header>

      <section class="article-info">
        <div class="article-content">
          <div class="article-body">{{article.body}}</div>

          {{#if (compare article.content_tags.length ">" 0)}}
            <section class="content-tags">
              <p>{{t 'content_tags_label'}}</p>
              <ul class="content-tag-list">
                {{#each article.content_tags}}
                  <li class="content-tag-item" data-content-tag-id="{{id}}">
                    {{#link "search_result" content_tag_id=id}}
                      {{name}}
                    {{/link}}
                  </li>
                {{/each}}
              </ul>
            </section>
          {{/if}}

          {{#if attachments}}
            <div class="article-attachments">
              <ul class="attachments">
                {{#each attachments}}
                  <li class="attachment-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="attachment-icon">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" d="M9.5 4v7.7c0 .8-.7 1.5-1.5 1.5s-1.5-.7-1.5-1.5V3C6.5 1.6 7.6.5 9 .5s2.5 1.1 2.5 2.5v9c0 1.9-1.6 3.5-3.5 3.5S4.5 13.9 4.5 12V4"/>
                    </svg>
                    <a href="{{url}}" target="_blank">{{name}}</a>
                    <div class="attachment-meta meta-group">
                      <span class="attachment-meta-item meta-data">{{size}}</span>
                      <a href="{{url}}" target="_blank" class="attachment-meta-item meta-data">{{t 'download'}}</a>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          {{/if}}
        </div>
      </section>

      <footer>
      </footer>

      
    </article>
  </div>
</div>
