<div class="page-container article-page">
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>
    </div>
  </section>

  <section class="section section--article">
    <div class="section__container">
      {{#if settings.show_articles_in_section}}
        <div class="section__related">
          <h3>{{t 'articles_in_section'}}</h3>

          <ul>
            {{#each section.articles}}
              <li>
                <a href="{{url}}" class="sidenav-item {{#is id ../article.id}}current-article{{/is}}">{{title}}</a>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      <div class="section__article">
        <article class="article" id="main-content">
          <h1
            class="article__title {{#if article.internal}} article__title--internal {{/if}}"
            title="{{article.title}}"
          >
            {{article.title}}
          </h1>

          <div class="article__meta">
            {{#is article.created_at article.edited_at}}
              <p>{{date article.created_at timeago=true}}</p>
            {{else}}
              <p>{{date article.edited_at timeago=true}}</p>
              <p>{{t 'updated'}}</p>
            {{/is}}
          </div>

          <div class="article__content">
            {{article.body}}
          </div>

          {{#with article}}
            <div class="article__feedback">
              <span class="article-votes-question" id="article-votes-label">{{t 'was_this_article_helpful'}}</span>
              <div class="article-votes-controls" role="group" aria-labelledby="article-votes-label">
                {{vote 'up' role='radio' class='button article-vote article-vote-up' selected_class="button-primary"}}
                {{vote 'down' role='radio' class='button article-vote article-vote-down' selected_class="button-primary"}}
              </div>
              <small class="article-votes-count">
                {{vote 'label' class='article-vote-label'}}
              </small>
            </div>
          {{/with}}
        </article>
      </div>
    </div>
  </section>

  <section class="section section--categories">
    <div class="section__container">
      <h2 class="section__title">Categorias</h2>

      <!-- check if it's possible to import categories here -->
    </div>
  </section>
</div>
