<div class="page-container article-page">
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>
    </div>
  </section>

  <section class="section section--article">
    <div class="section__container">
      {{#if settings.show_articles_in_section}}
        <div class="section__related">
          <h3>{{t 'articles_in_section'}}</h3>

          <ul class="articles-list">
            {{#each section.articles}}
              <li class="articles-list__item">
                <a href="{{url}}" class="article {{#is id ../article.id}} article--current {{/is}}">
                  <span class="article__title">{{title}}</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}

      <div class="section__article article-container">
        <article class="article" id="main-content">
          <h1
            class="article__title {{#if article.internal}} article__title--internal {{/if}}"
            title="{{article.title}}"
          >
            {{article.title}}
          </h1>

          <div class="article__meta">
            {{#is article.created_at article.edited_at}}
              <span>{{date article.created_at timeago=true}}</span>
            {{else}}
              <span>{{date article.edited_at timeago=true}}</span>
              <span>{{t 'updated'}}</span>
            {{/is}}
          </div>

          <div class="article__content">
            {{article.body}}
          </div>

          {{#with article}}
            <div class="article__feedback feedback">
              <h4 class="feedback__title" id="feedback-title">{{t 'was_this_article_helpful'}}</h4>

              <div class="feedback__options" aria-labelledby="feedback-title">
                {{vote 'up' role='radio' class='button feedback__button feedback__button--up' selected_class="button-primary"}}
                {{vote 'down' role='radio' class='button feedback__button feedback__button--down' selected_class="button-primary"}}
              </div>
            </div>
          {{/with}}
        </article>
      </div>
    </div>
  </section>

  <section class="section section--categories">
    <div class="section__container">
      <h2 class="section__title">Categorias</h2>

      <!-- check if it's possible to import categories here -->
    </div>
  </section>
</div>
