<article id="#top" class="article">
  <header class="article-header">
    <div class="container">
      <h1 class="h2 article-header__title" title="{{article.title}}">
        {{article.title}}
        {{#if article.internal}}
          <span class="icon-lock" title="{{t 'internal'}}"></span>
        {{/if}}
        {{#is article.created_at article.edited_at}}
          <span class="article-header__date">{{date article.created_at timeago=true}}</span>
        {{else}}
          <span class="article-header__date">{{t 'updated'}} {{date article.edited_at timeago=true}}</span>
        {{/is}}
      </h1>
    </div>
  </header>
<div class="container-divider"></div>
  <div class="container">
    <nav class="sub-nav">
      {{breadcrumbs}}
      {{search submit=false instant=settings.instant_search placeholder='Search the Help Center'}}
    </nav>
    <section class="article-info">
      <aside class="article-sidebar">
      </aside>
      <div class="article-content">
        <div class="article-body">{{article.body}}</div>
      </div>
    </section>

    <footer>
      <div class="article-footer">
        {{#if settings.show_article_sharing}}
          <div class="article-share">{{share}}</div>
        {{/if}}
        {{#if settings.show_article_comments}}
          {{#if comments}}
            <a href="#article-comments" class="article-comment-count">
              <span class="icon-comments"></span>
              {{article.comment_count}}
            </a>
          {{/if}}
        {{/if}}
      </div>
      {{#with article}}
        <div class="article-votes">
          <h4 class="article-votes-question">{{t 'was_this_article_helpful'}}</h4>
          <small class="article-votes-count">
            {{vote 'label' class='article-vote-label'}}
          </small>
          <div class="article-votes-controls" role='radiogroup'>
            {{vote 'up' role='radio' class='button article-vote article-vote-up'}}
            {{vote 'down' role='radio' class='button article-vote article-vote-down'}}
          </div>
        </div>
      {{/with}}

      <div class="article-more-questions">
        <p class="article-more-questions__paragraph">Still have questions?
          <a  href="javascript:Intercom('showNewMessage');">Start a chat.</a>
        </p>
      </div>
      <div class="article-return-to-top">
        <a href="#top">{{t 'return_to_top'}}<span class="icon-arrow-up"></span></a>
      </div>
    </footer>

    <section class="article-relatives">
      {{#if settings.show_recently_viewed_articles}}
        {{recent_articles}}
      {{/if}}
      {{#if settings.show_related_articles}}
        {{related_articles}}
      {{/if}}
    </section>
  </div>
</article>
<div class="jobber-mid-cta">
  <section class="container">
    <div class="jobber-mid-cta__content">
      <div class="jobber-mid-cta__pre-title">WE’RE HERE TO HELP</div>
      <div class="jobber-mid-cta__title h3"><span class="highlight-text">Talk to a real person.</span> <br /> No matter the question.</div>
    </div>
    <div class="jobber-mid-cta__action">
      <a class="button jobber-mid-cta__link" href="https://getjobber.com/contact/" target="_blank">Contact Us</a>
    </div>
  </section>
</div>
