<div class="container-divider"></div>
<div class="container">
    <nav class="sub-nav">
        {{breadcrumbs}}
        {{search submit=false}}
    </nav>
    <div class="category-container">
        {{#if category}}
            {{#is category.name 'Platform Documentation'}}
            <div>
            {{else}}
            <div class="category-content">
             {{/is}}
        {{/if}}
                <header class="page-header">
                    <h1>{{category.name}}</h1>

                    {{#if category.description}}
                    <p class="page-header-description">{{category.description}}</p>
                    {{/if}}


                    {{#if category}}
                        {{#is category.name'Troubleshooting'}}
                        <p>Our friendly support team is available to help you from Monday to Friday (8 am to 6 pm French time). You can call us on <a href="tel:0033186651119">+33 1 86 65 11 19</a>.</p><p>If <strong>you have a Saagie Support Account</strong>, please <strong>sign in for faster service</strong> and report or track your issue by selecting one of the options below:</p>
                        <section class="section-feature-list">
                            <ul>
                                <li>
                                    <a class="section-feature-list-button" href='/hc/requests/new'><span class="hero-inner-links-icon"><i class="fas fa-plus"></i></span>Open a new ticket</a>
                                </li>
                                <li>
                                    <a href='/hc/requests' class="section-feature-list-button"><span class="hero-inner-links-icon"><i class="far fa-eye"></i></span>My tickets</a>
                                </li>
                                <li>
                                    <a href='/hc/requests/organization' class="section-feature-list-button"><span class="hero-inner-links-icon"><i class="fas fa-list-ul"></i></span>My Organisation's tickets</a>
                                </li>
                            </ul>
                        </section>
                        {{/is}}

                        {{#is category.name'Platform Documentation'}}
                        <div class="g-grid">
                            <!--Projects & Jobs-->
                            <div class="g-grid-item">
                                <div class="section-feature-card as--projects">
                                    <a class="section-feature-card-content" href='https://saagie.zendesk.com/hc/en-us/categories/360001159692-Projects-Jobs' class="blocks-item-link">
                                        <div class="section-feature-card-header">
                                            <span>feature</span>
                                            <h4>Projects & Jobs</h4>
                                        </div>
                                        <div class="section-feature-card-action">
                                            <button class="section-feature-card-button"  href='https://saagie.zendesk.com/hc/en-us/categories/360001159692-Projects-Jobs' class="blocks-item-link">Read more</button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!--Governance-->
                            <div class="g-grid-item" >
                                <div class="section-feature-card as--governance">
                                    <a class="section-feature-card-content" href='https://saagie.zendesk.com/hc/en-us/categories/360001141512-Governance' class="blocks-item-link">
                                        <div class="section-feature-card-header">
                                            <span>feature</span>
                                            <h4>Governance</h4>
                                        </div>
                                        <button class="section-feature-card-button"  href='https://saagie.zendesk.com/hc/en-us/categories/360001159692-Projects-Jobs' class="blocks-item-link">Read more</button>
                                    </a>
                                </div>
                            </div>
                            <!--Security-->
                            <div class="g-grid-item">
                                <div class="section-feature-card as--security">
                                    <a class="section-feature-card-content" href='https://saagie.zendesk.com/hc/en-us/categories/360001141452-Security' class="blocks-item-link">
                                        <div class="section-feature-card-header">
                                            <span>feature</span>
                                            <h4>Security</h4>
                                        </div>
                                        <button class="section-feature-card-button"  href='https://saagie.zendesk.com/hc/en-us/categories/360001159692-Projects-Jobs' class="blocks-item-link">Read more</button>
                                    </a>
                                </div>
                            </div>
                            <!--Data Storage-->
                            <div class="g-grid-item">
                                <div class="section-feature-card as--dataStorage">
                                    <a class="section-feature-card-content" href='https://saagie.zendesk.com/hc/en-us/categories/360001159732-Data-storage' class="blocks-item-link">
                                        <div class="section-feature-card-header">
                                            <span>feature</span>
                                            <h4>Data Storage</h4>
                                        </div>
                                        <button class="section-feature-card-button"  href='https://saagie.zendesk.com/hc/en-us/categories/360001159692-Projects-Jobs' class="blocks-item-link">Read more</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/is}}
                    {{/if}}
                </header>

                <div class="section-tree">
                    {{#each sections}}
                    <section class="section" id="section-{{id}}">
                        <h3 class="section-tree-title">
                            <a href="{{url}}">{{name}}</a>

                            <!--<span class="icon-lock" title="{{t 'internal'}}"></span>-->

                        </h3>
                      {{#if sections}}
                       <ul class="section-list">
                           {{#each sections}}
                              <li class="section-list-item"><a href="{{url}}">{{name}}</a></li>
                           {{/each}}
                       </ul>
               				{{/if}}
                        {{#if articles}}
                        <ul class="article-list">
                            {{#each articles}}
                            <li class="article-list-item{{#if promoted}} article-promoted{{/if}}">
                                {{#if promoted}}
                                <span data-title="{{t 'promoted'}}" class="icon-star"></span>
                                {{/if}}
                                <a href="{{url}}" class="article-list-link">{{title}}</a>
                            </li>
                            {{/each}}
                        </ul>
                        {{#if more_articles}}
                        <a href="{{url}}" class="see-all-articles">
                            {{t 'show_all_articles' count=article_count}}
                        </a>
                        {{/if}}
                        {{else}}
                        <i class="section-empty">
                            <p>Coming soon</p>
                        </i>
                        {{/if}}
                    </section>
                    {{else}}
                    <i class="category-empty">
                        {{#if category}}
                        {{#is category.name 'Troubleshooting' }}
                        {{else}}
                        <p>Coming soon</p>
                        {{/is}}
                        {{/if}}
                    </i>
                    {{/each}}
                </div>

            </div><!--categorie content or div-->
    </div>
</div>