<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search scoped=settings.scoped_kb_search submit=false placeholder="Looking for something specific?"}}
    </div>
  </nav>
</div>

<div class="container">
  <section id="category-hero" class="additional-resources-container" style="margin:10px 0 30px 0; padding: 0;">
    <div class="category-hero">
      <div class="category-hero-description-div">
        <h1 style="margin-bottom:0px; font-size:3vh">{{category.name}}</h1>
        <p style="color: #6e6e6e; font-weight:400; font-size:2.1vh; margin: 10px;">{{category.description}}</p>
        <a
          id="{{category.id}}"
          class="supportToolsLink"
          href="https://support.magento.com/hc/en-us/articles/4410899569165-Adobe-Commerce-support-tools-at-a-glance"
          class="btn btn-outline-primary btn-lg"
          style="font-size: 18px; display:none;" 
        >Learn more</a>
      </div>      
        <img
          src="{{asset category.id suffix=".svg"}}"
          class="category-hero-img"
          alt="Web Development"
        />
    </div>
  </section>
</div>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list" style="height:100%;">
        {{#each sections}}
          <li class="blocks-item">
            <a href='{{url}}' class="blocks-item-link">
              <span class="blocks-item-title link-container-header">{{name}}</span>
              <span class="blocks-item-description">{{description}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  </section>
</div>

<script>
 document.addEventListener('DOMContentLoaded', function() {
    let categoryId = document.getElementsByClassName('supportToolsLink')[0].getAttribute('id');
    if (categoryId == '360004245632'){
      document.getElementsByClassName('supportToolsLink')[0].style.display = 'block';
    }
  }, false);
</script>
