<div class="page-container home-page" id="main-content">
  <section class="section section--head">
    <div class="section__container">
      <nav class="section__nav">
        {{breadcrumbs}}
      </nav>

      <div class="section__category">
        <h1 class="section__title"><span>Tudo sobre</span> {{ category.name }}</h1>

        {{#if category.description}}
          <p>{{ category.description }}</p>
        {{/if}}
      </div>
    </div>
  </section>

  <section class="section section--topics">
    <div class="section__container">
      <div class="section__subjects">
        <ul>
          {{#each sections}}
            <li>
              <a href="#{{ name }}">{{ name }}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="section__articles">
        {{#each sections}}
          <section id="{{ name }}">
            <h2>{{ name }}</h2>

            {{#if articles}}
              <ul class="articles-list">
                {{#each articles}}
                  <li class="articles-list__item">
                    <a href="{{ url }}">{{ title }}</a>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </section>
        {{/each}}
      </div>
    </div>
  </section>
</div>
