<!-- CUSTOM SIDEBAR -->
<main class="main-sidebar" role="main">
<div id="sidebar" class="sidebar-panel">
  <ul class="sidebar">
    <li class="sidebar-item sidebar-home open">
      <a href="https://www.configura.com/academy/cet-designer" class="custom-sidebar-item-title" target="_blank">
        <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">school</i>
         Academy and training
      </a>
    </li>
    <li class="sidebar-item sidebar-home open">
      <a href="https://www.configura.com/products/system-recommendations/cet-designer" class="custom-sidebar-item-title" target="_blank">
        <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">computer</i>
         System recommendations
      </a>
    </li>
    <li class="sidebar-item sidebar-home open">
      <a href="https://www.configura.com/products/release-notes/cet-designer" class="custom-sidebar-item-title" target="_blank">
        <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">import_contacts</i>
         Release notes
      </a>
    </li>
    <li class="sidebar-item sidebar-home open custom-margin-bottom">
      <a href=" https://www.configura.com/my/forum" class="custom-sidebar-item-title" target="_blank">
        <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">forum</i>
         Forums
      </a>
    </li>
    <li :class="['sidebar-item', isOpen(category.id)]" v-if="category.id !== 360002370413" v-for='category in categories' :data-id='category.id'>
      <h4 class="sidebar-item-title" @click='setActiveSection(category.id)' v-cloak>{[{category.name}]}</h4>   
      <ul v-if='category.id === activeSection'>
        <li :class="['sidebar-item', isCurrent(section.id)]" v-for='section in category.sections'>
          <a :href='section.html_url' class="sidebar-item-link">
            {[{section.name}]} 
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
  
<!-- END CUSTOM SIDEBAR -->

<div class="container-divider"></div>
<div class="custom-container container">
    <nav class="sub-nav">
      {{breadcrumbs}}
      {{search scoped=settings.scoped_kb_search submit=false placeholder='Search for help articles, videos and more'}}
    </nav>
  <div class="category-container custom-category-container">
    <div class="category-content">
      <header class="page-header">
        <h1>{{category.name}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
      </header>
      <!-- CUSTOM CARDS -->
      <div class="custom-card-container">
        {{#each sections}}
        	<section class="custom-card small-card">
            	<a href="{{url}}" class="custom-card-link">
              			<div class="custom-card-logo-container">
						{{#is id 360006621153}} {{!-- Video Tutorials --}}
				   			<i class="material-icons black-icon">ondemand_video</i>
				  		{{else}}
				  			{{#is id 360005899854}} {{!-- Drawing in CET Designer --}}
					  			<i class="material-icons black-icon">brush</i>
							{{else}}
								{{#is id 360005926133}} {{!-- Component Tabs --}}
									<i class="material-icons black-icon">tab</i>
								{{else}}
									{{#is id 360005899834}} {{!-- Additional Extension --}}
										<i class="material-icons black-icon">layers</i>
									{{else}}
										{{#is id 360005931333}} {{!-- Calculations --}}
											<i class="material-icons black-icon">dialpad</i>
									{{else}}
										{{#is id 360003354354}} {{!-- FAQ --}}
											<i class="material-icons black-icon">help</i>
										{{else}}
											{{#is id 360006783753}} {{!-- Release Notes --}}
												<i class="material-icons black-icon">import_contacts</i>
											{{else}}
												{{#is id 360005926153}} {{!-- Paper View --}}
													<i class="material-icons black-icon">insert_photo</i>
												{{else}}
													{{#is id 360005926173}} {{!-- Photo Lab --}}
														<i class="material-icons black-icon">camera</i>
													{{else}}
														{{#is id 360006370833}} {{!-- Toolbar --}}
															<i class="material-icons black-icon">featured_play_list</i>
														{{else}}
															{{#is id 360006341834}} {{!-- Project --}}
																<i class="material-icons black-icon">assignment</i>
															{{else}}
																{{#is id 360006369353}} {{!-- Materials --}}
																	<i class="material-icons black-icon">style</i>
																{{else}}
																	{{#is id 360006341494}} {{!-- Features --}}
																		<i class="material-icons black-icon">stars</i>
																	{{else}}
																		{{#is id 360006369293}} {{!-- Keyboard Shortcuts --}}
																			<i class="material-icons black-icon">keyboard</i>
																		{{else}}
																			{{#is id 360006341474}} {{!-- Products --}}
																				<img class="material-icons black-icon" src="{{asset 'single_bed-24px.svg'}}" />
																			{{else}}
																				{{#is id 360006341054}} {{!-- Data Import --}}
																					<i class="material-icons black-icon">arrow_downward</i>
																				{{else}}
																					{{#is id 360006367853}} {{!-- Validation --}}
																						<img class="material-icons black-icon" src="{{asset 'done_outline-24px.svg'}}" />
																					{{else}}
																						{{#is id 360006367813}} {{!-- Product Catalogues --}}
																							<i class="material-icons black-icon">extension</i>
																						{{else}}
																							{{#is id 360006367793}} {{!-- Geometry --}}
																								<img class="material-icons black-icon" src="{{asset 'square_foot-24px.svg'}}" />
																							{{else}}
																								{{#is id 360006367773}} {{!-- Data Catalogues --}}
																									<i class="material-icons black-icon">code</i>
																								{{else}}
																									{{#is id 360006340154}} {{!-- Utilities --}}
																										<img class="material-icons black-icon" src="{{asset 'speed-24px.svg'}}" />
																									{{else}}
																										{{#is id 360006340134}} {{!-- Model Lab --}}
																											<i class="material-icons black-icon">invert_colors</i>
																										{{else}}
																											{{#is id 360006364813}} {{!--  Publish --}}
																												<i class="material-icons black-icon">cloud_upload</i>
																											{{else}}
																												{{#is id 360006338034}} {{!--  Control Panel --}}
																													<i class="material-icons black-icon">tune</i>
																												{{else}}
																													{{#is id 360006893993}} {{!--  Getting Started --}}
																														<i class="material-icons black-icon">power_settings_new</i>
																													{{else}}
																														{{#is id 360005905054}} {{!--  License Administration --}}
																															<img class="material-icons black-icon" src="{{asset 'how_to_reg-24px.svg'}}" />																															
																														{{else}}
																															{{#is id 360005516633}} {{!--  License Extension Management  --}}
																																<i class="material-icons black-icon">build</i>
																															{{else}}																																
																																{{#is id 360006893833}} {{!--  Toolbox Creator  --}}
																																	<i class="material-icons black-icon">create</i>
																																{{else}}
																																	{{#is id 360006845493}} {{!--  Getting Started --}}
																																		<i class="material-icons black-icon">power_settings_new</i>
																																	{{else}}
																																		<i class="material-icons black-icon">camera</i>
																																	{{/is}}
																																{{/is}}
																															{{/is}}
																														{{/is}}
																													{{/is}}
																												{{/is}}
																											{{/is}}
																										{{/is}}
																									{{/is}}
																								{{/is}}
																							{{/is}}
																						{{/is}}
																					{{/is}}
																				{{/is}}
																			{{/is}}
																		{{/is}}
																	{{/is}}	
																{{/is}}	
															{{/is}}	
														{{/is}}	
													{{/is}}	
												{{/is}}
											{{/is}}
										{{/is}}
									{{/is}}
								{{/is}}
							{{/is}}
						{{/is}}	
				  	{{/is}}
					</div>
					<h3 class="custom-card-title">
                		{{name}}
              		</h3>
              	</a>
      		<!-- END CUSTOM CARDS -->
			{{#if internal}}
				<span class="icon-lock" title="{{t 'internal'}}"></span>
			{{/if}}
        	</section>
		{{else}}
			<i class="category-empty">
				<a href="{{category.url}}">{{t 'empty'}}</a>
			</i>
		{{/each}}
		<div class="empty-div"></div>
      </div>
      <section class="custom-activity section activity">
    		{{#if settings.show_recent_activity}}
    			{{recent_activity scope='category'}}
  			{{/if}}
      </section>
    </div>
  </div>
</div>
<script>sidebar.$mount("main");</script>
</main>