<section class="section hero hero-category">
  <div class="container">
    <div class="row">
      <div class="">
        {{breadcrumbs}}
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{category.title}}" class="category-title h1">{{category.title}}</h1>
        {{#if category.description}}
          <p class="page-header-description">{{category.description}}</p>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{search scoped=true submit=false class="search search-full"}}
      </div>
    </div>
  </div>
</section>

<div id="main-content">
  <!-- subcategories -->
  {{#each sections}}
    {{#if articles}}
      <section class="section">
        <div class="container knowledge-base subcategories">
          <h2><a href="{{url}}">{{name}}</a></h2>
          <div class="categories-list row row-cols-md-3">
              {{#each articles}}
                <div class="single-category {{#if promoted}} article-promoted{{/if}}">
                  <div class="category-thumbnail bg-subtle">
                    <div class="category-icon">
                      <img src="{{../settings.category_icon}}">
                    </div>
                    <div class="category-copy">
                      <a href="{{url}}" class="article-list-link">
                        <span class="category-title">{{title}}</span>
                        <span class="category-description">{{excerpt description}}</span>
                      </a>
                    </div>
                  </div>
                </div>
              {{/each}}
              {{#if more_articles}}
                <a href="{{url}}" class="see-all-articles">
                  {{t 'show_all_articles' count=article_count}}
                </a>
              {{/if}}
          </div>
        </div>
      </section>
    {{/if}}
  {{/each}}
</div>