<div class="visibility-hidden">{{ breadcrumbs }}</div>
<section id="main-content" class="section hero" data-category="{{category.name}}">
  <div class="hero-inner">
    <div class="container">
      <div class="hero-heading">
        <h1 class="visibility-hidden" data-title=""></h1>
        <h2 data-title=""></h2>
        <p data-description=""></p>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="layout">
    <div class="sub-hero">
      <div class="sub-nav">
        {{breadcrumbs}}
      </div>
      <div class="search-wrapper small">
        {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Search for articles'}}
        <button class="btn btn-dark btn-large" onclick="document.querySelector('form[role=search]').submit()">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="layout">
    <div class="column">
      <div class="category-container">
        <div class="category-content">
          <header class="page-header">
            <div class="h2">Choose a category</div>
          </header>
        </div>
      </div>
    </div>
    <div class="column sidebar">
    </div>
  </div>
  <div class="layout">
    <div class="column">
      <div id="main-content" class="section-tree">
        {{#if sections}}
          <div class="item-cards">
          {{#each sections}}
            <a href='{{url}}' class="item-card" data-icon="{{ name }}">
              <div class="item-card-details">
                <div class="item-card-content">
                  <span class="item-card-title">{{name}}</span>
                  {{#if description}}
                    <span class="item-card-description">{{description}}</span>
                  {{/if}}
                </div>
                  {{#if articles}}
                  <div class="item-card-pills">
                    {{#each articles}}
                      <span class="item-card-pill" data-url="{{url}}">{{title}}</span>
                    {{/each}}
                  </div>
                  {{/if}}
              </div>
            </a>
          {{/each}}
        </div>
        {{else}}
          <i class="category-empty">
            <a href="{{category.url}}">{{t 'empty'}}</a>
          </i>
        {{/if}}
      </div>
    </div>
    <div class="column sidebar">
      <div class="item-cards">
        <a href="https://www.home-assistant.io/green" class="item-card product product-green" data-product-card-hide>
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Home Assistant Green</span>
              <span class="item-card-description">Click here to learn more about the device and where to buy</span>
            </div>
          </div>
        </a>
        <a href="https://www.home-assistant.io/yellow" class="item-card product product-yellow" data-product-card-hide>
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Home Assistant Yellow</span>
              <span class="item-card-description">Click here to learn more about the device and where to buy</span>
            </div>
          </div>
        </a>
        <a href="https://www.home-assistant.io/voice-pe" class="item-card product product-voice-preview-edition" data-product-card-hide>
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Home Assistant Voice Preview Edition</span>
              <span class="item-card-description">Click here to learn more about the device and where to buy</span>
            </div>
          </div>
        </a>
        <a href="https://www.home-assistant.io/connectzbt1" class="item-card product product-connect-zbt-1" data-product-card-hide>
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Home Assistant Connect ZBT-1</span>
              <span class="item-card-description">Click here to learn more about the device and where to buy</span>
            </div>
          </div>
        </a>
        <div class="item-card primary">
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Still need help?</span>
              <span class="item-card-description">Feel free to open a ticket and talk with our Customer Service team</span>
              {{#link 'new_request' class='item-card-button btn btn-primary'}}Submit a ticket{{/link}}
            </div>
          </div>
        </div>
        <div class="item-card">
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Our community</span>
              <span class="item-card-description">The community is happy to be of help, just visit the forums or join our Discord server</span>
              <div class="item-card-buttons">
                <a href="https://community.home-assistant.io" class="item-card-button btn btn-primary external-link" target="_blank" rel="noopener">Community forum</a>
                <a href="https://www.home-assistant.io/join-chat/" class="item-card-button btn btn-primary external-link" target="_blank" rel="noopener">Discord server</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  // item cards are anchors but have pills that can be clicked. Prevent the item card a from working if a pill is clicked
  document.querySelectorAll('.item-card').forEach(function(card) {
    const pills = card.querySelectorAll('.item-card-pill');
    // when hovering replace the href of the item card with data-url of the pill
    let defaultHref = card.getAttribute('href');

    pills.forEach(function(pill) {
      pill.addEventListener('mouseenter', function() {
        defaultHref = card.getAttribute('href');
        card.setAttribute('href', pill.getAttribute('data-url'));
      });
      pill.addEventListener('mouseleave', function() {
        card.setAttribute('href', defaultHref);
      });
    });
  });
</script>