<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search scoped=settings.scoped_community_search submit=false}}
  </nav>

  <div class="post-container">
    <div class="post">
      <article>
        <header class="post-header">
          <div class="post-title">
            <h1 title="{{post.title}}">
              {{post.title}}
              {{#if post.internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </h1>
            {{#if post.pinned}}
              <span class="status-label status-label-pinned">{{t 'pinned'}}</span>
            {{/if}}

            {{#if post.featured}}
              <span class="status-label status-label-featured">{{t 'featured'}}</span>
            {{/if}}

            {{#is post.status 'none'}}
            {{else}}
              <span class="status-label-{{post.status_dasherized}} status-label">{{post.status_name}}</span>
            {{/is}}
          </div>
          {{#if settings.show_follow_post}}
            <div class="community-follow">{{subscribe}}</div>
          {{/if}}
        </header>

        <section class="post-info-container">
          <div class="post-info">
            <div class="post-author">
              <div class="avatar post-avatar">
                {{#if post.author.agent}}
                  <span class="icon-agent"></span>
                {{/if}}
                <img src="{{post.author.avatar_url}}" alt="" class="user-avatar"/>
              </div>
              <div class="post-meta">
                <span title="{{post.author.name}}">
                  {{#link 'user_profile' id=post.author.id}}
                    {{post.author.name}}
                  {{/link}}
                </span>

                <ul class="meta-group">
                  {{#if post.editor}}
                    <li class="meta-data">{{date post.edited_at timeago=true}}</li>
                    <li class="meta-data">{{t 'edited'}}</li>
                  {{else}}
                    <li class="meta-data">{{date post.created_at timeago=true}}</li>
                  {{/if}}
                </ul>
              </div>

              {{#if post.pending}}
                <span class="status-label status-label-pending">{{t 'pending_approval'}}</span>
              {{/if}}

              {{#with post.ticket}}
                <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                  {{t 'request'}}{{id}}
                </a>
              {{/with}}
            </div>


            <div class="post-content">
              <div class="post-body">{{post.details}}</div>
            </div>
          </div>

          <div class="post-actions-wrapper">
            <div class="post-vote vote" role='radiogroup'>
              {{#with post}}
                {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" transform="scale(1,-1)">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                </svg>
                {{/vote}}
                {{vote 'sum' class='vote-sum'}}
                {{#vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                </svg>
                {{/vote}}
              {{/with}}
            </div>

            <div class="post-actions actions">
              {{post.actions}}
            </div>
          </div>
        </section>

        {{#if settings.show_post_sharing}}
          <footer class="post-footer">
            <div class="post-share">{{share}}</div>
            {{#if comments}}
              <a href="#comment-overview" class="post-comment-count">
                <span class="icon-comments"></span>
                {{post.comment_count}}
              </a>
            {{/if}}
          </footer>
        {{/if}}
      </article>

      <section class="comment-overview" id="comment-overview">
        <h2 class="comment-heading">
          {{t 'comments'}}
        </h2>
        <p class="comment-callout">{{t 'comments_count' count=post.comment_count}}</p>
        {{#if comments}}
          <div class="dropdown comment-sorter">
            <button class="dropdown-toggle" aria-haspopup="true">
              {{t 'sort_by'}}
            </button>
            <span class="dropdown-menu" role="menu">
              {{#each comment_sorters}}
                <a aria-selected="{{selected}}" href="{{url}}" role="menuitem">{{name}}</a>
              {{/each}}
            </span>
          </div>
        {{/if}}
      </section>

      <ul id="comments" class="comment-list">
        {{#each comments}}
          <li id="{{anchor}}" class="comment">
            <div class="comment-wrapper {{#if official}} comment-official {{/if}}">
              <div class="comment-info">
                {{#if official}}
                  <span class="comment-official status-label status-label-official">{{t 'official_comment'}}</span>
                {{/if}}

                <div class="comment-author">
                  <div class="avatar comment-avatar">
                    {{#if author.agent}}
                      <span class="icon-agent"></span>
                    {{/if}}
                    <img src="{{author.avatar_url}}" alt="" class="user-avatar"/>
                  </div>
                  <div class="comment-meta">
                    <span title="{{author.name}}">
                      {{#link 'user_profile' id=author.id}}
                        {{author.name}}
                      {{/link}}
                    </span>

                    <ul class="meta-group">
                      {{#if editor}}
                        <li class="meta-data">{{date edited_at timeago=true}}</li>
                        <li class="meta-data">{{t 'edited'}}</li>
                      {{else}}
                        <li class="meta-data">{{date created_at timeago=true}}</li>
                      {{/if}}
                    </ul>
                  </div>
                  <div class="comment-labels">
                    {{#with ticket}}
                      <a href="{{url}}" target="_zendesk_lotus" class="status-label escalation-badge">
                        {{t 'request'}} {{id}}
                      </a>
                    {{/with}}
                    {{#if pending}}
                      <span class="comment-pending status-label status-label-pending">{{t 'pending_approval'}}</span>
                    {{/if}}
                  </div>
                </div>

                <section class="comment-body">{{body}}</section>
              </div>

              <div class="comment-actions-container">
                {{#unless official}}
                  <div class="comment-vote vote" role='radiogroup'>
                    {{#vote 'up' role='radio' class='vote-up' selected_class='vote-voted'}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" transform="scale(1,-1)">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                    </svg>
                    {{/vote}}
                    {{vote 'sum' class='vote-sum'}}
                    {{#vote 'down' role='radio' class='vote-down' selected_class='vote-voted'}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16">
                      <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4 6.5l3.6 3.6c.2.2.5.2.7 0L12 6.5"/>
                    </svg>
                    {{/vote}}
                  </div>
                {{/unless}}
                <div class="comment-actions actions">
                  {{actions}}
                </div>
              </div>
            </div>
          </li>
        {{/each}}
      </ul>

      {{pagination}}

      <section class="post-comments">
        {{#form 'comment' class='comment-form'}}
          <div class="avatar comment-avatar">
            {{user_avatar class='user-avatar'}}
          </div>
          <div class="comment-container">
            {{wysiwyg 'body'}}
            <div class="comment-form-controls">
              {{checkbox 'official'}}
              {{label 'official'}}
              {{input type='submit'}}
            </div>
          </div>
        {{/form}}
      </section>

      <p class="comment-callout">{{comment_callout}}</p>
    </div>

    <section class="post-sidebar">
      <h2 class="post-sidebar-title">{{t 'suggest_new_post'}}</h2>
      <span class="post-to-community">
        {{link 'new_post' role='button' class='button-large'}}
      </span>
    </section>
  </div>
</div>
