<div class="my-activities-nav">
  <div class="container">
    <nav class="collapsible-nav">
      <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button>
      <ul class="collapsible-nav-list">
        {{#if help_center.request_management_enabled}}
          <li>{{link 'requests'}}</li>
        {{/if}}
        <li aria-selected=true>{{t 'contributions'}}</li>
        <li>{{link 'subscriptions'}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <header class="my-activities-header">
    <h1>{{t 'contributions'}}</h1>

    <div class="my-activities-sub-nav">
      <nav class="collapsible-nav collapsible-nav-border">
        <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button>
        <ul class="collapsible-nav-list">
          {{#each filters}}
            {{#if selected}}
              <li class="current">
                <a href="{{url}}" aria-current="page">{{name}}</a>
              </li>
            {{else}}
              <li>
                <a href="{{url}}">{{name}}</a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </nav>
    </div>
  </header>

  <div class="requests">
    {{#if contributions}}
      <table class="table my-activities-table contributions-table">
        <thead>
          <tr>
            <th>{{t 'title'}}</th>
            <th>{{t 'type'}}</th>
            <th>{{t 'vote_sum'}}</th>
            <th>{{t 'last_activity'}}</th>
            <th>{{t 'created'}}</th>
          </tr>
        </thead>
        <tbody>
          {{#each contributions}}
            <tr>
              <td>
                <a href="{{url}}" class="striped-list-title" title="{{title}}">
                  {{excerpt title characters=60}}
                </a>
              </td>
              <td>{{type}}</td>
              <td>{{vote_sum}}</td>
              <td>{{date last_activity_at}}</td>
              <td>{{date created_at}}</td>
            </tr>
          {{/each}}
      </tbody>
    </table>
    {{else}}
      <p class="no-activities">{{t 'no_contributions'}}</p>
    {{/if}}
  </div>

  {{pagination}}

</div>
