<div class="container-divider"></div>
<div id="main-content" class="error-page">
  <h1>{{t 'oops'}}</h1>

  {{#is error 'unauthorized'}}
    <h2>{{link 'sign_in'}}</h2>
  {{/is}}

  {{#is error 'forbidden'}}
    <h2>{{t 'not_authorized'}}</h2>
  {{/is}}

  {{#is error 'not_found'}}
    <h2>{{t 'nonexistent_page'}}</h2>
    <p>{{t 'mistyped_address_or_moved_page'}}</p>
  {{/is}}

  {{#link 'help_center'}}
    {{t 'back_to_homepage'}}
  {{/link}}
</div>
