<!-- Custom footer -->
<div id="footer" class="custom-footer-container">
  <div class="container custom-support-team-container">
    <img class="custom-support-team-banner" src="{{ asset 'support_team.jpg' }}"/>
  </div>
  {{dc 'contact_us'}}
  <footer class="custom-footer footer">
    <div class="container custom-footer-inner footer-inner">
      <div class="custom-footer-logo">
        {{#link 'help_center' class='custom-logo logo'}}
          <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
        {{/link}}
      </div>
      {{dc 'footer'}}
      <div class="custom-footer-socialmedia-container">
        <div class="custom-socialmedia-icon">
          <a href="https://www.facebook.com/ConfiguraIntl/" rel="noopener noreferrer"
              target="_blank" title="Configura on Facebook">
            <img class="custom-socialmedia-icon" src="{{asset 'facebook.svg'}}" />
          </a>
          <a href="https://www.twitter.com/configura" rel="noopener noreferrer"
            target="_blank" title="Configura on Twitter">
            <img class="custom-socialmedia-icon" src="{{asset 'twitter.svg'}}" />
          </a>
          <a href="https://www.instagram.com/configurans/" rel="noopener noreferrer"
            target="_blank" title="Configura on Instagram">
            <img class="custom-socialmedia-icon" src="{{asset 'instagram.svg'}}" />
          </a>
            <a href="https://www.linkedin.com/company/configura" rel="noopener noreferrer"
              target="_blank" title="Configura on Linkedin">
              <img class="custom-socialmedia-icon" src="{{asset 'linked_in.svg'}}" />
          </a>
        </div>
      </div>
    <div class="custom-copyright-container">
      <div>{{dc 'copyright'}}</div>
      <div>
        <a href="https://www.configura.com/legal-terms">{{dc 'legal_terms'}}</a>
        <a href="https://www.configura.com/privacy-notice">{{dc 'privacy_notice'}}</a>
        <a href="https://www.configura.com/terms-of-use">{{dc 'terms_of_use'}}</a>
      </div>
    </div>
  </div>
  </footer>
</div>
