<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col">
        <hr style="margin: 32px 0;">
      </div>
    </div>
    <div class="row" style="padding-bottom: 64px;">

      <div class="col">
        {{#link 'help_center'}}
          <img src="{{settings.logo_inverse}}" style="width: 180px;">
        {{/link}}
      </div>

      <div class="col">
        <ul>
          {{#link 'new_request'}}
            <li>
              <h6>
                Submit a request
              </h6>
            </li>
          {{/link}}
          <li>
            <h6>
              <a href="https://fzo.statuspage.io/">
              Status page
              </a>
            </h6>
          </li>
          <li>
            <h6>
              <a href="{{settings.website}}">
                Back to {{settings.website_string}}
              </a>
            </h6>
          </li>
        </ul>
      </div>

      <div class="col">
        <ul>
          <li>
            <h6>
              <a href="{{settings.contact_link}}">
                Contact us
              </a>
            </h6>
          </li>
          <li>
            <h6>
              {{#if settings.show_facebook_link}}
                <a href="{{settings.facebook_link}}">
                  <i class="fa fa-brands fab fa-lg fa-facebook-square me-3" style="margin-right: 0.5em;"></i>
                </a>
              {{/if}}
              {{#if settings.show_linkedin_link}}
                <a href="{{settings.linkedin_link}}">
                  <i class="fa fa-brands fab fa-lg fa-linkedin me-3" style="margin-right: 0.5em;"></i>
                </a>
              {{/if}}
              {{#if settings.show_youtube_link}}
                <a href="{{settings.youtube_link}}">
                  <i class="fa fa-brands fab fa-lg fa-youtube-square me-3" style="margin-right: 0.5em;"></i>
                </a>
              {{/if}}
              {{#if settings.show_xitter_link}}
                <a href="{{settings.xitter_link}}">
                  <i class="fa fa-brands fab fa-lg fa-x-twitter"></i>
                </a>
              {{/if}}
            </h6>
          </li>
        </ul>
      </div>
    </div>
    {{#if settings.copyright_message}}
    <div class="row">
      <div class="col">
        &copy; <span id="currentYear"></span> {{settings.copyright_message}}
      </div>
    </div>
    {{/if}}
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function() {
      const span = document.getElementById('currentYear');
      const year = new Date().getFullYear();
      span.textContent = year;
  });
</script>
