<footer class="footer">
  <div class="footer-inner">
    <div class="footer-inner-item">
    <a href="https://www.saagie.com/" target="_blank"role="Official Site">©2019 Saagie</a>
    </div>
    <div class="footer-inner-item">
    <ul class="footer__social">
            <li>
    <a href="//github.com/saagie" title="Github" target="_blank">
        <img width="24" height="24" src="{{asset 'github-logo.png'}}" alt="Github">
    </a>
</li>
<li>
    <a href="//linkedin.com/company/3231705" title="LinkedIn" target="_blank">
        <img width="24" height="24" src="{{asset 'linkedin-logo.png'}}" alt="LinkedIn">
    </a>
</li>
<li>
    <a href="//twitter.com/saagie_io" title="Twitter" target="_blank">
        <img width="24" height="24" src="{{asset 'twitter-logo.png'}}" alt="Twitter">
    </a>
</li>        </ul>
    </div>
    <div class="footer-language-selector">
      {{#if alternative_locales}}
        <div class="dropdown language-selector" aria-haspopup="true">
          <a class="dropdown-toggle">
            {{current_locale.name}}
          </a>
          <span class="dropdown-menu dropdown-menu-end" role="menu">
            {{#each alternative_locales}}
              <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                {{name}}
              </a>
            {{/each}}
          </span>
        </div>
      {{/if}}
    </div>
  </div>
</footer>