<header class="header" id="header-nav-bar">
    <div class="snmk-container">
        <div
            class="snmk-col-10 snmk-col-l-10 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1 font-bw-2 first-bar font-1">
            <div class="not-pc bar-burger burger" onclick="toggleCollectionIcon()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="logo">
                {{#isnt help_center.locale 'zh-cn'}}
                    <a href="https://snapmaker.com/" class="iconfont" style="color: #070707">&#xe618;</a>
                {{/isnt}}
                {{#is help_center.locale 'zh-cn'}}
                    <a href="https://snapmaker.cn/" class="iconfont" style="color: #070707">&#xe618;</a>
                {{/is}}
            </div>

            <nav class="menus">
                {{#isnt help_center.locale 'zh-cn'}}
                    <a class="menu" href="https://snapmaker.com/products">
                        {{dc 'header_first_bar_first_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.com/snapmaker-luban">
                        {{dc 'header_first_bar_second_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="/hc/{{help_center.locale}}">
                        {{dc 'header_first_bar_third_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.com/community">
                        {{dc 'header_first_bar_fourth_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                {{/isnt}}
                {{#is help_center.locale 'zh-cn'}}
                    <a class="menu" href="https://snapmaker.cn/products">
                        {{dc 'header_first_bar_first_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.com/snapmaker-luban">
                        {{dc 'header_first_bar_second_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="/hc/{{help_center.locale}}">
                        {{dc 'header_first_bar_third_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.cn/community">
                        {{dc 'header_first_bar_fourth_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                {{/is}}
            </nav>

            {{#isnt help_center.locale 'zh-cn'}}
                <a style="color: white;min-width: auto" class="snmk-primary-btn my-s shop-btn" href="https://us.snapmaker.com/"
                    target="'_blank'">
                    {{dc 'header_store_button_text'}}
                </a>
            {{/isnt}}
            {{#is help_center.locale 'zh-cn'}}
                <a style="color: white;min-width: auto" class="snmk-primary-btn my-s" href="https://snapmaker.tmall.com/?spm=a1z10.3-b.w5001-21696184167.3.40be7f386PAuCQ&scene=taobao_shop"
                    target="'_blank'">
                    {{dc 'header_store_button_text'}}
                </a>
            {{/is}}
        </div>


        <script>
            window.mobSubNavText  = ['{{dc 'header_second_bar_product_support'}}', '{{dc 'header_second_bar_software_support'}}', '{{dc 'header_second_bar_academy'}}', '{{dc 'header_second_bar_service'}}', '{{dc 'header_second_bar_still_need_help'}}']
        </script>
        <div id="second-nav-bar" style="display: none;"
            class="snmk-col-10 snmk-col-l-10 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1 font-bw-2 second-bar font-3">
            <div class="vertical-center font-bw-1 title-3 bold mob-w-100" style="justify-content: space-between;">
                <a class="" href="http://support.snapmaker.com/hc/{{help_center.locale}}">Support</a>
                <span class="sub-nav-item not-pc" onclick="toggleSecondBarCollection()">
                    <span id="sub-nav-curr-text">{{dc 'header_second_bar_product_support'}}</span>
                    <span id="second-bar-icon" class="iconfont not-pc ml-xs font-bw-2">&#xe7b2;</span>
                </span>
            </div>
            <div class="right-nav">
                <div class="nav-items">
                    <a href="https://support.snapmaker.com/hc/{{help_center.locale}}#product-support" id="product_support" class="nav-item" onclick="onClickMask()">
                       {{dc 'header_second_bar_product_support'}}
                    </a>
                    <a href="https://wiki.snapmaker.com/" id="wiki" class="ml-2xl nav-item" onclick="onClickMask()">Wiki</a>
                    <a href="https://www.snapmaker.com/en-US/snapmaker-luban" id="software_support" class="ml-2xl nav-item" onclick="onClickMask()">{{dc 'header_second_bar_software_support'}}</a>
                   {{!-- <a href="https://support.snapmaker.com/hc/{{help_center.locale}}#software-support" id="software_support" class="ml-2xl nav-item" onclick="onClickMask()">{{dc 'header_second_bar_software_support'}}</a> --}}
                    <a href="https://support.snapmaker.com/hc/{{help_center.locale}}#academy" id="bar_academy" class="ml-2xl nav-item" onclick="onClickMask()">{{dc 'header_second_bar_academy'}}</a>
                    <a href="https://support.snapmaker.com/hc/{{help_center.locale}}#service" id="bar_service" class="ml-2xl nav-item" onclick="onClickMask()">{{dc 'header_second_bar_service'}}</a>
                    <a href="https://support.snapmaker.com/hc/{{help_center.locale}}#still-need-help" id="still_need_help" class="ml-2xl nav-item" onclick="onClickMask()">{{dc 'header_second_bar_still_need_help'}}</a>
                </div>

                {{!-- {{#if signed_in}}
                    <div class="user-info dropdown ml-l">
                        <button class="dropdown-toggle" aria-haspopup="true">
                            {{user_avatar class="user-avatar"}}
                            <span class="hide-on-mobile font-bw-2">
                                {{user_name}}
                            </span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            {{link "my_activities" role="menuitem"}}
                            {{my_profile role="menuitem"}}
                            {{change_password role="menuitem"}}
                            {{link "sign_out" role="menuitem"}}
                        </div>
                    </div>
                {{else}}
                    {{#link "sign_in" class="sign-in ml-l"}}
                        {{t 'sign_in'}}
                    {{/link}}
                {{/if}} --}}
            </div>
        </div>
    </div>
</header>

<div class="mask" onclick="onClickMask()"></div>

<div id="announcement-modal" class="modal-wrapper">
    <span class="close-icon mt-m mr-m iconfont" onclick="closeAnnouncementModal()">&#xe61e;</span>
    <div class="modal-body my-xl mx-2xl">
        {{dc 'announcement_modal'}}
    </div>
</div>