<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="header-content">
    <div class="logo">
      {{#link 'help_center'}}
        <svg width="1467px" height="231px" viewBox="0 0 1467 231" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="White-Logo-Sliced" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="White-Logo">
                    <path d="M205.9263,97.2686 L259.2853,4.8476 C260.4863,2.7686 258.9863,0.1706 256.5853,0.1706 L150.4853,0.1706 C148.0853,0.1706 146.5853,2.7686 147.7853,4.8476 L201.1443,97.2686 C202.2073,99.1086 204.8643,99.1086 205.9263,97.2686" id="Fill-2" fill="#1ED699"></path>
                    <path d="M201.1445,130.8577 L147.7855,223.2787 C146.5845,225.3577 148.0845,227.9557 150.4845,227.9557 L256.5855,227.9557 C258.9855,227.9557 260.4855,225.3577 259.2855,223.2787 L205.9265,130.8577 C204.8635,129.0167 202.2065,129.0167 201.1445,130.8577" id="Fill-4" fill="#1ED699"></path>
                    <path d="M107.0859,0.0445897285 L3.5309,0.1646 C1.1329,0.1676 -0.3641,2.7636 0.8349,4.8416 L52.6119,94.5216 C55.0719,98.7836 59.6219,101.4056 64.5419,101.400607 L168.0969,101.2806 C170.4949,101.2776 171.9919,98.6806 170.7929,96.6036 L119.0159,6.9236 C116.5549,2.6616 112.0059,0.0386 107.0859,0.0445897285" id="Fill-6" fill="#1ED699"></path>
                    <path d="M52.6123,133.5364 L0.8383,223.2114 C-0.3617,225.2894 1.1383,227.8874 3.5383,227.8874 L107.0293,227.8874 C111.9383,227.8874 116.4753,225.2714 118.9353,221.0224 L170.7843,131.4574 C171.9863,129.3804 170.4893,126.7804 168.0893,126.7774 L64.5423,126.65839 C59.6213,126.6524 55.0723,129.2754 52.6123,133.5364" id="Fill-8" fill="#1ED699"></path>
                    <path d="M446.4863,60.3694 C470.8773,60.3694 488.1443,71.8404 493.8593,91.8424 L493.9513,92.1644 L497.2663,95.4794 L519.9433,95.4794 L523.4913,91.9304 L523.3823,91.2754 C517.4423,55.6254 487.9773,33.4794 446.4863,33.4794 C391.5603,33.4794 356.0693,72.1504 356.0693,132.0004 C356.0693,191.8484 391.5603,230.5204 446.4863,230.5204 C488.3243,230.5204 517.0703,207.9044 523.3823,170.0234 L523.4913,169.3684 L519.9433,165.8194 L497.2663,165.8194 L493.9513,169.1344 L493.8593,169.4564 C487.3803,192.1324 471.4413,203.6304 446.4863,203.6304 C408.3983,203.6304 385.6583,176.8534 385.6583,132.0004 C385.6583,87.1474 408.3983,60.3694 446.4863,60.3694" id="Fill-10" fill="#FFFFFF"></path>
                    <path d="M633.1021,90.1961 L629.6441,93.6531 L629.6441,159.0081 C629.6441,187.7831 618.5941,203.6301 598.5261,203.6301 C581.4611,203.6301 572.8101,193.1611 572.8101,172.5121 L572.8101,93.6531 L569.3521,90.1961 L546.6771,90.1961 L543.2171,93.6531 L543.2171,172.5121 C543.2171,224.8691 580.0061,230.5211 595.8241,230.5211 C615.7991,230.5211 626.6921,217.3081 628.9031,214.3161 L629.9281,214.3161 L632.4701,224.4871 L635.8021,227.8191 L655.7771,227.8191 L659.2361,224.3621 L659.2361,93.6531 L655.7771,90.1961 L633.1021,90.1961 Z" id="Fill-12" fill="#FFFFFF"></path>
                    <path d="M747.9102,90.1961 C729.6592,90.1961 720.9322,95.1401 712.2662,103.7011 L711.1072,103.7011 L708.5652,93.5281 L705.2312,90.1961 L685.2572,90.1961 L681.8002,93.6531 L681.8002,224.3621 L685.2572,227.8191 L707.9332,227.8191 L711.3892,224.3621 L711.3892,156.3071 C711.3892,132.7651 717.1412,117.0861 745.2102,117.0861 L759.2482,117.0861 L762.7052,113.6281 L762.7052,93.6531 L759.2482,90.1961 L747.9102,90.1961 Z" id="Fill-14" fill="#FFFFFF"></path>
                    <path d="M849.1367,90.1961 C830.8857,90.1961 822.1587,95.1401 813.4927,103.7011 L812.3337,103.7011 L809.7917,93.5281 L806.4567,90.1961 L786.4837,90.1961 L783.0267,93.6531 L783.0267,224.3621 L786.4837,227.8191 L809.1597,227.8191 L812.6157,224.3621 L812.6157,156.3071 C812.6157,132.7651 818.3677,117.0861 846.4367,117.0861 L860.4747,117.0861 L863.9317,113.6281 L863.9317,93.6531 L860.4747,90.1961 L849.1367,90.1961 Z" id="Fill-16" fill="#FFFFFF"></path>
                    <path d="M965.0723,144.973 L963.1323,146.914 L904.7843,146.914 L902.8433,144.973 C902.9573,137.118 905.7503,114.385 933.9573,114.385 C962.1663,114.385 964.9593,137.118 965.0723,144.973 M933.9573,87.496 C887.2053,87.496 870.5473,124.437 870.5473,159.008 C870.5473,203.119 895.8803,230.521 936.6583,230.521 C971.2603,230.521 989.3643,209.605 991.9573,188.877 L992.0353,188.251 L988.5083,184.725 L965.8333,184.725 L962.7543,187.804 L962.4683,188.237 C957.0093,201.881 945.8073,203.63 936.6583,203.63 C905.2273,203.63 903.0053,177.254 902.8503,173.036 L904.7843,171.103 L993.9103,171.103 L997.3673,167.646 L997.3673,159.008 C997.3673,124.437 980.7103,87.496 933.9573,87.496" id="Fill-18" fill="#FFFFFF"></path>
                    <path d="M1080.1963,87.4962 C1057.8033,87.4962 1046.6583,100.7092 1044.4233,103.7012 L1043.3943,103.7012 L1040.8523,93.5282 L1037.5183,90.1962 L1017.5433,90.1962 L1014.0863,93.6532 L1014.0863,224.3612 L1017.5433,227.8192 L1040.2203,227.8192 L1043.6763,224.3612 L1043.6763,159.0082 C1043.6763,127.7302 1053.7913,114.3852 1077.4963,114.3852 C1100.5473,114.3852 1103.2133,132.1452 1103.2133,145.5042 L1103.2133,224.3612 L1106.6703,227.8192 L1129.3453,227.8192 L1132.8023,224.3612 L1132.8023,145.5042 C1132.8023,107.5552 1114.6123,87.4962 1080.1963,87.4962" id="Fill-20" fill="#FFFFFF"></path>
                    <polygon id="Fill-22" fill="#FFFFFF" points="1230.3281 156.7921 1268.1401 113.5791 1268.1401 93.6531 1264.6811 90.1961 1255.7381 90.1961 1250.0641 93.0331 1212.2441 136.1101 1210.7171 136.1101 1173.2901 93.3371 1167.2221 90.1961 1158.2791 90.1961 1154.8231 93.6531 1154.8231 113.5791 1192.6341 156.7921 1192.6341 158.5201 1152.1211 204.4341 1152.1211 224.3621 1155.5801 227.8191 1164.5201 227.8191 1170.1951 224.9821 1210.7141 179.2051 1212.2481 179.2051 1252.3741 224.6811 1258.4391 227.8191 1267.3831 227.8191 1270.8401 224.3621 1270.8401 204.4341 1230.3281 158.5201"></polygon>
                    <polygon id="Fill-24" fill="#FFFFFF" points="1293.6152 41.5823 1290.1592 45.0393 1290.1592 67.7153 1293.6152 71.1723 1316.2922 71.1723 1319.7502 67.7153 1319.7502 45.0393 1316.2922 41.5823"></polygon>
                    <polygon id="Fill-26" fill="#FFFFFF" points="1293.6152 90.1961 1290.1592 93.6531 1290.1592 224.3621 1293.6152 227.8191 1316.2922 227.8191 1319.7502 224.3621 1319.7502 93.6531 1316.2922 90.1961"></polygon>
                    <path d="M1433.793,144.973 L1431.853,146.914 L1373.504,146.914 L1371.564,144.973 C1371.677,137.118 1374.47,114.385 1402.678,114.385 C1430.886,114.385 1433.68,137.118 1433.793,144.973 M1402.678,87.496 C1355.925,87.496 1339.268,124.437 1339.268,159.008 C1339.268,203.119 1364.6,230.521 1405.379,230.521 C1439.98,230.521 1458.085,209.605 1460.678,188.877 L1460.756,188.251 L1457.229,184.725 L1434.554,184.725 L1431.474,187.804 L1431.188,188.237 C1425.73,201.881 1414.527,203.63 1405.379,203.63 C1373.948,203.63 1371.725,177.254 1371.571,173.036 L1373.504,171.103 L1462.631,171.103 L1466.087,167.646 L1466.087,159.008 C1466.087,124.437 1449.43,87.496 1402.678,87.496" id="Fill-28" fill="#FFFFFF"></path>
                </g>
            </g>
        </svg>
        {{#if settings.show_brand_name}}
          <span aria-hidden="true">{{help_center.name}}</span>
        {{/if}}
      {{/link}}
    </div>
    <div class="nav-wrapper">
      <nav class="user-nav" id="user-nav">
        {{link 'community'}}
        {{link 'new_request' class='submit-a-request'}}
      </nav>
      {{#if signed_in}}
        <div class="user-info dropdown">
          <button class="dropdown-toggle" aria-haspopup="true">
            {{user_avatar class="user-avatar"}}
            <span class="hide-on-mobile">
              {{user_name}}
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
              </svg>
            </span>
          </button>
          <div class="dropdown-menu" role="menu">
            {{link "my_activities" role="menuitem"}}
            {{my_profile role="menuitem"}}
            {{contact_details role="menuitem"}}
            {{change_password role="menuitem"}}
            {{link "sign_out" role="menuitem"}}
          </div>
        </div>
      {{else}}
        {{#link "sign_in" class="sign-in"}}
          {{t 'sign_in'}}
        {{/link}}
      {{/if}}
      <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
          <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
        </svg>
      </button>
    </div>
  </div>
</header>
