<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}" />
      {{#if settings.show_brand_name}}
        <span aria-hidden="true">{{help_center.name}}</span>
      {{/if}}
    {{/link}}
  </div>

  <div class="nav-wrapper-desktop">
    <nav class="user-nav" id="user-nav" aria-label="{{t 'user_navigation'}}">
      <ul class="user-nav-list">
        <li>
            <div class="footer-language-selector">
                {{#if alternative_locales}}
                    <div class="dropdown language-selector">
                        <button class="dropdown-toggle" aria-haspopup="true">
                            {{current_locale.name}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
                            </svg>
                        </button>
                        <span class="dropdown-menu dropdown-menu-end" role="menu">
                            {{#each alternative_locales}}
                                <a href="{{url}}" dir="{{direction}}" rel="nofollow" role="menuitem">
                                    {{name}}
                                </a>
                            {{/each}}
                        </span>
                    </div>
                {{/if}}
            </div>
        </li>
        <li>
            <a href="https://www.meloncube.net/support/" class="support-link" target="_blank">
                Get 24/7 Support
                <span class="support-pill">Avg 15 min</span>
            </a>
        </li>
        {{#if signed_in}}
            <div class="user-info">
                {{#my_profile}}
                    <svg class="user-avatar" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
                        <path d="M9 0.400391C13.4735 0.400391 17.0996 4.02649 17.0996 8.5C17.0996 11.3789 15.5964 13.9044 13.334 15.3408C13.3085 15.357 13.2738 15.3801 13.2441 15.3984V15.3994C13.1713 15.4443 13.0971 15.4866 13.0244 15.5283C12.9912 15.5474 12.9542 15.5698 12.918 15.5898C12.8482 15.6285 12.7772 15.6645 12.708 15.7002C12.6654 15.7222 12.6219 15.744 12.5781 15.7656C12.5152 15.7967 12.452 15.8272 12.3887 15.8564C12.3361 15.8807 12.2823 15.9053 12.2285 15.9287C12.1654 15.9562 12.1019 15.9823 12.0391 16.0078C11.9852 16.0296 11.9302 16.0513 11.875 16.0723C11.8122 16.0961 11.7485 16.1191 11.6846 16.1416C11.6315 16.1603 11.5782 16.1787 11.5244 16.1963C11.4517 16.2201 11.3784 16.2438 11.3047 16.2656C11.2547 16.2805 11.2043 16.2938 11.1543 16.3076C11.0903 16.3252 11.0255 16.3431 10.96 16.3594C10.8859 16.3778 10.8113 16.3942 10.7383 16.4102C10.6774 16.4235 10.6125 16.4387 10.5479 16.4512C10.5355 16.4536 10.5159 16.4572 10.501 16.46C10.3942 16.48 10.2866 16.4979 10.1787 16.5137C10.1581 16.5167 10.1359 16.5195 10.1143 16.5225C10.0045 16.5376 9.89324 16.5518 9.78125 16.5625C9.77496 16.5631 9.7688 16.5631 9.76367 16.5635C9.75813 16.5639 9.75336 16.565 9.74902 16.5654C9.63207 16.5762 9.5142 16.5841 9.39551 16.5898C9.38972 16.5901 9.38371 16.5908 9.37988 16.5908C9.37584 16.5909 9.37337 16.5907 9.37109 16.5908C9.2486 16.5963 9.1248 16.5996 9 16.5996C8.875 16.5996 8.75066 16.5964 8.62793 16.5908C8.62569 16.5907 8.62319 16.5909 8.61914 16.5908C8.61531 16.5908 8.6093 16.5901 8.60352 16.5898C8.48484 16.5841 8.36697 16.5762 8.25 16.5654C8.24567 16.565 8.24091 16.5639 8.23535 16.5635C8.2302 16.5631 8.22406 16.5631 8.21777 16.5625C8.10573 16.5518 7.99463 16.5376 7.88477 16.5225C7.86333 16.5195 7.84177 16.5167 7.82129 16.5137C7.71333 16.4979 7.60495 16.48 7.49805 16.46C7.48337 16.4572 7.4645 16.4536 7.45215 16.4512C7.38746 16.4386 7.32176 16.4235 7.26074 16.4102C7.18792 16.3942 7.11384 16.3777 7.04004 16.3594C6.97446 16.3431 6.90878 16.3253 6.84473 16.3076C6.79498 16.2939 6.74503 16.2804 6.69531 16.2656C6.62166 16.2438 6.54825 16.2201 6.47559 16.1963C6.42165 16.1786 6.36779 16.1604 6.31445 16.1416C6.25044 16.1191 6.18692 16.0962 6.12402 16.0723C6.06906 16.0514 6.01461 16.0296 5.96094 16.0078C5.89798 15.9823 5.83376 15.9562 5.77051 15.9287C5.71682 15.9053 5.66388 15.8807 5.61133 15.8564C5.54788 15.8272 5.48393 15.7967 5.4209 15.7656C5.37719 15.744 5.33357 15.7222 5.29102 15.7002C5.22207 15.6646 5.15156 15.6283 5.08203 15.5898C5.04577 15.5697 5.00794 15.5475 4.97461 15.5283C4.902 15.4866 4.82864 15.4433 4.75586 15.3984C4.72603 15.38 4.69067 15.3571 4.66504 15.3408C2.40292 13.9044 0.900391 11.3786 0.900391 8.5C0.900391 4.02649 4.52649 0.400391 9 0.400391ZM9 1.2666C5.00514 1.2666 1.7666 4.50514 1.7666 8.5C1.7666 10.525 2.60119 12.3529 3.94238 13.666C4.97395 11.9499 6.85148 10.7998 9 10.7998C11.1484 10.7998 13.025 11.9501 14.0566 13.666C15.3981 12.3529 16.2334 10.5252 16.2334 8.5C16.2334 4.50514 12.9949 1.2666 9 1.2666ZM9 3.54688C10.7635 3.54688 12.1931 4.9759 12.1934 6.73926C12.1934 8.50286 10.7637 9.93359 9 9.93359C7.23634 9.93359 5.80664 8.50286 5.80664 6.73926C5.80694 4.9759 7.23655 3.54688 9 3.54688Z" fill="#ADADAD" stroke="#ADADAD" stroke-width="0.2"/>
                    </svg>
                    <span class="account-span">Account</span>
                {{/my_profile}}
            </div>
        {{else}}
            <a href="" class="sign-in-btn">
                {{t 'sign_in'}}
            </a>
        {{/if}}
        <li>
            <a href="https://games.bisecthosting.com/" target="_blank" class="panel-btn">
                Panel
            </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="nav-wrapper-mobile">
    <button class="menu-button-mobile" aria-controls="user-nav-mobile" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      {{#if signed_in}}
          <svg class="user-avatar" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none">
              <path d="M9 0.400391C13.4735 0.400391 17.0996 4.02649 17.0996 8.5C17.0996 11.3789 15.5964 13.9044 13.334 15.3408C13.3085 15.357 13.2738 15.3801 13.2441 15.3984V15.3994C13.1713 15.4443 13.0971 15.4866 13.0244 15.5283C12.9912 15.5474 12.9542 15.5698 12.918 15.5898C12.8482 15.6285 12.7772 15.6645 12.708 15.7002C12.6654 15.7222 12.6219 15.744 12.5781 15.7656C12.5152 15.7967 12.452 15.8272 12.3887 15.8564C12.3361 15.8807 12.2823 15.9053 12.2285 15.9287C12.1654 15.9562 12.1019 15.9823 12.0391 16.0078C11.9852 16.0296 11.9302 16.0513 11.875 16.0723C11.8122 16.0961 11.7485 16.1191 11.6846 16.1416C11.6315 16.1603 11.5782 16.1787 11.5244 16.1963C11.4517 16.2201 11.3784 16.2438 11.3047 16.2656C11.2547 16.2805 11.2043 16.2938 11.1543 16.3076C11.0903 16.3252 11.0255 16.3431 10.96 16.3594C10.8859 16.3778 10.8113 16.3942 10.7383 16.4102C10.6774 16.4235 10.6125 16.4387 10.5479 16.4512C10.5355 16.4536 10.5159 16.4572 10.501 16.46C10.3942 16.48 10.2866 16.4979 10.1787 16.5137C10.1581 16.5167 10.1359 16.5195 10.1143 16.5225C10.0045 16.5376 9.89324 16.5518 9.78125 16.5625C9.77496 16.5631 9.7688 16.5631 9.76367 16.5635C9.75813 16.5639 9.75336 16.565 9.74902 16.5654C9.63207 16.5762 9.5142 16.5841 9.39551 16.5898C9.38972 16.5901 9.38371 16.5908 9.37988 16.5908C9.37584 16.5909 9.37337 16.5907 9.37109 16.5908C9.2486 16.5963 9.1248 16.5996 9 16.5996C8.875 16.5996 8.75066 16.5964 8.62793 16.5908C8.62569 16.5907 8.62319 16.5909 8.61914 16.5908C8.61531 16.5908 8.6093 16.5901 8.60352 16.5898C8.48484 16.5841 8.36697 16.5762 8.25 16.5654C8.24567 16.565 8.24091 16.5639 8.23535 16.5635C8.2302 16.5631 8.22406 16.5631 8.21777 16.5625C8.10573 16.5518 7.99463 16.5376 7.88477 16.5225C7.86333 16.5195 7.84177 16.5167 7.82129 16.5137C7.71333 16.4979 7.60495 16.48 7.49805 16.46C7.48337 16.4572 7.4645 16.4536 7.45215 16.4512C7.38746 16.4386 7.32176 16.4235 7.26074 16.4102C7.18792 16.3942 7.11384 16.3777 7.04004 16.3594C6.97446 16.3431 6.90878 16.3253 6.84473 16.3076C6.79498 16.2939 6.74503 16.2804 6.69531 16.2656C6.62166 16.2438 6.54825 16.2201 6.47559 16.1963C6.42165 16.1786 6.36779 16.1604 6.31445 16.1416C6.25044 16.1191 6.18692 16.0962 6.12402 16.0723C6.06906 16.0514 6.01461 16.0296 5.96094 16.0078C5.89798 15.9823 5.83376 15.9562 5.77051 15.9287C5.71682 15.9053 5.66388 15.8807 5.61133 15.8564C5.54788 15.8272 5.48393 15.7967 5.4209 15.7656C5.37719 15.744 5.33357 15.7222 5.29102 15.7002C5.22207 15.6646 5.15156 15.6283 5.08203 15.5898C5.04577 15.5697 5.00794 15.5475 4.97461 15.5283C4.902 15.4866 4.82864 15.4433 4.75586 15.3984C4.72603 15.38 4.69067 15.3571 4.66504 15.3408C2.40292 13.9044 0.900391 11.3786 0.900391 8.5C0.900391 4.02649 4.52649 0.400391 9 0.400391ZM9 1.2666C5.00514 1.2666 1.7666 4.50514 1.7666 8.5C1.7666 10.525 2.60119 12.3529 3.94238 13.666C4.97395 11.9499 6.85148 10.7998 9 10.7998C11.1484 10.7998 13.025 11.9501 14.0566 13.666C15.3981 12.3529 16.2334 10.5252 16.2334 8.5C16.2334 4.50514 12.9949 1.2666 9 1.2666ZM9 3.54688C10.7635 3.54688 12.1931 4.9759 12.1934 6.73926C12.1934 8.50286 10.7637 9.93359 9 9.93359C7.23634 9.93359 5.80664 8.50286 5.80664 6.73926C5.80694 4.9759 7.23655 3.54688 9 3.54688Z" fill="#ADADAD" stroke="#ADADAD" stroke-width="0.2"/>
          </svg>
      {{/if}}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="menu-list-mobile" id="user-nav-mobile" aria-expanded="false">
      <ul class="menu-list-mobile-items">
        {{#if signed_in}}
          <li class="user-avatar-item item">
            {{#my_profile class="my-profile"}}
              <svg class="user-avatar" xmlns="http://www.w3.org/2000/svg" width="18" height="17" viewBox="0 0 18 17" fill="none" style="margin: 4px 4px 0 0;">
                <path d="M9 0.400391C13.4735 0.400391 17.0996 4.02649 17.0996 8.5C17.0996 11.3789 15.5964 13.9044 13.334 15.3408C13.3085 15.357 13.2738 15.3801 13.2441 15.3984V15.3994C13.1713 15.4443 13.0971 15.4866 13.0244 15.5283C12.9912 15.5474 12.9542 15.5698 12.918 15.5898C12.8482 15.6285 12.7772 15.6645 12.708 15.7002C12.6654 15.7222 12.6219 15.744 12.5781 15.7656C12.5152 15.7967 12.452 15.8272 12.3887 15.8564C12.3361 15.8807 12.2823 15.9053 12.2285 15.9287C12.1654 15.9562 12.1019 15.9823 12.0391 16.0078C11.9852 16.0296 11.9302 16.0513 11.875 16.0723C11.8122 16.0961 11.7485 16.1191 11.6846 16.1416C11.6315 16.1603 11.5782 16.1787 11.5244 16.1963C11.4517 16.2201 11.3784 16.2438 11.3047 16.2656C11.2547 16.2805 11.2043 16.2938 11.1543 16.3076C11.0903 16.3252 11.0255 16.3431 10.96 16.3594C10.8859 16.3778 10.8113 16.3942 10.7383 16.4102C10.6774 16.4235 10.6125 16.4387 10.5479 16.4512C10.5355 16.4536 10.5159 16.4572 10.501 16.46C10.3942 16.48 10.2866 16.4979 10.1787 16.5137C10.1581 16.5167 10.1359 16.5195 10.1143 16.5225C10.0045 16.5376 9.89324 16.5518 9.78125 16.5625C9.77496 16.5631 9.7688 16.5631 9.76367 16.5635C9.75813 16.5639 9.75336 16.565 9.74902 16.5654C9.63207 16.5762 9.5142 16.5841 9.39551 16.5898C9.38972 16.5901 9.38371 16.5908 9.37988 16.5908C9.37584 16.5909 9.37337 16.5907 9.37109 16.5908C9.2486 16.5963 9.1248 16.5996 9 16.5996C8.875 16.5996 8.75066 16.5964 8.62793 16.5908C8.62569 16.5907 8.62319 16.5909 8.61914 16.5908C8.61531 16.5908 8.6093 16.5901 8.60352 16.5898C8.48484 16.5841 8.36697 16.5762 8.25 16.5654C8.24567 16.565 8.24091 16.5639 8.23535 16.5635C8.2302 16.5631 8.22406 16.5631 8.21777 16.5625C8.10573 16.5518 7.99463 16.5376 7.88477 16.5225C7.86333 16.5195 7.84177 16.5167 7.82129 16.5137C7.71333 16.4979 7.60495 16.48 7.49805 16.46C7.48337 16.4572 7.4645 16.4536 7.45215 16.4512C7.38746 16.4386 7.32176 16.4235 7.26074 16.4102C7.18792 16.3942 7.11384 16.3777 7.04004 16.3594C6.97446 16.3431 6.90878 16.3253 6.84473 16.3076C6.79498 16.2939 6.74503 16.2804 6.69531 16.2656C6.62166 16.2438 6.54825 16.2201 6.47559 16.1963C6.42165 16.1786 6.36779 16.1604 6.31445 16.1416C6.25044 16.1191 6.18692 16.0962 6.12402 16.0723C6.06906 16.0514 6.01461 16.0296 5.96094 16.0078C5.89798 15.9823 5.83376 15.9562 5.77051 15.9287C5.71682 15.9053 5.66388 15.8807 5.61133 15.8564C5.54788 15.8272 5.48393 15.7967 5.4209 15.7656C5.37719 15.744 5.33357 15.7222 5.29102 15.7002C5.22207 15.6646 5.15156 15.6283 5.08203 15.5898C5.04577 15.5697 5.00794 15.5475 4.97461 15.5283C4.902 15.4866 4.82864 15.4433 4.75586 15.3984C4.72603 15.38 4.69067 15.3571 4.66504 15.3408C2.40292 13.9044 0.900391 11.3786 0.900391 8.5C0.900391 4.02649 4.52649 0.400391 9 0.400391ZM9 1.2666C5.00514 1.2666 1.7666 4.50514 1.7666 8.5C1.7666 10.525 2.60119 12.3529 3.94238 13.666C4.97395 11.9499 6.85148 10.7998 9 10.7998C11.1484 10.7998 13.025 11.9501 14.0566 13.666C15.3981 12.3529 16.2334 10.5252 16.2334 8.5C16.2334 4.50514 12.9949 1.2666 9 1.2666ZM9 3.54688C10.7635 3.54688 12.1931 4.9759 12.1934 6.73926C12.1934 8.50286 10.7637 9.93359 9 9.93359C7.23634 9.93359 5.80664 8.50286 5.80664 6.73926C5.80694 4.9759 7.23655 3.54688 9 3.54688Z" fill="#ADADAD" stroke="#ADADAD" stroke-width="0.2"/>
              </svg>
              <div class="menu-profile-name">
                <div>{{user_name}}</div>
                <div class="my-profile-tooltip">{{t 'profile'}}</div>
              </div>
            {{/my_profile}}
          </li>
          <li class="item">
              <a href="https://games.bisecthosting.com/" target="_blank">
                  Panel
              </a>
          </li>
          <li class="item">
              <a href="https://www.meloncube.net/support/" target="_blank">
                  Get 24/7 Support
                  <span class="support-pill">Avg 15 min</span>
              </a>
          </li>
          <li class="nav-divider"></li>
          <li class="item">
              {{link "sign_out"}}
          </li>
        {{else}}
          <li class="item">
            {{#link "sign_in"}}
              {{t 'sign_in'}}
            {{/link}}
          </li>
          <li class="nav-divider"></li>
        {{/if}}
      </ul>
    </nav>
  </div>

</header>
