<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MCJFWS5"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Start of status page code -->
<script src="{{asset 'statuspage.js'}}"></script>
<!--Below is what generates the banner HTML-->

<div id = "errormessage"></div>

<script>
   var client = StatusPage("0gfvqy6xtsss");
   client.subscribe(function(error, data) {
   if (error) {
       console.error(error);
   } else {
       console.log(data);
       console.log(data.status);
       var x = document.getElementById("errormessage");
       if(data.status  != "resolved"){
           x.style.display = "block";
           x.innerHTML = '<i class="fa fa-exclamation fa-2x" aria-hidden="true"></i>&nbsp; &nbsp;' + data.body
       } else {
           x.style.display = "none";
           x.html = ''
       }
   }
   });
</script>
<!-- End of status page code -->

<script type="text/javascript">
window.zESettings = {
    webWidget: {
        launcher: {
            label: {
                'en-US': 'Ask us a question',
            }
        }
    }
};
</script>

<header class="header">
  <div id="skipNav"><a class="show-on-focus" href="#main-content">Skip to Main Content</a></div>
  <div class="logo">
    <a href="https://library.artstor.org/">
      <img src="{{settings.logo}}" alt="Artstor Digital Library">
    </a>
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu" tabindex="0" role="button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}"></span>
    <nav class="user-nav" id="user-nav">
      <a href="https://www.artstor.org/about/">About Artstor</a>
      <a href="https://library.artstor.org/#/login">Log in to Artstor</a>
      <a href="https://www.artstor.org/contact-us/">Contact Us</a>
      <!--{{link 'new_request' class='submit-a-request'}}-->
    </nav>
    {{#if signed_in}}
    {{user_info}}
    {{/if}}
  </div>
</header>
