<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{settings.logo}}" alt="{{t 'home_page' name=help_center.name}}">
    {{/link}}
  </div>
  <div class="nav-wrapper">
    <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-menu">
        <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 3.5h13m-13 4h13m-13 4h13"/>
      </svg>
    </button>
    <nav class="user-nav" id="user-nav">
      {{link 'community'}}
      {{link 'new_request' class='submit-a-request'}}
      
      <button>
        <span class="visibility-hidden">See options</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" aria-hidden="true">
          <path fill="currentColor" d="M10.5 6c0-.31-.03-.62-.09-.92l1.06-.78c.14-.1.19-.28.13-.44-.23-.6-.55-1.15-.95-1.64a.371.371 0 00-.44-.1L9 2.65c-.46-.41-1-.73-1.59-.92L7.26.41a.353.353 0 00-.3-.33C6.64.03 6.33 0 6 0c-.32 0-.64.03-.95.07-.16.03-.28.17-.3.34L4.6 1.72c-.6.2-1.14.52-1.59.93L1.8 2.11a.368.368 0 00-.44.1C.95 2.7.63 3.26.4 3.85c-.06.16 0 .34.13.44l1.07.78c-.07.3-.1.61-.1.93 0 .31.03.62.09.92L.53 7.7c-.14.1-.19.28-.13.44.23.6.55 1.15.95 1.64.11.13.29.17.44.1L3 9.35c.46.41 1 .73 1.59.92l.14 1.32c.02.17.14.3.31.33.32.05.63.08.96.08.32 0 .64-.03.95-.07.16-.03.29-.16.31-.33l.15-1.32c.6-.2 1.14-.51 1.59-.92l1.21.53c.15.07.34.03.44-.1.4-.49.72-1.04.95-1.64a.39.39 0 00-.13-.44l-1.07-.78c.07-.3.1-.61.1-.93zM6 7.5c-.83 0-1.5-.67-1.5-1.5S5.17 4.5 6 4.5s1.5.67 1.5 1.5S6.83 7.5 6 7.5z"/>
        </svg>
      </button>
    </nav>
    {{#if signed_in}}
      <div class="user-info dropdown">
        <button class="dropdown-toggle" aria-haspopup="true">
          {{user_avatar class="user-avatar"}}
          {{user_name}}
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
          </svg>
        </button>
        <div class="dropdown-menu" role="menu">
          {{link "my_activities" role="menuitem"}}
          {{my_profile role="menuitem"}}
          {{change_password role="menuitem"}}
          {{link "sign_out" role="menuitem"}}
        </div>
      </div>
    {{else}}
      {{#link "sign_in"}}
        {{t 'sign_in'}}
      {{/link}}
    {{/if}}
  </div>
</header>
