<header class="header">
  <div class="logo">
    {{#link 'help_center'}}
      <img src="{{logo_url}}" alt="{{t 'logo'}}">
    {{/link}}
  </div>
  <div class="nav-wrapper">
    <span class="icon-menu"></span>
    <nav class="user-nav" id="user-nav">
      {{link 'community'}}
       <a href="https://gaiagps.com/hike/?utm_source=Help%20Center%20Heade">Find a Hike</a>
      {{#if signed_in}}
      	{{link 'new_request' class='submit-a-request'}}
      {{else}}
       <a href="https://help.gaiagps.com/hc/en-us/signin?return_to=https://help.gaiagps.com/hc/en-us/requests/new">Submit a request</a>
     	{{/if}}
    </nav>
    {{user_info}}
  </div>
</header>
