<a class="skip-navigation" tabindex="1" href="#main-content">{{t 'skip_navigation' }}</a>

<header class="header">
    <div class="logo">
        {{#link 'help_center'}}
            <div class="logo-image"></div>
        {{/link}}
    </div>
    <div class="nav-wrapper">
        <button class="menu-button" aria-controls="user-nav" aria-expanded="false" aria-label="{{t 'toggle_navigation'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" focusable="false" viewBox="0 0 32 32" class="icon-menu icon-open">
                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M6 7h26m-26 8h26m-26 8h26" />
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" class="icon-menu icon-close">
                <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3" />
            </svg>
        </button>
        <nav class="user-nav" id="user-nav">
            <div class="logo">
                {{#link 'help_center'}}
                    <div class="logo-image"></div>
                {{/link}}
            </div>
            <div class="search-container">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon">
                    <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor" />
                    <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5" />
                </svg>
                {{search submit=false}}
            </div>
            <a href="javascript:void(0)" onclick="zE(function() { zE.activate() });">{{t 'submit_a_request' }}</a>
            <a href="https://snapmaker.com/community" target="_blank">{{t 'community' }}</a>
            {{#if signed_in}}
                <div class="user-info dropdown">
                    <button class="dropdown-toggle" aria-haspopup="true">
                        {{user_avatar class="user-avatar"}}
                        <span class="hide-on-mobile">
                            {{user_name}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon" aria-hidden="true">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5" />
                            </svg>
                        </span>
                    </button>
                    <div class="dropdown-menu" role="menu">
                        {{link "my_activities" role="menuitem"}}
                        {{my_profile role="menuitem"}}
                        {{change_password role="menuitem"}}
                        {{link "sign_out" role="menuitem"}}
                    </div>
                </div>
                {{link "sign_out" class="sign-out"}}
            {{else}}
                {{#link "sign_in" class="sign-in"}}
                    {{t 'sign_in'}}
                {{/link}}
            {{/if}}
        </nav>
    </div>
</header>
