<header class="header">
    <div class="snmk-container">
        <div
            class="snmk-col-10 snmk-col-l-10 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1 font-bw-2 first-bar font-1">
            <div class="not-pc bar-burger burger" onclick="toggleCollectionIcon()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <div class="logo">
                {{#isnt help_center.locale 'zh-cn'}}
                    <a href="https://snapmaker.com/" class="iconfont" style="color: #070707">&#xe618;</a>
                {{/isnt}}
                {{#is help_center.locale 'zh-cn'}}
                    <a href="https://snapmaker.cn/" class="iconfont" style="color: #070707">&#xe618;</a>
                {{/is}}
            </div>

            <nav class="menus">
                {{#isnt help_center.locale 'zh-cn'}}
                    <a class="menu" href="https://snapmaker.com/products">
                        {{dc 'header_first_bar_first_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.com/snapmaker-luban">
                        {{dc 'header_first_bar_second_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="/hc/{{help_center.locale}}">
                        {{dc 'header_first_bar_third_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.com/community">
                        {{dc 'header_first_bar_fourth_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                {{/isnt}}
                {{#is help_center.locale 'zh-cn'}}
                    <a class="menu" href="https://snapmaker.cn/products">
                        {{dc 'header_first_bar_first_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.com/snapmaker-luban">
                        {{dc 'header_first_bar_second_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="/hc/{{help_center.locale}}">
                        {{dc 'header_first_bar_third_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                    <a class="menu" href="https://snapmaker.cn/community">
                        {{dc 'header_first_bar_fourth_item'}}
                        <span class="iconfont not-pc">&#xe60a;</span>
                    </a>
                {{/is}}
            </nav>

            {{#isnt help_center.locale 'zh-cn'}}
                <a style="color: white;min-width: auto" class="snmk-primary-btn my-s" href="https://us.snapmaker.com/"
                    target="'_blank'">
                    {{dc 'header_store_button_text'}}
                </a>
            {{/isnt}}
            {{#is help_center.locale 'zh-cn'}}
                <a style="color: white;min-width: auto" class="snmk-primary-btn my-s" href="https://snapmaker.tmall.com/?spm=a1z10.3-b.w5001-21696184167.3.40be7f386PAuCQ&scene=taobao_shop"
                    target="'_blank'">
                    {{dc 'header_store_button_text'}}
                </a>
            {{/is}}
        </div>

        <div
            class="snmk-col-10 snmk-col-l-10 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1 font-bw-2 second-bar font-3">
            <div class="vertical-center font-bw-1 title-3 bold" onclick="toggleSecondBarCollection()">
                <a class="only-pc" href="http://support.snapmaker.com/hc/{{help_center.locale}}">Support</a>
                <span class="not-pc">Support</span>
                <span id="second-bar-icon" class="iconfont not-pc ml-xs font-bw-2">&#xe7b2;</span>
            </div>
            <div class="right-nav">
                <div class="nav-items">
                    <a href="http://support.snapmaker.com/hc/{{help_center.locale}}" id="nav-home" class="nav-item">
                       {{dc 'header_second_bar_first_item'}}
                    </a>
                    <a href="https://support.snapmaker.com/hc/{{help_center.locale}}/categories/360003536313-Snapmaker-Academy" id="nav-academy" class="ml-2xl nav-item">{{dc 'header_second_bar_second_item'}}</a>
                    <a class="nav-item" href="https://forum.snapmaker.com/">{{dc 'header_second_bar_third_item'}}</a>
                    <a class="nav-item" style="cursor: pointer;" onclick="zE(function() { zE.activate() });">{{dc 'header_second_bar_submit_request'}}</a>
                    <div class="search-container" id="header-search">
                        <span class="iconfont font-bw-1 search-icon">&#xe61d;</span>
                        {{search submit=false placeholder="Search Support" class="search search-form"}}
                    </div>
                </div>

                {{#if signed_in}}
                    <div class="user-info dropdown ml-2xl">
                        <button class="dropdown-toggle" aria-haspopup="true">
                            {{user_avatar class="user-avatar"}}
                            <span class="hide-on-mobile font-bw-2">
                                {{user_name}}
                            </span>
                        </button>
                        <div class="dropdown-menu" role="menu">
                            {{link "my_activities" role="menuitem"}}
                            {{my_profile role="menuitem"}}
                            {{change_password role="menuitem"}}
                            {{link "sign_out" role="menuitem"}}
                        </div>
                    </div>
                {{else}}
                    {{#link "sign_in" class="sign-in ml-xl"}}
                        {{t 'sign_in'}}
                    {{/link}}
                {{/if}}
            </div>
        </div>
    </div>
</header>

<div class="mask" onclick="onClickMask()"></div>

<div id="announcement-modal" class="modal-wrapper">
    <span class="close-icon mt-m mr-m iconfont" onclick="closeAnnouncementModal()">&#xe61e;</span>
    <div class="modal-body my-xl mx-2xl">
        {{dc 'announcement_modal'}}
    </div>
</div>