<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section class="section hero" style="margin-bottom: 0;">
  <div class="container">
    <div class="row">
      <div>
        <p class="h1">{{ settings.welcome_message }}</p>
      </div>
    </div>
  </div>
</section>

  <div class="container" id="main-content">
    <!-- search bar -->
    <section class="section site-search">
      <p class="h2 strong">How can we help you today?</p>
      <h2 class="visibility-hidden">{{ t 'search' }}</h2>
      {{search instant=settings.instant_search class='search search-full'}}
    </section>

    <section class="section knowledge-base categories">
      <!-- categories -->
      <h2>{{ t 'categories' }}</h2>
      <div class="categories-list row row-cols-md-3">
        {{#each categories}}
        {{#if ../has_multiple_categories}}
        <div class="single-category">
          <div class="category-thumbnail bg-subtle">
            <div class="category-icon">
              <img src="{{../settings.category_icon}}">
            </div>
            <div class="category-copy">
              <a class="category-link" href="{{url}}">
                <span class="category-title">{{name}}</span>
                <span class="category-description">{{excerpt description}}</span>
              </a>
            </div>
          </div>
        </div>
        {{else}}
        {{#each sections}}
        <div class="category-container">
          <div class="category-thumbnail bg-subtle">
            <div class="category-icon">
              <img src="{{../../settings.category_icon}}">
            </div>
            <div class="category-copy">
              <a class="category-link" href="{{url}}">
                <span class="category-title">{{name}}</span>
                <span class="category-description">{{excerpt description}}</span>
              </a>
            </div>
          </div>
        </div>
        {{/each}}
        {{/if}}
        {{/each}}
        {{pagination}}
      </div>
    </section>


    {{#if promoted_articles}}

    <section class="section knowledge-base promoted-articles">
      <!-- promoted articles -->
      <h2>{{t 'promoted_articles'}}</h2>
      <div class="articles-list row row-cols-md-3">
        {{#each promoted_articles}}
        <div class="single-article">
          <div class="article-thumbnail bg-subtle">
            <div class="article-icon">
              <img src="{{../settings.promoted_icon}}">
            </div>
            <div class="article-copy">
              <a class="article-link" href="{{url}}">
                <span class="article-title">{{title}}</span>
                {{#if internal}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16"
                  class="icon-lock" title="{{t 'internal'}}">
                  <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                  <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                </svg>
                {{/if}}
                <span class="article-description">{{snippet}}</span>
              </a>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </section>



    <!--
        <section class="articles">
          <h2>{{t 'promoted_articles'}}</h2>
          <ul class="article-list promoted-articles">
            {{#each promoted_articles}}
              <li class="promoted-articles-item">
                  <a href="{{url}}">
                    {{title}}

                    {{#if internal}}
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                        <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                        <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                      </svg>
                    {{/if}}
                  </a>
              </li>
            {{/each}}
          </ul>
        </section>-->


    {{/if}}



    {{#if help_center.community_enabled}}
    <section class="section home-section community">
      <h2>{{t 'community'}}</h2>
      {{#link 'community' class='community-link'}}
      {{t 'join_conversation'}}
      {{/link}}

      <div class="community-image"></div>
    </section>
    {{/if}}

    <section class="section home-section activity">
      {{#if settings.show_recent_activity}}
      {{recent_activity}}
      {{/if}}
    </section>
  </div>