<div class="hero-container">
  <!-- Custom hero banner -->
  <div class="custom-hero-banner-container">
    <div class="custom-container container">
      <section class="section custom-banner">
        <div class="custom-banner-info custom-page-search">
          <h1>Hi, how can I help?</h1>
          {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Search for help articles, videos and more' }}
          <div class="trending-div">
            <i class="material-icons red-icon">whatshot</i><a href="https://configura.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=photo+lab">photo lab</a>, <a href="https://configura.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=Image+sketchup">image sketchup</a>, <a href="https://configura.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=edit+graphics">edit graphics</a>, <a href="https://configura.zendesk.com/hc/en-us/search?utf8=%E2%9C%93&query=selecting+components">selecting components</a>
          </div>
        </div>
      </section>
    </div>
  </div>
  <!-- End -->
  <div class="custom-container container">
    <section class="section knowledge-base">
      <section class="categories blocks">
        <ul class="custom-blocks-list blocks-list">
          {{#each categories}}
          {{#if ../has_multiple_categories}}
          {{#isnt id 360002370413}}
          <li class="custom-blocks-item">
            <a href='{{url}}' class="blocks-item-link">

              <!-- Custom code for img on blocks item -->
              <div class="custom-logo-container">
                {{#is name 'CET Designer'}}
                <img src="{{asset 'cet_designer.svg'}}" class="custom-img-size-100" />
                {{/is}}
                {{#is name 'CET Developer'}}
                <img src="{{asset 'cet_developer.svg'}}" class="custom-img-size-100" />
                {{/is}}
                {{#is name 'MyConfigura'}}
                <img src="{{asset 'myconfigura.svg'}}" class="custom-img-size-80" />
                {{/is}}
                {{#is name 'Catalogues'}}
                <img src="{{asset 'catalogue.svg'}}" class="custom-img-size-50" />
                {{/is}}
              </div>
              <!-- End -->

              <div class="custom-blocks-item-title-container">
                <div class="custom-blocks-text-wrapper">
                  <h2 class="blocks-item-title">{{name}}</h3>
                  <p class="custom-blocks-item-p">{{description}}</p>
                </div>
                <a href='{{url}}'>Browse ...</a>
              </div>
            </a>
          </li>
          {{/isnt}}
          {{else}}
          {{#each sections}}
          <li class="custom-blocks-item blocks-item">
            <a href='{{url}}' class="blocks-item-link">
              <h4 class="blocks-item-title">
                {{name}}
              </h4>
              <p class="blocks-item-description">{{excerpt description}}</p>
            </a>
          </li>
          {{/each}}
          {{/if}}
          {{/each}}
        </ul>
        {{pagination}}
      </section>
      <section class="custom-link-section">
        <ul class="custom-link-container">
          <li class="custom-link-padding-right">
            <a href="https://www.configura.com/academy/cet-designer" class="custom-link-item-title">
              <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">school</i>
              Academy and training
            </a>
          </li>
          <li class="custom-link-padding-right">
            <a href="https://www.configura.com/products/system-recommendations/cet-designer" target="_blank" rel="noopener noreferrer"
              class="custom-link-item-title">
              <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">computer</i>
              System recommendations
            </a>
          </li>
          <li class="custom-link-padding-right">
            <a href="https://www.configura.com/products/release-notes/cet-designer" class="custom-link-item-title">
              <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">import_contacts</i>
              Release notes
            </a>
          </li>
          <li class="custom-link-padding-right">
            <a href=" https://www.configura.com/my/forum" class="custom-link-item-title">
              <i class="material-icons custom-sidebar-icon custom-icon-margin-right blue-icon">forum</i>
              Forums
            </a>
          </li>
        </ul>
      </section>

      <!-- CUSTOM CARDS -->
      <h1 class="custom-topic-header">Browse popular topics</h1>
      <div class="custom-topic-container">
        {{#each categories}}
        {{#each sections}}
        {{#is id 360003354354}} <!-- FAQ -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container">
              <i class="material-icons black-icon">help</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360006621153}} <!-- Video tutorial -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">ondemand_video</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005899854}} <!-- Drawing in CET Designer -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">brush</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005926173}} <!-- Photo Lab -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">camera</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005926133}} <!-- Component Tabs -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">tab</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005899834}} <!-- Additional Extensions -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">layers</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{/each}}
        {{/each}}
      </div>
      <!-- END CUSTOM CARDS -->
    </section>
  </div>
</div>
<!-- Custom banner -->
<div class="custom-banner-container">
  <div class="custom-container custom-forums-section container">
    <section class="custom-banner section">
      <div class="custom-banner-picture-mobile">
        <img class="img-forums-mobile" src="{{asset 'forums.png'}}" />
      </div>
      <div class="custom-forums-banner">
        <h1>We don't give to get, we get to give.</h1>
        <p class="custom-child-with">Let the wealth of knowledge our CET Designer community has to offer help answer your questions and solve your issues</p>
        <div class="btn custom-forums-page-button" role="button">
          <a href="https://www.configura.com/my/forum" class="custom-banner-button">
            <p class="custom-forums-button">Forums</p>
              <sup><i class="material-icons custom-banner-button-icon ask-community-sup-icon">open_in_new</i></sup>
          </a>
        </div>
      </div>
      <div class="custom-banner-picture">
        <img class="img-forums" src="{{asset 'forums.png'}}" />
      </div>
    </section>
  </div>
</div>

<div class="custom-container container">
  <h1 class="custom-topic-header">New to CET Designer?</h1>
  <a href="https://configura.zendesk.com/hc/en-us/sections/360006621153" class="custom-video-more-link">Browse all video tutorials</a>
  <section class="categories blocks">
    <ul class="custom-blocks-list blocks-list">

      <li class="custom-video-blocks-item">
        <a href="/hc/en-us/articles/360038532034-Control-Panel-Video-tutorial" class="videos-item-link">          
          <div class="custom-video-container">
            <img src="{{asset 'video_placeholder.jpg'}}" />
          </div>             
        </a>
        <div class="custom-video-blocks-item-title-container">
            <div class="custom-blocks-text-wrapper">
              <a href="/hc/en-us/articles/360038532034-Control-Panel-Video-tutorial" class="blocks-item-link">
                <h3 class="blocks-item-title">Control Panel</h3>
              </a>
              <p class="video-blocks-item-desc">Don't fret, if you don't find the answer you're looking for you can always chat or call in.</p>
            </div>
        </div>      
      </li>
        
      <li class="custom-video-blocks-item">
        <a href="/hc/en-us/articles/360039031733-Views-and-Navigation-Video-tutorial" class="videos-item-link">
          <div class="custom-video-container">      
            <img src="{{asset 'video_placeholder.jpg'}}" />
          </div>            
        </a>
        <div class="custom-video-blocks-item-title-container">
            <div class="custom-blocks-text-wrapper">
              <a href="/hc/en-us/articles/360039031733-Views-and-Navigation-Video-tutorial" class="blocks-item-link">
                <h3 class="blocks-item-title">Views and Navigation</h3>
              </a>          
              <p class="video-blocks-item-desc">Learn about our platform for drawing, specifying, and presenting your amazing design work!</p>
            </div>
        </div> 
      </li>

      <li class="custom-video-blocks-item">
        <a href="/hc/en-us/articles/360038533654-Import-AutoCAD-Drawings-Video-tutorial" class="videos-item-link">
          <div class="custom-video-container">
            <img src="{{asset 'video_placeholder.jpg'}}" />
          </div>
        </a>
        <div class="custom-video-blocks-item-title-container">
            <div class="custom-blocks-text-wrapper">
              <a href="/hc/en-us/articles/360038533654-Import-AutoCAD-Drawings-Video-tutorial" class="blocks-item-link">
                  <h3 class="blocks-item-title">AutoCAD Import</h3>
              </a>          
              <p class="video-blocks-item-desc">Learn about creating Catalogues! Topics include Catalogue Creator, Model Lab, Data Import, Geometry, Material Lab, and more!</p>
            </div>
        </div>      
      </li>
    </ul>
  </section>
</div>