<div id="home" class="hero-container">
  <!-- Custom hero banner -->
  <div class="custom-hero-banner-container">
    <div class="container">
      <section class="section custom-hero-banner">
        <div class="custom-banner-info custom-page-search">
          <h1 class="geo-light">
            {{dc 'hero_banner_helpcenter'}}
            ANTON TEST
          </h1>
          {{search submit=false instant=settings.instant_search placeholder='Search for help articles, videos and more' }}
          {{dc 'search_trending'}}
        </div>
      </section>
    </div>
  </div>
  <!-- End -->
  <div class="container">
    <section class="section knowledge-base">
      <section class="categories blocks">
        <ul class="custom-blocks-list blocks-list">
          {{#each categories}}
          {{#isnt id 360002370413}}
          <li class="custom-blocks-item">
            <a href='{{url}}' class="blocks-item-link">

              <!-- Custom code for img on blocks item -->
              <div class="custom-logo-container">
                {{#is id 360001452494}}
                <img src="{{asset 'cet_general.svg'}}" class="custom-img-size-100" />
                {{/is}}
                {{#is id 360003927054}}
                <img src="{{asset 'cet_developer.svg'}}" class="custom-img-size-100" />
                {{/is}}
                {{#is id 360001609754}}
                <img src="{{asset 'myconfigura.svg'}}" class="custom-img-size-80" />
                {{/is}}
                {{#is id 360001609774}}
                <img src="{{asset 'catalogue.svg'}}" class="custom-img-size-50" />
                {{/is}}
              </div>
              <!-- End -->
              <div class="custom-blocks-item-title-container">
                <h2 class="blocks-item-title">{{name}}</h3>
                  <p class="custom-blocks-item-p">{{description}}</p>
              </div>
              <a class="custom-blocks-item-browse-button" href='{{url}}'>{{dc 'text_browse'}}...</a>
            </a>
          </li>
          {{/isnt}}
          {{/each}}
        </ul>
        {{pagination}}
      </section>
      <section class="custom-link-section">
        <ul class="custom-link-container">
          {{dc 'middle_links'}}
          <li class="material-icons-big custom-link-padding-right end-user">
            <a class="custom-link-item-title" target="_blank" rel="noopener noreferrer" href="https://support.configura.com/hc/en-us/community/topics">Community</a>
          </li>
        </ul>
      </section>

      <!-- CUSTOM CARDS -->
      {{dc 'browse_popular_topics'}}
      <div class="custom-topic-container">
        {{#each categories}}
        {{#each sections}}
        {{#is id 360003354354}}
        <!-- FAQ -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">help</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360006621153}}
        <!-- Video tutorial -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">ondemand_video</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005899854}}
        <!-- Drawing in CET Designer -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">brush</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005926173}}
        <!-- Photo Lab -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">camera</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005926133}}
        <!-- Component Tabs -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">tab</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{#is id 360005899834}}
        <!-- Additional Extensions -->
        <section class="custom-card small-card">
          <a href="{{url}}" class="custom-card-link">
            <div class="custom-card-logo-container square-container">
              <i class="material-icons black-icon">layers</i>
            </div>
            <h3 class="custom-card-title small-card-title">
              {{name}}
            </h3>
          </a>
        </section>
        {{/is}}
        {{/each}}
        {{/each}}
      </div>
      <!-- END CUSTOM CARDS -->
    </section>
  </div>
</div>
<!-- Custom banner -->
<div class="custom-banner-container">
  <div class="container custom-forums-section">
    <section class="custom-banner section">
      <div class="custom-banner-picture-mobile">
        <img class="img-forums-mobile" src="{{asset 'forums.png'}}" />
      </div>
      {{dc 'forums_banner'}}
      <div class="custom-banner-picture">
        <img class="img-forums" src="{{asset 'forums.png'}}" />
      </div>
    </section>
  </div>
</div>

<div class="container">
  {{dc 'blocks_list_header'}}
  {{dc 'browse_all_video'}}
  <section class="categories blocks">
    <ul class="custom-blocks-list blocks-list">

      <li class="custom-video-blocks-item">
        <a href={{dc 'control_panel_video_path'}} class="videos-item-link">
          <div class="custom-video-container">
            <img src="{{asset 'control_panel.png'}}" />
          </div>
        </a>
        {{dc 'control_panel_video'}}
      </li>

      <li class="custom-video-blocks-item">
        <a href={{dc 'views_and_navigation_video_path'}} class="videos-item-link">
          <div class="custom-video-container">
            <img src="{{asset 'views_navigation.png'}}" />
          </div>
        </a>
        {{dc 'views_and_navigation_video'}}
      </li>

      <li class="custom-video-blocks-item">
        <a href={{dc 'import_autocad_video_path'}} class="videos-item-link">
          <div class="custom-video-container">
            <img src="{{asset 'import.png'}}" />
          </div>
        </a>
        {{dc 'import_autocad_video'}}
      </li>
    </ul>
  </section>
</div>