<section class="section hero">
  <div class="container hero-inner">
    <h1 class="hero__title">How can we help?</h1>
    {{search submit=false placeholder='Search the Help Center' instant=settings.instant_search class='search search-full'}}
    {{#if promoted_articles}}
      <ul class="hero__popular-topics">
        <li class="hero__popular-topics-item">Popular Topics:</li>
        {{#each promoted_articles}}
          <li class="hero__popular-topics-item">
            <a class="hero__popular-topics-link" href="{{url}}">
              {{title}}
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </a>
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
</section>

<div class="knowledge-base__wrapper">
  <section class="container section knowledge-base">
    <h2 class="knowledge-base__title">Learn about our features</h2>
    <div class="categories blocks">
      <ul class="blocks__list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks__item">
              <a href='{{url}}' class="blocks__item-link noshadow">
                <span class="blocks__item-title h4">{{name}}</span>
                <span class="blocks__item-description">{{excerpt description}}</span>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks__item">
                <a href='{{url}}' class="blocks__item-link">
                  <span class="blocks__item-title">{{name}}</span>
                  <span class="blocks__item-description">{{excerpt description}}</span>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </div>
  </section>
</div>

<div class="jobber-resources__wrapper">
  <section class="container jobber-resources">
    <h2 class="jobber-resources__title">Jobber Resources</h2>
    <div class="jobber-resources-cards">
      <div class="jobber-resources-card">
        <figure class="jobber-resources-card__image">
          <img src="{{ asset 'thumb_3_minute_overview_minus_button.jpg' }}" alt="">
        </figure>
        <div class="jobber-resources-card__title h4">
          3 Minute Jobber Overview
        </div>
        <p class="jobber-resources-card__description">
          Follow along with Sarah in this 3 minute overview of the workflow in Jobber. 
        </p>
        <a title="Go to the Jobber Glossary" class="jobber-resources-card__link" href="https://help.getjobber.com/hc/en-us/articles/360056046054-The-Five-Minute-Guide-to-Getting-Set-Up-with-Jobber">
          Learn more
        </a>
      </div>
      <div class="jobber-resources-card">
        <figure class="jobber-resources-card__image">
          <img src="{{ asset 'thumb_academy.png' }}" alt="Jobber Academy logo on a grey background">
        </figure>
        <div class="jobber-resources-card__title h4">
          Jobber Academy
        </div>
        <p class="jobber-resources-card__description">
          Jobber Academy helps people looking to run smarter service businesses.
        </p>
        <a title="New tab goes to the Jobber Academy website" class="jobber-resources-card__link" href="https://academy.getjobber.com/" target="_blank">
          Learn more
        </a>
      </div>
      
      
      <div class="jobber-resources-card">
        <figure class="jobber-resources-card__image">
          <img src="{{ asset 'thumb_videos.png' }}" alt="A video screen on a green background">
        </figure>
        <div class="jobber-resources-card__title h4">
          Jobber Video Manual
        </div>
        <p class="jobber-resources-card__description">
          We walk you through our biggest features and point out the essentials.
        </p>
        <a title="Watch instructional videos" class="jobber-resources-card__link" href="https://help.getjobber.com/hc/en-us/articles/360021749753-Jobber-Video-Manual">
          Learn more
        </a>
      </div>

    </div>
  </section>
</div>

<div class="jobber-mid-cta">
  <section class="container">
    <div class="jobber-mid-cta__content">
      <div class="jobber-mid-cta__pre-title">WE’RE HERE TO HELP</div>
      <div class="jobber-mid-cta__title h3"><span class="highlight-text">Talk to a real person.</span> <br /> No matter the question.</div>
    </div>
    <div class="jobber-mid-cta__action">
      <a class="button jobber-mid-cta__link" href="https://getjobber.com/contact/" target="_blank">Contact Us</a>
    </div>
  </section>
</div>
