<!--section class="section hero">
<div class="hero-inner">
  {{search submit=false instant=true class='search search-full'}}
</div>
</section>-->
<!--HERO-->
<section class="hero">
  <div class="hero-inner">
    <h2 class="hero-inner-title">Welcome to Saagie Help Center </h2>
    <h3 class="hero-inner-subtitle">How can we <strong>help you </strong> today?</h3>
    <div class="hero-inner-search">{{search scoped=true submit=false}}</div>
    {{#if signed_in}}
    <ul>
      <li>
        <a href='/hc/requests/new'><span class="hero-inner-links-icon"><i class="fas fa-plus"></i></span>Open a new ticket</a>
      </li>
      <li>
        <a href='/hc/requests'><span class="hero-inner-links-icon"><i class="far fa-eye"></i></span>My tickets</a>
      </li>
      <li>
        <a href='/hc/requests/organization'><span class="hero-inner-links-icon"><i class="fas fa-list-ul"></i></span>My Organisation's tickets</a>
      </li>
    </ul>

		{{/if}}

	</div>
</section>


<!--MENU GENERAL-->
<div class="section-wrapper-light-color">
  <div class="container">
    <section class="knowledge-base">
        <section class="categories blocks">
          <ul class="blocks-list">
            <!--DOCV2-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/categories/360001478212' class="blocks-item-link">
                    <img src="{{asset 'icon-documentation.png'}}" alt="Documentation" class="blocks-item-icon" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">User Documentation</h4>
                    <p class="blocks-item-description">
                      View in-depth articles for all tools and features included in Saagie Data Fabric</p>
                </a>
            </li>
            <!--Getting Started-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/categories/360001262471-Getting-started' class="blocks-item-link">
                    <img src="{{asset 'icon-GettingStarted.png'}}" alt="Getting Started" class="blocks-item-icon" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Getting Started</h4>
                    <p class="blocks-item-description">
                    Following these articles will walk you through how to accomplish common tasks</p>
                </a>
            </li>
            <!--Tutorials-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/categories/360001317331-Tutorials' class="blocks-item-link" >
                    <img src="{{asset 'icon-Tutorials.png'}}" alt="Tutorials" class="blocks-item-icon" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Tutorials</h4>
                    <p class="blocks-item-description">
                    Tutorials will provide you with basic introductions to various data integration tools</p>
                </a>
            </li>
            <!--FAQ-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/categories/360001309011-F-A-Q'>
                    <img class="blocks-item-icon" src="{{asset 'icon-F.A.Q.png'}}" alt="Plugins" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">F.A.Q</h4>
                    <p class="blocks-item-description">All the commonly asked questions about our Data Fabric</p>
                </a>
            </li>
            <!--DOCV1-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://creativedata.atlassian.net/wiki/spaces/SAP/overview' class="blocks-item-link"  target="_blank">
                    <img src="{{asset 'icon-DocV1.png'}}" alt="Documentation V1" class="blocks-item-icon" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Documentation V1 (Legacy)</h4>
                    <p class="blocks-item-description">
                      Our Wiki page dedicated to all the features and tools offered in the first version of Data Fabric</p>
                </a>
            </li>
            <!--PLUGINS-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://www.saagie.com/product/plugins'target="_blank">
                    <img class="blocks-item-icon" src="{{asset 'icon-Plugin.png'}}" alt="Plugins" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Plugins</h4>
                    <p class="blocks-item-description">Enhance your RStudio, Jupyter, Java or Spark project</p>
                </a>
            </li>
						<!--Installation-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/articles/360012610839-Installation-guide' class="blocks-item-link">
                  <img class="blocks-item-icon" src="{{asset 'icon-Installation.png'}}" alt="Installation" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Installation Documentation</h4>
                    <p class="blocks-item-description">
                      Install Saagie on your Kubernetes cluster</p>
                </a>
            </li>
            <!--Operations-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/articles/360012876619' class="blocks-item-link">
                  <img class="blocks-item-icon" src="{{asset 'icon-Production-doc.png'}}" alt="Operations" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Operations Documentation</h4>
                    <p class="blocks-item-description">
                    Operate Saagie in production</p>
                </a>
            </li>
            <!--SDK-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='#' class="blocks-item-link" >
                  <img class="blocks-item-icon" src="{{asset 'icon-SDK.png'}}" alt="SDK" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">SDK</h4>
                    <p class="blocks-item-description">
                    Integrate new technologies to orchestrate within Saagie (coming soon)</p>
                </a>
            </li>
            <!--Troubleshooting-->
            <li class="blocks-item">
                <a class="blocks-item-link" href='https://saagie.zendesk.com/hc/en-us/categories/360001270891-Troubleshooting'>
                    <img class="blocks-item-icon" src="{{asset 'icon-Troubleshooting.png'}}" alt="Troubleshooting" width="70px" height="auto"/>
                    <h4 class="blocks-item-title">Troubleshooting</h4>
                    <p class="blocks-item-description">Need help? Our Support team is here to assist</p>
                </a>
            </li>
          </ul>
        </section>
    </section>
  </div>
</div>


<!--COMMUNITY-->
  <!--<div class="section-wrapper">
    <div class="container">
      {{#if help_center.community_enabled}}
      <!--<section class="section community">
        <h2>{{t 'community'}}</h2>
        {{#link 'community' class='community-link'}}
          {{t 'join_conversation'}}
        {{/link}}

        <div class="community-image"></div>
      </section>
    {{/if}}
  </div>
</div>-->

<!--RECENT ACTIVITIES-->
<div class="section-wrapper as--last-child">
  <div class="container">
    <section class="activity">
    {{recent_activity}}
  </section>
  </div>
</div>
  <!--PROMOTED ARTICLES-->
  <!--<div class="section-wrapper-light-color">
  <div class="container">
    <section class="section knowledge-base">
    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
  </div>
</div>
</div>-->

<script>
 $(document).ready(function() {
   $('.recent-activity-header').text("Latest Articles");
 });
</script>