<!--HERO-->
<section class="l-homepage-hero shc-settings-hero">
  <div class="l-homepage-hero__container">
    <h2 class="l-homepage-hero__title">Welcome to Saagie Help Center </h2>
    <h3 class="l-homepage-hero__subtitle">How can we <strong>help you </strong> today?</h3>
    <div class="l-homepage-hero__search">{{search scoped=true instant=true submit=false}}</div>
    {{#if signed_in}}
    <div class="sui-g-grid as--gutter-none@sm as--auto@sm as--between@sm as--stretch@sm as--middle@sm">
      <div class="sui-g-grid-item">
        <a href='/hc/requests/new'><span class="l-homepage-hero__links-icon"><i class="fas fa-plus"></i></span>Open a new ticket</a>
      </div>
      <div class="sui-g-grid-item ">
        <a href='/hc/requests'><span class="l-homepage-hero__links-icon"><i class="far fa-eye"></i></span>My tickets</a>
      </div>
      <div class="sui-g-grid-item">
        <a href='/hc/requests/organization'><span class="l-homepage-hero__links-icon"><i class="fas fa-list-ul"></i></span>My Organisation's tickets</a>
      </div>
    </div>
		{{/if}}
	</div>
</section>

<!--MENU TILES-->
<div class="l-homepage-tiles as--dark">
   <div class="wrapper">
      <section class="sui-g-grid as--stretch">
        <!--DOCV2-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_01}}" class="blocks-item-link">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-documentation.png'}}" alt="Documentation" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">User Documentation</h4>
                <p class="l-homepage-tiles__tile-description">
                  View in-depth articles for all tools and features included in Saagie Data Fabric</p>
            </a>
        </div>
        <!--Getting Started-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_02}}" class="blocks-item-link">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-GettingStarted.png'}}" alt="Getting Started" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Getting Started</h4>
                <p class="l-homepage-tiles__tile-description">
                Following these articles will walk you through how to accomplish common tasks</p>
            </a>
        </div>
        <!--Tutorials-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_03}}" class="blocks-item-link" >
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-Tutorials.png'}}" alt="Tutorials" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Tutorials</h4>
                <p class="l-homepage-tiles__tile-description">
                Tutorials will provide you with basic introductions to various data integration tools</p>
            </a>
        </div>
        <!--FAQ-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_04}}">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-F.A.Q.png'}}" alt="Plugins" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">F.A.Q</h4>
                <p class="l-homepage-tiles__tile-description">All the commonly asked questions about our Data Fabric</p>
            </a>
        </div>
        <!--DOCV1-->
        <div class="sui-g-grid-item  l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_05}}" class="blocks-item-link"  target="_blank">
                <img src="{{asset 'icon-DocV1.png'}}" alt="Documentation V1" class="l-homepage-tiles__tile-icon" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Documentation V1 (Legacy)</h4>
                <p class="l-homepage-tiles__tile-description">
                  Our Wiki page dedicated to all the features and tools offered in the first version of Data Fabric</p>
            </a>
        </div>
        <!--Plugins-->
        <div class=" sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_06}}" target="_blank">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-Plugin.png'}}" alt="Plugins" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Plugins</h4>
                <p class="l-homepage-tiles__tile-description">Enhance your RStudio, Jupyter, Java or Spark project</p>
            </a>
        </div>
        <!--Installation-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_07}}" class="blocks-item-link">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-Installation.png'}}" alt="Installation" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Installation Documentation</h4>
                <p class="l-homepage-tiles__tile-description">
                Install Saagie on your Kubernetes cluster</p>
            </a>
        </div>
      <!--Operations-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_08}}" class="blocks-item-link">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-Production-doc.png'}}" alt="Operations" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Operations Documentation</h4>
                <p class="l-homepage-tiles__tile-description">
                Operate Saagie in production</p>
            </a>
        </div>
        <!--SDK-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_09}}" class="blocks-item-link" >
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-SDK.png'}}" alt="SDK" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">SDK</h4>
                <p class="l-homepage-tiles__tile-description">
                Integrate new technologies to orchestrate within Saagie (coming soon)</p>
            </a>
        </div>
        <!--Troubleshooting-->
        <div class="sui-g-grid-item l-homepage-tiles__tile">
            <a class="l-homepage-tiles__tile-link" href="{{settings.link_10}}">
                <img class="l-homepage-tiles__tile-icon" src="{{asset 'icon-Troubleshooting.png'}}" alt="Troubleshooting" width="70px" height="auto"/>
                <h4 class="l-homepage-tiles__tile-title">Troubleshooting</h4>
                <p class="l-homepage-tiles__tile-description">Need help? Our Support team is here to assist</p>
            </a>
        </div>
      </section>
    </div>
</div>

<!--COMMUNITY-->
  <!--<div class="section-wrapper">
    <div class="container">
      {{#if help_center.community_enabled}}
      <section class="section community">
        <h2>{{t 'community'}}</h2>
        {{#link 'community' class='community-link'}}
          {{t 'join_conversation'}}
        {{/link}}
        <div class="community-image"></div>
      </section>
    {{/if}}
  </div>
</div>-->

<!--RECENT ACTIVITIES-->
<div class="l-homepage-recent-activity as--light">
  <div class="wrapper">
    <section>
    {{recent_activity}}
    </section>
  </div>
</div>

  <!--PROMOTED ARTICLES-->
  <!--<div class="section-wrapper-light-color">
  <div class="container">
    <section class="section knowledge-base">
    {{#if promoted_articles}}
      <section class="articles">
        <h3>{{t 'promoted_articles'}}</h3>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
              <a href="{{url}}">
                {{title}}
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>
  </div>
</div>
</div>-->

<script>
  document.addEventListener('DOMContentLoaded', function() {
	  var elem = document.querySelector('.recent-activity-header');
    var html = elem.innerHTML;
    elem.innerHTML = 'Latest Articles';
});
</script>
