<style>
    .header > .logo .logo-image {
        background-image: url({{asset 'pic_nav_logo_white_236x34.png' }});
    }

    .header > .logo .logo-image-zh {
        background-image: url({{asset 'pic_nav_logo_white_zh_242x34.png' }});
    }

    .nav-wrapper .user-nav > a, .nav-wrapper .user-nav > a:hover {
        color: #fff;
    }

    .nav-wrapper .user-nav[aria-expanded="true"] > a, .nav-wrapper .user-nav[aria-expanded="true"] > a:hover {
        color: #272829;
    }

    .user-info button, .user-info button:hover, .user-info button:focus {
        color: #fff;
    }

    .nav-wrapper .menu-button .icon-menu {
        color: #fff;
    }

    .nav-wrapper .menu-button[aria-expanded="true"] .icon-menu {
        color: #272829;
    }

</style>


<section id="main-content" class="section hero home-search-container">
  <div class="search-text-container snmk-container" style="width:100%">
    <div class="snmk-col-6 snmk-col-l-6 snmk-col-m-6 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-3 snmk-col-l-offset-3 snmk-col-m-offset-1"> 
      <div class="hero-title">
          <span>{{dc 'home_search_title'}}</span>
      </div>
      <div class="hero-inner">
          <span class="iconfont font-bw-1 search-icon">&#xe61d;</span>
        	{{#is help_center.locale 'zh-cn'}}
          	{{search placeholder="您需要什么帮助？" submit=false instant=settings.instant_search class='search search-full'}}
        	{{/is}}
        	{{#isnt help_center.locale 'zh-cn'}}
        		{{search placeholder="How can we help you?" submit=false instant=settings.instant_search class='search search-full'}}
        	{{/isnt}}
      </div>
      <div class="quick-links mt-l font-1">
        {{dc 'home_search_quick_links'}}
      </div>
    </div>
  </div>
</section>

<div>
  <h2 class="section-title title-1 font-bw-1 bold mt-3xl mb-xl">Product Support</h2>
  <div class="snmk-container" >
    <div class="snmk-col-10 snmk-col-l-10 snmk-col-offset-1 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-l-offset-1 product-category">
      {{#each categories}}
      	{{#is description  'Products'}}
          <div class="title-2 font-bw-1 bold mr-xs mb-xl mt-2xl">{{name}}</div>
      		<div class="category-sections">
            {{#each sections}}
                <a class="product-img font-bw-8 mr-l mt-l" href="{{url}}">
                  <img src="{{description}}" alt="{{name}}">
                  <div class="text-center mt-xs"><span class="snmk-link-btn">{{name}}</span></div>
                </a>
            {{/each}}
      		</div>      
      	{{/is}}
      {{/each}}
      
    </div>  
</div>
    
<div class="my-3xl">
  <h2 class="section-title title-1 font-bw-1 bold mb-xl">Software Support</h2>
  {{#each categories}}
    {{#is description  'Software'}}
      <div class="snmk-container">
        <div class="snmk-col-10 snmk-col-l-10 snmk-col-m-8 snmk-col-s-4 snmk-col-xs-4 snmk-col-offset-1 snmk-col-l-offset-1 software-category">
          {{#each sections}}
						{{dc description}}
          {{/each}}
        </div>
      </div>
    {{/is}}
  {{/each}}
    
    
      