<h1 class="visibility-hidden">{{ help_center.name }}</h1>

<section id="main-content" class="section hero">
  <div class="hero-inner">
    <h2 class="hero-title">Help Center</h2>
    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true" style="top: 82%;">
      <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
      <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
    </svg>
    {{search submit=false instant=settings.instant_search class='search search-full'}}
  </div>
</section>

<div class="container">
  <section class="section knowledge-base">
    <h2 class="kb-title">Need Help? We've Got Your Back.</h2>
    <p class="kb-description">
        From game servers to Discord bots, learn how to use your BisectHosting services.
        <br />
        Got a question and not sure where to start? <a href="https://www.meloncube.net/c/faq/" target="_blank" class="faq-link">View our FAQ</a>
    </p>
    <section class="categories blocks">
      <ul class="prominent-list">
          {{#each categories}}
              <li class="blocks-item">
                  <a href='{{url}}' class="blocks-item-link">
                      <img src="{{asset id prefix="category_" suffix=".svg"}}" height="106px" width="106px" />
                      <div class="blocks-item-text">
                        <span class="blocks-item-title">{{name}}</span>
                        <span class="blocks-item-description">{{excerpt description}}</span>
                      </div>
                  </a>
              </li>
          {{/each}}
      </ul>
      <ul class="blocks-list">
        {{#each categories}}
            <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                    <img src="{{asset id prefix="category_" suffix=".svg"}}" height="106px" width="106px" />
                    <span class="blocks-item-title">{{name}}</span>
                    <span class="blocks-item-description">{{excerpt description}}</span>
                </a>
            </li>
        {{/each}}
      </ul>
      {{pagination}}
    </section>

    <h2 class="help-title">Other Ways To Find Help</h2>
    <ul class="help-list">
      <li class="blocks-item">
          <a href='https://www.bisecthosting.com/discord' target="_blank" class="blocks-item-link">
            <img src="{{asset 'discord.svg'}}" height="106px" width="106px" />
            <span class="blocks-item-title">Discord Community</span>
            <span class="blocks-item-description">We've got our ear to the ground. Here's what you need to know.</span>
          </a>
      </li>
      <li class="blocks-item">
          <a href='https://games.bisecthosting.com/docs' target="_blank" class="blocks-item-link">
            <img src="{{asset 'chatBubble.svg'}}" height="106px" width="106px" />
            <span class="blocks-item-title">Submit a Ticket</span>
            <span class="blocks-item-description">We've got our ear to the ground. Here's what you need to know.</span>
          </a>
      </li>
    </ul>

    {{#if promoted_articles}}
      <section class="articles">
        <h2>{{t 'promoted_articles'}}</h2>
        <ul class="article-list promoted-articles">
          {{#each promoted_articles}}
            <li class="promoted-articles-item">
                <a href="{{url}}">
                  {{title}}

                  {{#if internal}}
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                      <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1"/>
                      <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5"/>
                    </svg>
                  {{/if}}
                </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/if}}
  </section>

  <section class="section home-section activity">
    {{#if settings.show_recent_activity}}
      {{recent_activity}}
    {{/if}}
  </section>
</div>
