<section class="section hero">
    <div class="hero-inner">
    <h1>Artstor Support</h1>

    {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Search our help center'}}
  </div>
  {{#if promoted_articles}}
      <p class="popular-topics">
        <strong>Popular topics:</strong>
          {{#each promoted_articles}}
                <a href="{{url}}">{{title}}</a> 
          {{/each}}
      </p>
    {{/if}}
</section>

<div class="container">
  <section class="section knowledge-base">
    <section class="categories blocks">
      <ul class="blocks-list">
        {{#each categories}}
          {{#if ../has_multiple_categories}}
            <li class="blocks-item">
              <a href='{{url}}' class="blocks-item-link">
                <h2 class="blocks-item-title">{{name}}</h2>
                <p class="blocks-item-description compact-top">{{excerpt description}}</p>
              </a>
            </li>
          {{else}}
            {{#each sections}}
              <li class="blocks-item">
                <a href='{{url}}' class="blocks-item-link">
                  <h2 class="blocks-item-title">
                    {{name}}
                  </h2>
                  <p class="blocks-item-description compact-top">{{excerpt description}}</p>
                </a>
              </li>
            {{/each}}
          {{/if}}
        {{/each}}
      </ul>
      {{pagination}}
    </section>
  </section>
</div>
