<section id="main-content" class="section hero">
  <div class="hero-inner">
    <div class="container">
      <div class="hero-heading">
        <h1 class="visibility-hidden">{{ help_center.name }}</h1>
        <h2>Nabu Casa Support</h2>
        <p>Get the support you need for your Nabu Casa products, including detailed documentation and links to contact support.</p>
      </div>
      <div class="search-wrapper">
        {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Search for articles'}}
        <button class="btn btn-dark btn-large" onclick="document.querySelector('form[role=search]').submit()">Search</button>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <div class="layout">
    <div class="sub-hero">
      <div class="sub-nav">
        {{breadcrumbs}}
      </div>
      <div class="search-wrapper small">
        {{search submit=false instant=settings.instant_search class='search search-full' placeholder='Search for articles'}}
        <button class="btn btn-dark btn-large" onclick="document.querySelector('form[role=search]').submit()">Search</button>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="layout">
    <div class="column">
      <header class="page-header">
        <h2>{{t 'submit_a_request'}}</h2>
      </header>
    </div>
  </div>
  <div class="layout">
    <div class="column">
      <div class="section-container">
        <section id="main-content">
          <div id="main-content" class="form">
            <div id="new-request-form"></div>
          </div>
        </section>
      </div>
    </div>
    <div class="column sidebar">
      <div class="item-cards">
        <div class="item-card">
          <div class="item-card-details">
            <div class="item-card-content">
              <span class="item-card-title">Our community</span>
              <span class="item-card-description">The community is happy to be of help, just visit the forums or join our Discord server</span>
              <div class="item-card-buttons">
                <a href="https://community.home-assistant.io" class="item-card-button btn btn-primary external-link" target="_blank" rel="noopener">Community forum</a>
                <a href="https://www.home-assistant.io/join-chat/" class="item-card-button btn btn-primary external-link" target="_blank" rel="noopener">Discord server</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="module">
  import { renderNewRequestForm } from "new-request-form";

  const container = document.getElementById("new-request-form");

  const settings = {{json settings}};

  const props = {
    requestForm: {{json new_request_form}},
    newRequestPath: {{json (page_path 'new_request')}},
    parentId: {{json parent.id}},
    parentIdPath: {{json parent.url}},
    locale: {{json help_center.locale}},
    baseLocale: {{json help_center.base_locale}},
    hasAtMentions: {{json help_center.at_mentions_enabled}},
    userRole: {{json user.role}},
    userId: {{json user.id}},
    brandId: {{json brand.id}},
    organizations: {{json user.organizations}},
    wysiwyg: true,
    answerBotModal: {
      answerBot: {{json answer_bot}},
      hasRequestManagement: {{json help_center.request_management_enabled}},
      isSignedIn: {{json signed_in}},
      helpCenterPath: {{json (page_path 'help_center')}},
      requestsPath: {{json (page_path 'requests')}},
      requestPath: {{json (page_path 'request' id=answer_bot.request_id)}}
    },
  };

  renderNewRequestForm(settings, props, container);
</script>
