<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </div>

  <h1>
    {{t 'submit_a_request'}}
  </h1>

  {{#if parent_id}}
    <p>
      <a href="{{page_path 'request' id=parent_id}}">Follow-up to request #{{parent_id}}</a>
    </p>
  {{/if}}

  <p aria-hidden="true">
    Fields marked with an asterisk (*) are required.
  </p>

  <div id="main-content" class="form">
    <div id="new-request-form"></div>
  </div>
</div>

<script type="module">
  import { renderNewRequestForm } from "new-request-form-bundle";

  const settings = {{json settings}};
  const requestForm = {{json new_request_form}};
  const parentId = {{json parent_id}};
  const locale = {{json help_center.locale}};
  const answerBot = {{json answer_bot}}

  const container = document.getElementById("new-request-form");
  const props = { settings, requestForm, answerBot, parentId, locale, wysiwyg: true };

  renderNewRequestForm(settings, props, container);
</script>
