<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </nav>

  <h1>
    {{t 'submit_a_request'}}
  </h1>

  {{#if parent_id}}
    <p>
      <a href="{{page_path 'request' id=parent_id}}">Follow-up to request #{{parent_id}}</a>
    </p>
  {{/if}}

  <div id="main-content" class="form">
    {{#with new_request_form}}
      <form data-form action="{{action}}" method="{{http_method}}" accept-charset="{{accept_charset}}">
        {{#if errors}}
          <p>{{errors}}</p>
        {{/if}}
        <input type="hidden" name="{{ticket_form_field.name}}" value="{{ticket_form_field.value}}">
        {{#each fields}}
          <div class="form-field {{#if required}} required {{else}} optional {{/if}} {{id}}" {{#is type 'due_at'}} data-due-date hidden {{/is}}>
            <label for="{{id}}">{{label}}</label>
            {{#is type 'description'}}
              {{text_area wysiwyg=true}}
            {{else}}
              <input type="text" name="{{name}}" id="{{id}}" maxlength="150" size="150">
            {{/is}}
            {{#if error}}
              <div class="notification notification-error notification-inline">{{error}}</div>
            {{/if}}
            {{#if description}}
              <p>{{description}}<p>
            {{/if}}
          </div>
        {{/each}}
        <footer>
          <input type="submit" value="Submit">
        </footer>
      </form>
    {{/with}}
    <hr />
    <div id="new-request-form"></div>
  </div>
</div>

<script type="module">
  import { renderNewRequestForm } from "new-request-form";

  const requestForm = {{new_request_form.to_json}};

  const ticketForms = [];  
  {{#each ticket_forms}}
    ticketForms.push({ id:
    {{id}}, url: "{{url}}", display_name: "{{display_name}}" });
  {{/each}}

  const container = document.getElementById("new-request-form");
  const props = { ticketForms, requestForm };
  renderNewRequestForm(props, container);
</script>
