<div class="container">
  <header class="my-activities-header">
    <h1>{{t "requests"}}</h1>
  </header>

  <div id="main-content">
  </div>
</div>

<script type="module">
  const themeSettings = {{json settings}}; 
  const userData = {{json user}};


  debugger
  const props = {   
    locale: {{json help_center.base_locale}},
    customStatusesEnabled: {{json help_center.custom_statuses_enabled}},  
  }; 
  
  import { renderRequestList } from "request-list"; 
  const container = document.getElementById("main-content"); 

  renderRequestList(
    themeSettings, props, container
  );

</script>
