<div class="container-divider"></div>
<div class="container">
    <nav class="sub-nav">
        {{breadcrumbs}}
    </nav>

    <div class="search-results">
        <section id="main-content" class="search-results-column">
            <h1 class="search-results-subheading">
                {{#is current_filter.identifier 'unified'}}
                    {{t 'results' query=query count=results_count}}
                {{else}}
                    {{#unless current_subfilter.identifier}}
                        {{t 'results' query=query count=results_count}}
                    {{else}}
                        {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
                    {{/unless}}
                {{/is}}
            </h1>
            {{#if results}}
                <ul class="search-results-list">
                    {{#each results}}
                        <li class="search-result-list-item result-{{type}}">
                            <h2 class="search-result-title">
                                <a href="{{url}}" class="results-list-item-link">{{title}}</a>
                            </h2>
                            <div class="search-result-icons">
                                {{#if vote_sum}}
                                    <span class="search-result-votes">
                                        <span class="visibility-hidden">
                                            {{t 'votes_sum' count=vote_sum}}
                                        </span>
                                        <span aria-hidden="true">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-result-votes-icon">
                                                <g fill="none" stroke="currentColor">
                                                    <path stroke-linejoin="round" d="M10.77 4.5a.73.73 0 01.73.73C11.43 7 11.21 11.5 10 11.5H5a.5.5 0 01-.5-.5V4.5s1-.5 1-3a1 1 0 012 0v3z" />
                                                    <rect width="2" height="7" x=".5" y="4.5" rx=".5" ry=".5" />
                                                </g>
                                            </svg>
                                            {{vote_sum}}
                                        </span>
                                    </span>
                                {{/if}}
                                {{#if comment_count}}
                                    <span class="search-result-meta-count">
                                        <span class="visibility-hidden">
                                            {{t 'comments_count' count=comment_count}}
                                        </span>
                                        <span aria-hidden="true">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-result-meta-count-icon">
                                              <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z" />
                                            </svg>
                                            {{comment_count}}
                                        </span>
                                    </span>
                                {{/if}}
                            </div>
                            <article>
                                <ol class="breadcrumbs search-result-breadcrumbs">
                                    {{#each path_steps}}
                                        <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                                    {{/each}}
                                </ol>
                                <div class="search-result-description">{{text}}</div>
                            </article>
                        </li>
                    {{/each}}
                </ul>
            {{else}}
                <p>
                    {{t 'no_results_unified'}}
                    {{#link 'help_center'}}
                        {{t 'browse_help_center'}}
                    {{/link}}
                </p>
            {{/if}}
        </section>

        <aside class="search-results-sidebar">
            {{#if subfilters}}
                <section class="dropdown">
                    <button type="button" class="dropdown-toggle" aria-expanded="false">
                        {{#each subfilters}}
                            {{#if selected}}
                                <span class="icon-filter"></span>
                                <span class="dropdown-toggle-text filter-name">{{name}}</span>
                                <span class="icon-down"></span>
                            {{/if}}
                        {{/each}}
                    </button>
                    <ul class="dropdown-menu" aria-expanded="false">
                        {{#each subfilters}}
                            <li role="menuitem">
                                <a href="{{url}}" class="sidenav-item {{#if selected}}current{{/if}}" aria-current="page">
                                    <span class="sidenav-subitem filter-name">{{name}}</span>
                                    <span class="sidenav-subitem doc-count">({{count}})</span>
                                </a>
                            </li>
                        {{/each}}
                        {{#is current_filter.identifier 'knowledge_base'}}
                            <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_categories'}}">{{t 'show_more_categories'}}</button>
                        {{/is}}
                    </ul>
                </section>
            {{/if}}
        </aside>
    </div>
    {{pagination}}
</div>
