<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <div class="search-results">
    <aside class="search-results-sidebar">
      {{#if help_center_filters}}
        <section class="filters-in-section collapsible-sidebar" aria-expanded="false">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false"></button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_help_center'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each help_center_filters}}
              <li>
                <a href="{{url}}" class="sidenav-item" aria-selected="{{selected}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_help_centers'}}">{{t 'show_more_help_centers'}}</button>
          </ul>
        </section>
      {{/if}}
      {{#if help_center.community_enabled}}
        <section class="filters-in-section collapsible-sidebar" aria-expanded="false">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false"></button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_type'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each filters}}
              <li>
                <a href="{{url}}" class="sidenav-item" aria-selected="{{selected}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      {{#if subfilters}}
        <section class="filters-in-section collapsible-sidebar" aria-expanded="false">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false"></button>
          {{#is current_filter.identifier 'knowledge_base'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_category'}}</h3>
          {{/is}}
          {{#is current_filter.identifier 'community'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_topic'}}</h3>
          {{/is}}
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each subfilters}}
              <li>
                <a href="{{url}}" class="sidenav-item" aria-selected="{{selected}}">
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            {{#is current_filter.identifier 'knowledge_base'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_categories'}}">{{t 'show_more_categories'}}</button>
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_topics'}}">{{t 'show_more_topics'}}</button>
            {{/is}}
          </ul>
        </section>
      {{/if}}
    </aside>

    <section class="search-results-column">
      <h1 class="search-results-subheading">
        {{#is current_filter.identifier 'unified'}}
          {{t 'results' query=query count=results_count}}
        {{else}}
          {{#unless current_subfilter.identifier}}
            {{t 'results' query=query count=results_count}}
          {{else}}
            {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
          {{/unless}}
        {{/is}}
      </h1>
      {{#if results}}
        <ul class="search-results-list">
          {{#each results}}
            <li class="search-result-list-item result-{{type}}">
              <h2 class="search-result-title">
                <a href="{{url}}" class="results-list-item-link">{{title}}</a>
              </h2>
              <div class="search-result-icons">
                {{#if vote_sum}}
                  <span class="search-result-votes">{{vote_sum}}</span>
                {{/if}}
                {{#if comment_count}}
                  <span class="search-result-meta-count">
                    {{comment_count}}
                  </span>
                {{/if}}
              </div>
              <article>
                <ul class="meta-group">
                  <li>
                    <ol class="breadcrumbs search-result-breadcrumbs">
                      {{#each path_steps}}
                        <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                      {{/each}}
                    </ol>
                  </li>
                  <li class="meta-data">{{author.name}}</li>
                  <li class="meta-data">{{date created_at}}</li>
                </ul>
                <div class="search-results-description">{{text}}</div>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>
          {{t 'no_results_unified'}}
          {{#link 'help_center'}}
            {{t 'browse_help_center'}}
          {{/link}}
        </p>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>
