<div class="category-title"><div class="category-child"><div class="category-lead"> {{breadcrumbs}}</div>  <div class="search-container"></div>
      <svg class="search-icon" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M8.09375 13.1462C10.9932 13.1462 13.3438 10.7957 13.3438 7.89624C13.3438 4.99675 10.9932 2.64624 8.09375 2.64624C5.19426 2.64624 2.84375 4.99675 2.84375 7.89624C2.84375 10.7957 5.19426 13.1462 8.09375 13.1462Z" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M11.8066 11.6088L14.8442 14.6463" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
      {{search scoped=settings.scoped_kb_search submit=false}}
    </div></div></div>


<div class="container">

  <div class="search-results">
    {{!-- <aside class="search-results-sidebar">
      {{#if source_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_source_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_source'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each source_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_sources'}}">{{t 'show_more_sources'}}</button>
          </ul>
        </section>
      {{/if}}
      {{#if type_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_type_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_type'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each type_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      {{#if subfilters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_subfilter_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          {{#is current_filter.identifier 'knowledge_base'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_category'}}</h3>
          {{/is}}
          {{#is current_filter.identifier 'community'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_topic'}}</h3>
          {{/is}}
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each subfilters}}
              <li>
                {{#if selected}}
                  <a href="{{url}}" class="sidenav-item current" aria-current="page">
                {{else}}
                  <a href="{{url}}" class="sidenav-item">
                {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            {{#is current_filter.identifier 'knowledge_base'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_categories'}}">{{t 'show_more_categories'}}</button>
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_topics'}}">{{t 'show_more_topics'}}</button>
            {{/is}}
          </ul>
        </section>
      {{/if}}
      {{#if content_tag_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_content_tag'}}</h3>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each content_tag_filters}}
            	{{#if selected}}
                <li class="sidenav-tag">
                  <div class="content-tag">
                    <span class="label">{{name}}</span>
                    <a href="{{url}}" aria-current="page">
                      <span>
                        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"  aria-hidden="true" >
                            <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
                        </svg>
                      </span>
                    </a>
                  </div>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </section>
      {{/if}}
    </aside> --}}

    <section id="main-content" class="search-results-column">
      {{!-- <h1 class="search-results-subheading">
        {{#if results}}
          {{#is current_filter.identifier 'unified'}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{t 'results' query=query count=results_count}}
            {{/if}}
          {{else}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{#unless current_subfilter.identifier}}
                {{t 'results' query=query count=results_count}}
              {{else}}
                {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
              {{/unless}}
            {{/if}}
          {{/is}}
        {{/if}}
      </h1> --}}
      {{#if results}}
        <ul class="search-results-list">
          {{#each results}}
            <li>
              <article>
                <header>
                  <div class="search-result-title-container">
                    <h2 class="search-result-title">
                      <a href="{{url}}" {{#if is_external}} target="_blank" {{/if}}>
                        {{title}}
                        {{#if is_external}}
                          <svg viewBox="0 0 12 12" height="12" id="zd-svg-icon-12-new-window-fill">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h1.5M6 6l4-4"></path>
                            <path fill="currentColor" d="M10.5 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5a.474.474 0 0 1-.11-.54C5.62 1.12 5.8 1 6 1h4c.55 0 1 .45 1 1v4c0 .2-.12.38-.31.46-.06.03-.13.04-.19.04z"></path>
                          </svg>
                        {{/if}}
                      </a>
                    </h2>
                  </div>
                </header>
                <p class="search-result-description">{{text}}</p>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
          <div class="no-results">
            <div class="headline">
              {{t 'no_results_unified_start_new_search'}}
            </div>
            <div class="action-prompt">
              {{t 'no_results_unified_enter_keywords'}}
            </div>
            <div class="action-prompt">
              {{#link 'help_center'}}
                {{t 'go_to_help_center'}} 
              {{/link}}
            </div> 
          </div>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>
