<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
  <div class='col-md-pull-6'>
    {{breadcrumbs}}
  </div>
  <div class='col-md-push-6'>
    {{search submit=false}}
    <p class="page-header-description">{{t 'results' query=query count=results_count}}</p>
  </div>
  </nav>
</div>


<div class="containter search-results-pannel">
  <div class='row'>
    <div class='col-xs-12 col-sm-3'>
        <h3 id='search-filter-header'>By Type</h3>
        <ul class="tabs">
            <li id='help-center' class='active'><a class="tablinks" href="#help" data-toggle="tab">Help Center</a></li>
            <li id='community'><a class="tablinks" href="#comm" data-toggle="tab">Community Forum</a></li>
            <li><a class="tablinks" href="#all" data-toggle="tab">All</a></li>
        </ul>
    </div>
    
    <div class='col-xs-12 col-sm-9'>
    <div class="search-results">
      <div class="tab-content" id="tabs">
        <div class="tab-pane active" id="help">
          {{#if article_results}}
          <ul class="search-results-list">
            {{#each article_results}}
            <li class="search-result">
              <a href="{{url}}" class="search-result-link">{{title}}</a>
              {{#if vote_sum}}
                <span class="search-result-votes meta-count">{{vote_sum}}</span>
              {{/if}}
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    {{#each path_steps}}
                      <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </li>
                <li class="meta-data">
                  {{#link 'user_profile' id=author.id}}
                    {{author.name}}
                  {{/link}}
                </li>
                <li class="meta-data">{{date created_at timeago=true}}</li>
              </ul>
              <div class="search-result-description">{{text}}</div>
            </li>
            {{/each}}
          </ul>
        {{else}}
        <p>
          {{t 'no_results' query=query}}
          {{#link 'help_center'}}
            {{t 'browse_knowledge_base'}}
          {{/link}}
        </p>
      {{/if}}
    </div>
     
    <div class="tab-pane" id="comm">
    {{#if help_center.community_enabled}}
        {{#if post_results}}
          <ul class="search-results-list">
            {{#each post_results}}
              <li class="search-result">
                <a href="{{url}}" class="search-result-link">{{title}}</a>
                <span class="search-result-meta-count">
                  {{comment_count}}
                </span>
                <ul class="meta-group">
                  <li>
                    <ol class="breadcrumbs search-result-breadcrumbs">
                      {{#each path_steps}}
                        <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                      {{/each}}
                    </ol>
                  </li>
                  <li class="meta-data">
                    {{#link 'user_profile' id=author.id}}
                      {{author.name}}
                    {{/link}}
                  </li>
                  <li class="meta-data">{{date created_at timeago=true}}</li>
                </ul>
                <div class="search-result-description">
                  {{text}}
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>
            {{t 'no_results' query=query}}
            {{#link 'topics'}}
              {{t 'browse_community'}}
            {{/link}}
          </p>
        {{/if}}
      {{/if}}
    </div>
     
    <div class="tab-pane" id="all">
      <h4 class="search-results-subheading">
        {{t 'knowledge_base'}}
        
      </h4>
      {{#if article_results}}
        <ul class="search-results-list">
          {{#each article_results}}
            <li class="search-result">
              <a href="{{url}}" class="search-result-link">{{title}}</a>
              {{#if vote_sum}}
                <span class="search-result-votes meta-count">{{vote_sum}}</span>
              {{/if}}
              <ul class="meta-group">
                <li>
                  <ol class="breadcrumbs search-result-breadcrumbs">
                    {{#each path_steps}}
                      <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>
                </li>
                <li class="meta-data">
                  {{#link 'user_profile' id=author.id}}
                    {{author.name}}
                  {{/link}}
                </li>
                <li class="meta-data">{{date created_at timeago=true}}</li>
              </ul>
              <div class="search-result-description">{{text}}</div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>
          {{t 'no_results' query=query}}
          {{#link 'help_center'}}
            {{t 'browse_knowledge_base'}}
          {{/link}}
        </p>
      {{/if}}
     
    {{#if help_center.community_enabled}}
        <h4 class="search-results-subheading">
          {{t 'community'}}
        </h4>
        {{#if post_results}}
          <ul class="search-results-list">
            {{#each post_results}}
              <li class="search-result">
                <a href="{{url}}" class="search-result-link">{{title}}</a>
                <span class="search-result-meta-count">
                  {{comment_count}}
                </span>
                <ul class="meta-group">
                  <li>
                    <ol class="breadcrumbs search-result-breadcrumbs">
                      {{#each path_steps}}
                        <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                      {{/each}}
                    </ol>
                  </li>
                  <li class="meta-data">
                    {{#link 'user_profile' id=author.id}}
                      {{author.name}}
                    {{/link}}
                  </li>
                  <li class="meta-data">{{date created_at timeago=true}}</li>
                </ul>
                <div class="search-result-description">
                  {{text}}
                </div>
              </li>
            {{/each}}
          </ul>
        {{else}}
          <p>
            {{t 'no_results' query=query}}
            {{#link 'topics'}}
              {{t 'browse_community'}}
            {{/link}}
          </p>
        {{/if}}
      {{/if}}
    </div>
  </div>
  </div>
  </div>
  </div>

  {{#if post_results}}
        {{else}}
        <br>
        <br>
        <br>
        <section class="page-footer">
          <h3 class="search-results-subheading">
            Looking for a specific Hiking Trail, Park, or Forest?
          </h3>
          <a href="https://www.gaiagps.com/hike/?utm_source=HC_Search_Results"> 
            Click here to search for hikes near you.
          </a>
        </section>
       {{/if}}
  {{pagination}}
</div>
  
