<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav">
    {{breadcrumbs}}
    {{search submit=false}}
  </nav>

  <header class="page-header">
    <h1>{{t 'search_results'}}</h1>
    <p class="page-header-description">{{t 'results' query=query count=results_count}}</p>
  </header>

  <div class="search-results">
    <section class="search-results-column">
      {{#if article_results}}
        <ul class="search-results-list">
          {{#each article_results}}
            <li class="search-result">
              <h3><a href="{{url}}" class="search-result-link">{{title}}</a></h3>
              {{#if vote_sum}}
                <span class="search-result-votes meta-count">{{vote_sum}}</span>
              {{/if}}
              <ul class="meta-group">
                <li class="meta-data">Updated {{date created_at timeago=true}}</li>
              </ul>
              <div class="search-result-description">{{text}}</div>
            </li>
          {{/each}}
        </ul>
      {{else}}
        <p>
          {{t 'no_results' query=query}}
          {{#link 'help_center'}}
            {{t 'browse_knowledge_base'}}
          {{/link}}
        </p>
      {{/if}}
    </section>
  </div>

  {{pagination}}
</div>
