<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
    <div class="search-container">
      <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-icon" aria-hidden="true">
        <circle cx="4.5" cy="4.5" r="4" fill="none" stroke="currentColor"/>
        <path stroke="currentColor" stroke-linecap="round" d="M11 11L7.5 7.5"/>
      </svg>
      {{search submit=false}}
    </div>
  </div>

  <div class="search-results">
    <aside class="search-results-sidebar">
      {{#if source_filters}}
        <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_source'}}</h3>
        <section class="filters-in-section collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_source_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each source_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            <li>
              <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_sources'}}">{{t 'show_more_sources'}}</button>
            </li>
          </ul>
        </section>
      {{/if}}
      {{#if type_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_type'}}</h3>
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{t 'search_result_type_menu'}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each type_filters}}
              <li>
              {{#if selected}}
                <a href="{{url}}" class="sidenav-item current" aria-current="page">
              {{else}}
                <a href="{{url}}" class="sidenav-item">
              {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </section>
      {{/if}}
      {{#if subfilters}}
        <section class="filters-in-section collapsible-sidebar">
          {{#is current_filter.identifier 'knowledge_base'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_category'}}</h3>
          {{/is}}
          {{#is current_filter.identifier 'community'}}
            <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_by_topic'}}</h3>
          {{/is}}
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="{{#is current_filter.identifier 'knowledge_base'}}{{t 'search_result_articles_menu'}}{{else}}{{#is current_filter.identifier 'community'}}{{t 'search_result_posts_menu'}}{{else}}{{t 'search_result_subfilter_menu'}}{{/is}}{{/is}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each subfilters}}
              <li>
                {{#if selected}}
                  <a href="{{url}}" class="sidenav-item current" aria-current="page">
                {{else}}
                  <a href="{{url}}" class="sidenav-item">
                {{/if}}
                  <span class="sidenav-subitem filter-name">{{name}}</span>
                  <span class="sidenav-subitem doc-count">({{count}})</span>
                </a>
              </li>
            {{/each}}
            {{#is current_filter.identifier 'knowledge_base'}}
              <li>
                <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_categories'}}">{{t 'show_more_categories'}}</button>
              </li>
            {{/is}}
            {{#is current_filter.identifier 'community'}}
              <li>
                <button class="see-all-filters" aria-hidden="true" aria-label="{{t 'show_more_topics'}}">{{t 'show_more_topics'}}</button>
              </li>
            {{/is}}
          </ul>
        </section>
      {{/if}}
      {{#if content_tag_filters}}
        <section class="filters-in-section collapsible-sidebar">
          <h3 class="collapsible-sidebar-title sidenav-title">{{t 'filter_content_tag'}}</h3>
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon">
              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" focusable="false" viewBox="0 0 12 12" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon">
              <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
            </svg>
          </button>
          <ul class="multibrand-filter-list multibrand-filter-list--collapsed">
            {{#each content_tag_filters}}
            	{{#if selected}}
                <li class="sidenav-tag">
                  <div class="content-tag">
                    <span class="label">{{name}}</span>
                    <a href="{{url}}" aria-current="page">
                      <span>
                        <svg class="close-icon" xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false"  aria-hidden="true" >
                            <path stroke="currentColor" stroke-linecap="round" d="M3 9l6-6m0 6L3 3"/>
                        </svg>
                      </span>
                    </a>
                  </div>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </section>
      {{/if}}
    </aside>

    <section id="main-content" class="search-results-column">
      {{generative_answers}}
      <h1 class="search-results-subheading">
        {{#if results}}
          {{#is current_filter.identifier 'unified'}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{t 'results' query=query count=results_count}}
            {{/if}}
          {{else}}
            {{#if content_tag_filters }}
              {{#each (filter content_tag_filters on="selected" equals=true)}}
                {{t 'results_content_tag' content_tag=name count=../results_count}}
              {{/each}}
            {{else}}
              {{#unless current_subfilter.identifier}}
                {{t 'results' query=query count=results_count}}
              {{else}}
                {{t 'results_with_scope' query=query count=results_count scope_name=current_subfilter.name}}
              {{/unless}}
            {{/if}}
          {{/is}}
        {{/if}}
      </h1>
      {{#if results}}
        <ul class="search-results-list">
          {{#each results}}
            <li>
              <article>
                <header>
                  <div class="search-result-title-container">
                    <h2 class="search-result-title">
                      <a href="{{url}}" {{#if is_external}} target="_blank" {{/if}}>
                        {{title}}
                        {{#if is_external}}
                          <svg viewBox="0 0 12 12" height="12" id="zd-svg-icon-12-new-window-fill">
                            <path fill="none" stroke="currentColor" stroke-linecap="round" d="M10.5 8.5V10c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V2c0-.28.22-.5.5-.5h1.5M6 6l4-4"></path>
                            <path fill="currentColor" d="M10.5 6.5a.47.47 0 0 1-.35-.15l-4.5-4.5a.474.474 0 0 1-.11-.54C5.62 1.12 5.8 1 6 1h4c.55 0 1 .45 1 1v4c0 .2-.12.38-.31.46-.06.03-.13.04-.19.04z"></path>
                          </svg>
                        {{/if}}
                      </a>
                    </h2>
                    <div class="search-result-icons">
                      {{#if vote_sum}}
                        <span class="search-result-votes">
                          <span class="visibility-hidden">
                            {{t 'votes_sum' count=vote_sum}}
                          </span>
                          <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-result-votes-icon">
                              <g fill="none" stroke="currentColor">
                                <path stroke-linejoin="round" d="M10.77 4.5a.73.73 0 01.73.73C11.43 7 11.21 11.5 10 11.5H5a.5.5 0 01-.5-.5V4.5s1-.5 1-3a1 1 0 012 0v3z"/>
                                <rect width="2" height="7" x=".5" y="4.5" rx=".5" ry=".5"/>
                              </g>
                            </svg>
                            {{vote_sum}}
                          </span>
                        </span>
                      {{/if}}
                      {{#if comment_count}}
                        <span class="search-result-meta-count">
                          <span class="visibility-hidden">
                            {{t 'comments_count' count=comment_count}}
                          </span>
                          <span aria-hidden="true">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="search-result-meta-count-icon">
                              <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                            </svg>
                            {{comment_count}}
                          </span>
                        </span>
                      {{/if}}
                    </div>
                  </div>
                  <div class="search-result-meta-container">
                    <nav 
                      {{#is type 'article'}}aria-label='{{t 'article_location_with_title' title=title}}'{{/is}}
                      {{#is type 'community_post'}}aria-label='{{t 'post_location_with_title' title=title}}'{{/is}}
                      {{#is type 'external_content_record'}}aria-label='{{t 'external_content_location_with_title' title=title}}'{{/is}}
                    >
                      <ol class="breadcrumbs search-result-breadcrumbs">
                        {{#each path_steps}}
                          <li><a href="{{url}}" target="{{target}}">{{name}}</a></li>
                        {{/each}}
                      </ol>
                    </nav>
                    <div class="search-result-meta-data">
                      {{#unless is_external}}
                      <p class="meta-data">{{author.name}}</p>
                      {{/unless}}
                      <p class="meta-data">{{date created_at}}</p>
                    </div>
                  </div>
                </header>
                <p class="search-result-description">{{text}}</p>
              </article>
            </li>
          {{/each}}
        </ul>
      {{else}}
          <div class="no-results">
            {{#if settings.search_empty_icon}}
              <img src="{{settings.search_empty_icon}}" alt="" class="no-results-icon" />
            {{/if}}
            <div class="headline">
              {{t 'no_results_unified_start_new_search'}}
            </div>
            <div class="action-prompt">
              {{t 'no_results_unified_enter_keywords'}}
            </div>
            <div class="action-prompt help-center">
              {{#link 'help_center'}}
                {{t 'go_to_help_center'}} <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12" focusable="false" role="presentation"
                  data-garden-id="buttons.external_icon" data-garden-version="8.38.0" theme="[object Object]" class="sc-ifAKCX lgxUVw">
                  <path fill="none" stroke="currentColor" stroke-linecap="round"
                    d="M10.5 8.5V10c0 .3-.2.5-.5.5H2c-.3 0-.5-.2-.5-.5V2c0-.3.2-.5.5-.5h1.5M6 6l4-4m-3.5-.5H10c.3 0 .5.2.5.5v3.5">
                  </path>
                </svg>
              {{/link}}
            </div> 
          </div>
      {{/if}}
    </section>
  </div>
  {{pagination}}
</div>
