<div class="section">
  <header class="page-header">
    <div class="container">
      <h1 class="h2 page-header__title">{{section.name}}
      {{#if section.description}}
        <div class="page-header__description">{{section.description}}</div>
      {{/if}}
      </h1>
    </div>
  </header>
  <section class="section__content">
    <div class="container-divider"></div>
    <div class="container">
      <nav class="sub-nav">
        {{breadcrumbs}}
        {{search submit=false}}
      </nav>
      {{#if section.sections}}
        <ul class="section-list section-list--collapsed">
          {{#each section.sections}}
            <li class="section-list-item">
              <a href="{{url}}">
                <span>{{name}}</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" aria-hidden="true">
                  <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 14.5l6.1-6.1c.2-.2.2-.5 0-.7L5 1.5"/>
                </svg>
              </a>
            </li>
          {{/each}}
          <li><a tabindex="0" class="see-all-sections-trigger" aria-hidden="true" id="see-all-sections-trigger" title="{{t 'see_all_sections'}}">{{t 'see_all_sections'}}</a></li>
        </ul>
      {{/if}}
      {{#if section.articles}}
        <ul class="article-list">
          {{#each section.articles}}
            <li class="article-list__item">
              <a href="{{url}}" class="article-list__link greyLink">{{title}}</a>
              {{#if internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <i class="section-empty">
          <a href="{{section.url}}">{{t 'empty'}}</a>
        </i>
      {{/if}}
      {{pagination}}
    </div>
  </section>
</div>

