<section class="section hero hero-category">
  <div class="container">
    <div class="row">
      <div class="">
        {{breadcrumbs}}
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{section.name}}" class="category-title h1">{{section.name}}</h1>
        {{#if section.description}}
          <p class="page-header-description">{{section.description}}</p>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col">
        {{search scoped=true submit=false class="search search-full search-transparent"}}
      </div>
    </div>
  </div>
</section>


<div id="main-content">
  <!-- subcategories -->
  {{#if section.sections}}
    <section class="section section-merged">
      <div class="container knowledge-base subcategories">
        <div class="categories-list row row-cols-md-3">
          {{#each section.sections}}
            <div class="single-category">
              <div class="category-thumbnail bg-subtle">
                <div class="category-icon">
                  <img src="">
                </div>
                <div class="category-copy">
                  <a href="{{url}}" class="category-link">
                    <span class="category-title">{{name}}</span>
                  </a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}
  {{pagination "section.sections"}}

  {{#if section.articles}}
    <section class="section section-merged">
      <div class="container knowledge-base subcategories">
        <div class="categories-list row row-cols-md-3">
          {{#each section.articles}}
            <div class="single-category {{#if promoted}} article-promoted{{/if}}">
              <div class="category-thumbnail bg-subtle">
                <div class="category-icon">
                  <img src="">
                </div>
                <div class="category-copy">
                  <a href="{{url}}" class="category-link">
                    <span class="category-title{{#if internal}} category-title-internal{{/if}}">{{title}}</span>
                    {{#if internal}}
                      <i class="fa far fa-lock-alt internal-article-icon" title="{{t 'internal'}}"></i>
                    {{/if}}
                    <span class="category-description">{{excerpt snippet}}</span>
                  </a>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </section>
  {{/if}}

  {{pagination "section.articles"}}
</div>
