<div class="container-divider"></div>
<div class="container">
    <nav class="sub-nav breadcrums-box">
        {{breadcrumbs}}

        {{#if settings.show_follow_section }}
            <div class="follow-btn">
                {{subscribe}}
            </div>
        {{/if}}
    </nav>
    <div class="section-container">
        {{#with section}}
            <h2>{{#is description 'Type-FAQ'}}FAQ-{{/is}}{{name}}</h2>

            {{#if articles}}
                {{#is description 'Type-Video'}} {{! video }}
                    <ul class="video-list">
                        {{#each articles}}
                            <li class="video-list-item">
                                <div class="video-list-item-cover">
                                    <img class="video-list-item-cover-img" src="#" alt="" />
                                    <i class="video-list-item-cover-icon"></i>
                                </div>
                                <a class="video-list-item-title" href="{{url}}">{{title}}</a>
                                <ol class="video-list-item-labels"></ol>
                                <div class="article-body">{{body}}</div>
                            </li>
                        {{/each}}
                    </ul>
                {{/is}}

                {{#isnt description 'Type-Video'}} {{! article }}
                    <ul class="article-list">
                        {{#each articles}}
                            <li class="article-list-item">
                                <div class="article-item">
                                    <a href="{{url}}" class="article-list-link">
                                        {{#if promoted}}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 12 12" class="icon-star" title="{{t 'promoted'}}">
                                                <path fill="currentColor" d="M2.88 11.73c-.19 0-.39-.06-.55-.18a.938.938 0 01-.37-1.01l.8-3L.35 5.57a.938.938 0 01-.3-1.03c.12-.37.45-.63.85-.65L4 3.73 5.12.83c.14-.37.49-.61.88-.61s.74.24.88.6L8 3.73l3.11.17a.946.946 0 01.55 1.68L9.24 7.53l.8 3a.95.95 0 01-1.43 1.04L6 9.88l-2.61 1.69c-.16.1-.34.16-.51.16z" />
                                            </svg>
                                        {{/if}}
                                        {{title}}
                                        {{#if internal}}
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" focusable="false" viewBox="0 0 16 16" class="icon-lock" title="{{t 'internal'}}">
                                                <rect width="12" height="9" x="2" y="7" fill="currentColor" rx="1" ry="1" />
                                                <path fill="none" stroke="currentColor" d="M4.5 7.5V4a3.5 3.5 0 017 0v3.5" />
                                            </svg>
                                        {{/if}}
                                    </a>
                                </div>
                            </li>
                        {{/each}}
                    </ul>
                {{/isnt}}
            {{else}}
                <i class="section-empty">
                    <a href="{{url}}">{{t 'empty'}}</a>
                </i>
            {{/if}}
        {{/with}}

        {{pagination}}
    </div>
</div>
