<div class="container-divider"></div>
<div class="container">
  <nav class="sub-nav custom-page-search-mini">
    {{breadcrumbs}}
    {{search scoped=true submit=false placeholder='Search for help articles, videos and more'}}
  </nav>

  <header class="page-header">
    <h1>
      {{section.name}}
    </h1>
    {{#if settings.show_follow_section}}
    {{subscribe}}
    {{/if}}
    {{#if section.description}}
    <p class="page-header-description">{{section.description}}</p>
    {{/if}}
  </header>

  {{#if section.sections}}
  <section class="custom-card-container">
    {{#each section.sections}}
    <div class="custom-card small-card">
      <a href="{{url}}" class="custom-card-link">
        <div class="custom-card-logo-container">
          {{#is id 360009733874}}
          <img class="material-icons almost-black-img" src="{{asset 'rule-24px.svg'}}" />
          {{else}}
          {{#is id 360010838733}}
          <i class="material-icons black-icon">storage</i>
          {{else}}
          {{#is id 360009734414}}
          <img class="material-icons almost-black-img" src="{{asset 'text_snippet-24px.svg'}}" />
          {{else}}
          {{#is id 360009734354}}
          <i class="material-icons black-icon">low_priority</i>
          {{else}}
          {{#is id 360009734434}}
          <i class="material-icons black-icon">settings_system_daydream</i>
          {{else}}
          {{#is id 360010838813}}
          <i class="material-icons black-icon">developer_mode</i>
          {{else}}
          {{#is id 360010838853}}
          <img class="material-icons almost-black-img" src="{{asset 'api-24px.svg'}}" />
          {{else}}
          {{#is id 360010838833}}
          <img class="material-icons almost-black-img" src="{{asset 'grading-24px.svg'}}" />
          {{else}}
          {{#is id 360010839453}}
          <i class="material-icons black-icon">more_horiz</i>
          {{else}}
          {{#is id 360009735574}}
          <i class="material-icons black-icon">filter_tilt_shift</i>
          {{else}}
          {{#is id 360010839793}}
          <i class="material-icons black-icon">event_seat</i>
          {{else}}
          {{#is id 360010840153}}
          <img class="material-icons almost-black-img" src="{{asset 'close_fullscreen-24px.svg'}}" />
          {{else}}
          {{#is id 360010840253}}
          <i class="material-icons black-icon">settings_input_component</i>
          {{else}}
          {{#is id 360009735934}}
          <img class="material-icons almost-black-img" src="{{asset 'category-24px.svg'}}" />
          {{else}}
          {{#is id 360009735954}}
          <img class="material-icons almost-black-img" src="{{asset 'list_alt-24px.svg'}}" />
          {{else}}
          {{#is id 360009735974}}
          <i class="material-icons black-icon">filter_hdr</i>
          {{else}}
          {{#is id 360008788273}}
          <i class="material-icons black-icon">extension</i>
          {{else}}
          {{#is id 360010840273}}
          <i class="material-icons black-icon">undo</i>
          {{else}}
          {{#is id 360010840333}}
          <img class="material-icons almost-black-img" src="{{asset 'wysiwyg-24px.svg'}}" />
          {{else}}
          {{#is id 360010840353}}
          <i class="material-icons black-icon">wb_incandescent</i>
          {{else}}
          {{#is id 360009736014}}
          <i class="material-icons black-icon">cloud</i>
          {{else}}
          {{#is id 360009736034}}
          <i class="material-icons black-icon">more_horiz</i>
          {{else}}
          {{#is id 360010974833}}
          <i class="material-icons black-icon">weekend</i>
          {{else}}
          {{#is id 360009868234}}
          <img class="material-icons almost-black-img" src="{{asset 'engineering-24px.svg'}}" />
          {{else}}
          {{#is id 360009868254}}
          <img class="material-icons almost-black-img" src="{{asset 'hvac-24px.svg'}}" />
          {{else}}
          {{#is id 360009868274}}
          <img class="material-icons almost-black-img" src="{{asset 'revit-24px.svg'}}" />
          {{else}}
          {{#is id 360010974853}}
          <i class="material-icons black-icon">more_horiz</i>
          {{else}}
          {{#is id 360009074194}}
          <img class="material-icons almost-black-img" src="{{asset 'cet_developer-24px.svg'}}" />
          {{else}}
          {{#is id 360009074174}}
          <img class="material-icons almost-black-img" src="{{asset 'emacs-24px.svg'}}" />
          {{else}}
          {{#is id 360009193473}}
          <img class="material-icons almost-black-img" src="{{asset 'cet_designer-24px.svg'}}" />
          {{else}}
          {{#is id 360009868314}}
          <i class="material-icons black-icon">assignment</i>
          {{else}}
          {{#is id 360010974873}}
          <i class="material-icons black-icon">more_horiz</i>
          {{else}}
          {{#is id 1500000170842}}
          <i class="material-icons black-icon">explore</i>
          {{else}}
          {{#is id 1500000177062}}
          <i class="material-icons black-icon">build</i>
          {{else}}
          <i class="material-icons black-icon">camera</i>
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
          {{/is}}
        </div>
        <h3 class="custom-card-title">
          {{name}}
        </h3>
      </a>
    </div>
    {{/each}}
  </section>
  {{/if}}

  {{#if section.articles}}
  <ul class="article-list">
    {{#each section.articles}}
    <li class="article-list-item {{#if promoted}} article-promoted{{/if}}">
      {{#if promoted}}
      <span data-title="{{t 'promoted'}}" class="icon-star"></span>
      {{/if}}
      <a href="{{url}}" class="article-list-link">{{title}}</a>
      {{#if internal}}
      <span class="icon-lock" title="{{t 'internal'}}"></span>
      {{/if}}
    </li>
    {{/each}}
  </ul>
  {{/if}}

</div>