<div class="container-divider"></div>
<div class="container">
  <div class="sub-nav">
    {{breadcrumbs}}
  </div>

  {{!-- <h1>{{t 'Services'}}</h1> //this translation is missing in HC --}}
  <h1>Services</h1>

  <div id="main-content">
     <div id="service-catalog"></div>
  </div>
</div>

<script type="module">
  import { renderServiceCatalogList } from "service-catalog";

  const settings = {{json settings}};
  const helpCenterPath = {{json (page_path 'help_center')}};
  const container = document.getElementById("service-catalog");
  const baseLocale = {{json help_center.base_locale}};

  renderServiceCatalogList(container, settings, helpCenterPath, baseLocale);
</script>
