<div class="my-activities-nav">
  <div class="container">
    <nav class="collapsible-nav">
      <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button>
      <ul class="collapsible-nav-list">
        {{#if help_center.request_management_enabled}}
          <li>{{link 'requests'}}</li>
        {{/if}}
        <li>{{link 'contributions'}}</li>
        <li aria-selected=true>{{t 'following'}}</li>
      </ul>
    </nav>
  </div>
</div>

<div class="container">
  <header class="my-activities-header">
    <h1>{{t 'following'}}</h1>
  </header>

  <div class="my-activities-following-header">
    <span class="dropdown">
      <button class="dropdown-toggle" aria-haspopup="true">
        {{current_filter.label}}
      </button>
      <span class="dropdown-menu" role="menu">
        {{#each filters}}
          <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
            {{name}}
          </a>
        {{/each}}
      </span>
    </span>
  </div>

  <div class="requests">
    {{#if subscriptions}}
      <table class="table my-activities-table subscriptions-table">
        <thead>
          <tr>
            <th>{{t 'title'}}</th>
            <th>{{t 'type'}}</th>
            <th>{{t 'subscription'}}</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          {{#each subscriptions}}
            <tr>
              <td>
                {{#is type 'user'}}
                  <img class="user-avatar" src="{{avatar_url}}" alt="">
                {{/is}}
                <a href="{{url}}" title="{{title}}" class="striped-list-title">
                  {{excerpt title characters=60}}
                </a>
              </td>
              <td>{{name}}</td>
              <td>{{subscribe}}</td>
              <td class="subscriptions-unsubscribe">{{unsubscribe}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    {{pagination}}
    {{else}}
      <p class="no-activities">{{t 'not_following'}}</p>
    {{/if}}
  </div>
</div>
