<section class="section hero hero-user-profile">
  <div class="container">
    <div class="row">
      <div class="">
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{user.name}}" class="h1">
            {{#if user.url}}
              <a href="{{user.url}}" target="_zendesk_lotus" title="{{t 'open_user_in_support'}}">{{user.name}}</a>
            {{else}}
              {{user.name}}
            {{/if}}
          </h1>
      </div>
    </div>
    <div class="row">
      <div class="col metadata-left">
        {{#if last_activity_at}}
          <span class="meta-data">{{t 'last_activity'}} {{date last_activity_at timeago=true}}</span>
        {{else}}
          <span class="meta-data">{{t 'no_activity_yet'}}</span>
        {{/if}}
        {{#if last_activity_at}}
          {{#if member_since}}
            <div class="vr"></div>
          {{/if}}
        {{/if}}
        {{#if member_since}}
          <span class="meta-data">{{t 'member_since'}} {{date member_since format='medium'}}</span>
        {{/if}}
      </div>
      <div class="col metadata-right">
        {{actions class='user-profile-actions split-button button'}}
        <div class="community-follow">{{subscribe}}</div>
      </div>
    </div>
  </div>
</section>







<div class="container">
  <div class="profile-container" id="profile-container">
    <aside class="profile-sidebar" aria-labelledby="section-profile-title">
      <div class="profile-sidebar">
        <div class="table-of-contents-container collapsible-sidebar">
          <button type="button" class="collapsible-sidebar-toggle" aria-expanded="false" aria-label="">
            <i focusable="false" aria-hidden="true" class="collapsible-sidebar-toggle-icon chevron-icon far fa-chevron-down"></i>
            <i focusable="false" aria-hidden="true" class="collapsible-sidebar-toggle-icon x-icon far fa-times"></i>
          </button>
          <h4 class="collapsible-sidebar-title sidenav-title">Activity</h4>
          <div class="collapsible-sidebar-body">
            {{#if visible}}
              {{#if member_since}}
                <ul class="">
                  {{#each filters}}
                    {{#if selected}}
                      <li class="current active"><a href="{{url}}" aria-current="page">{{name}}</a></li>
                    {{else}}
                      <li><a href="{{url}}">{{name}}</a></li>
                    {{/if}}
                  {{/each}}
                </ul>
              {{/if}}
            {{/if}}

            <ul class="profile-stats profile-stats-counters">
              <li class="stat">
                <span class="stat-label">{{t 'following_users'}}</span>
                <span class="stat-value" id="following-count">{{t 'users_count' count=following_count}}</span>
              </li>
              <li class="stat">
                <span class="stat-label">{{t 'followed_by'}}</span>
                <span class="stat-value" id="follower-count">{{t 'users_count' count=follower_count}}</span>
              </li>
              <li class="stat">
                <span class="stat-label">{{t 'votes'}}</span>
                <span class="stat-value" id="vote-count">{{vote_count}}</span>
              </li>
              <li class="stat">
                <span class="stat-label">{{t 'subscriptions'}}</span>
                <span class="stat-value" id="subscription-count">{{subscription_count}}</span>
              </li>
            </ul>
            {{#if description}}
              <p class="description">{{description}}</p>
            {{/if}}
            <ul aria-label="{{t 'badges'}}" class="community-badge-titles">
              {{#each (filter user.badges on="category_slug" equals="titles")}}
                <li class="community-badge community-badge-title" title="{{description}}" aria-label="{{name}}">
                  {{name}}
                </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </aside>

    <article id="main-content" class="profile">

      <section class="profile-info">
        <div class="profile-content">
          <div class="profile-body">
            
            {{#if visible}}
  
              {{#if member_since}}

                {{#is current_filter.identifier 'activities'}}

                  {{#if activities}}

                    <h2 class="profile-section-title">{{t 'activity_overview'}}</h2>
                    <span class="profile-section-description">{{t 'latest_activity' name=user.name}}</span>

                    <ul class="profile-activity-list">
                      {{#each activities}}

                        <li class="profile-activity profile-activity-{{type}}">
                          <span aria-hidden="true" class="profile-activity-icon">
                            {{#contains type "article"}}
                              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" focusable="false" viewBox="0 0 12 12">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3.5 5.5h5m-5 2h5m-5 2h5m2-6.29V11c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V1c0-.28.22-.5.5-.5h5.79c.13 0 .26.05.35.15l2.21 2.21c.1.09.15.21.15.35zM7.5.5V3c0 .28.22.5.5.5h2.5"/>
                              </svg>
                            {{/contains}}
                            {{#contains type "post"}}
                              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" focusable="false" viewBox="0 0 12 12">
                                <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 6.5H1C.7 6.5.5 6.3.5 6V1C.5.7.7.5 1 .5h7c.3 0 .5.2.5.5v2.5m-6-1h4m-1 5h4m-4 2h4M4 5.5h7c.3 0 .5.2.5.5v5c0 .3-.2.5-.5.5H4c-.3 0-.5-.2-.5-.5V6c0-.3.2-.5.5-.5z"/>
                              </svg>
                            {{/contains}}
                            {{#contains type "comment"}}
                              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" focusable="false" viewBox="0 0 12 12">
                                <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                              </svg>
                            {{/contains}}
                          </span>
                          <header class="profile-activity-header">
                            <img class="user-avatar" src="{{../user.avatar_url}}" alt=""/>
                            <p class="profile-activity-description">{{label}}</p>
                          </header>

                          {{#with contribution}}
                            <div class="profile-activity-contribution profile-contribution">
                              <header class="profile-contribution-header">
                                {{#isnt object_type 'comment'}}
                                  <h3 class="profile-contribution-title"><a href="{{url}}">{{title}}</a></h3>
                                {{/isnt}}

                                {{#isnt status 'none'}}
                                    <span class="status-label status-label-{{status_dasherized}}">{{status_name}}</span>
                                {{/isnt}}

                                {{#if pending}}
                                  <span class="status-label status-label-pending-moderation">{{t 'pending_approval'}}</span>
                                {{/if}}

                                {{#if official}}
                                  <span class="status-label status-label-official">{{t 'official_comment'}}</span>
                                {{/if}}
                              </header>
                              <nav
                                {{#is object_type 'article'}}aria-label='{{t 'article_location_with_title' title=title}}'{{/is}}
                                {{#is object_type 'post'}}aria-label='{{t 'post_location_with_title' title=title}}'{{/is}}
                                {{#is object_type 'comment'}}aria-label='{{t 'comment_location_with_author_name' author_name=author.name}}'{{/is}}
                              >
                                <ol class="breadcrumbs profile-contribution-breadcrumbs">
                                  {{#each path_steps}}
                                    <li><a href="{{url}}">{{name}}</a></li>
                                  {{/each}}
                                </ol>
                              </nav>

                              <p class="profile-contribution-body">{{excerpt body characters=200}}</p>

                              <div class="meta-group">
                                {{#is object_type 'comment'}}
                                  <span class="meta-data">
                                    <a class="comment-link" href={{url}}>{{t 'view_comment'}}</a>
                                  </span>
                                {{/is}}
                                <span class="meta-data">{{author.name}}</span>
                                {{#if editor}}
                                  <span class="meta-data">{{date edited_at timeago=true}}</span>
                                  <span class="meta-data">
                                    {{#is object_type 'article'}}
                                      {{t 'updated'}}
                                    {{else}}
                                      {{t 'edited'}}
                                    {{/is}}
                                  </span>
                                {{else}}
                                  <span class="meta-data">{{date created_at timeago=true}}</span>
                                {{/if}}
                                {{#each stats}}
                                  <span class="meta-data">{{label}}</span>
                                {{/each}}
                              </div>
                            </div>
                          {{/with}}
                        </li>

                      {{/each}}
                    </ul>

                  {{/if}}

                {{/is}}

                {{#is current_filter.identifier 'badges'}}

                  {{#if user.badges}}
                    <h2 class="profile-section-title">{{t 'badges'}}</h2>
                    <span class="profile-section-description">{{t 'badges_description' name=user.name}}</span>

                    <ul class="profile-badges-items">
                      {{#each user.badges}}
                        <li role="region" class="profile-badges-item" aria-labelledby="title-{{id}}" aria-describedby="desc-{{id}}">
                          <div class="profile-badges-item-image">
                            {{#if icon_url}}
                              <img class="badge" src="{{icon_url}}" alt="">
                            {{/if}}
                          </div>
                          <div>
                            <div id="title-{{id}}" class="profile-badges-item-title">
                              {{name}}
                            </div>
                            <p id="desc-{{id}}" class="profile-badges-item-description">
                              {{description}}
                            </p>
                          </div>
                          <div class="profile-badges-item-metadata">
                            <div class="profile-badges-item-metadata-title">
                              {{t 'badges_awarded'}}
                            </div>
                            <p class="profile-badges-item-metadata-description">
                              {{date assigned_at format='medium'}}
                            </p>
                          </div>
                        </li>
                      {{/each}}
                    </ul>
                  {{else}}
                    <span class="no-activity">{{t 'no_badges'}}</span>
                  {{/if}}

                {{/is}}

                {{#isnt current_filter.identifier 'activities'}}
                  {{#isnt current_filter.identifier 'badges'}}
                        
                    {{#if contributions}}

                      <h2 class="profile-section-title">{{t current_filter.identifier}}</h2>
                      {{#if sorters}}
                        <span class="profile-section-description">{{sorter_description}}</span>
                        <span class="profile-section-sorter dropdown">
                          <button class="dropdown-toggle" aria-haspopup="true">
                            {{current_sorter.label}}
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" focusable="false" viewBox="0 0 12 12" class="dropdown-chevron-icon">
                              <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3 4.5l2.6 2.6c.2.2.5.2.7 0L9 4.5"/>
                            </svg>
                          </button>
                          <span class="dropdown-menu" role="menu">
                            {{#each sorters}}
                              <a href="{{url}}" aria-checked="{{selected}}" role="menuitemradio">
                                {{name}}
                              </a>
                            {{/each}}
                          </span>
                        </span>
                      {{/if}}

                      <ul class="profile-contribution-list profile-{{current_filter.identifier}}">
                        {{#each contributions}}

                          <li class="profile-contribution">
                            <span class="profile-contribution-icon" aria-hidden="true">
                              {{#is object_type "article"}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" focusable="false" viewBox="0 0 12 12">
                                  <path fill="none" stroke="currentColor" stroke-linecap="round" d="M3.5 5.5h5m-5 2h5m-5 2h5m2-6.29V11c0 .28-.22.5-.5.5H2c-.28 0-.5-.22-.5-.5V1c0-.28.22-.5.5-.5h5.79c.13 0 .26.05.35.15l2.21 2.21c.1.09.15.21.15.35zM7.5.5V3c0 .28.22.5.5.5h2.5"/>
                                </svg>
                              {{/is}}
                              {{#is object_type "post"}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" focusable="false" viewBox="0 0 12 12">
                                  <path fill="none" stroke="currentColor" stroke-linecap="round" d="M1.5 6.5H1C.7 6.5.5 6.3.5 6V1C.5.7.7.5 1 .5h7c.3 0 .5.2.5.5v2.5m-6-1h4m-1 5h4m-4 2h4M4 5.5h7c.3 0 .5.2.5.5v5c0 .3-.2.5-.5.5H4c-.3 0-.5-.2-.5-.5V6c0-.3.2-.5.5-.5z"/>
                                </svg>
                              {{/is}}
                              {{#is object_type "comment"}}
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" focusable="false" viewBox="0 0 12 12">
                                  <path fill="none" stroke="currentColor" d="M1 .5h10c.3 0 .5.2.5.5v7c0 .3-.2.5-.5.5H6l-2.6 2.6c-.3.3-.9.1-.9-.4V8.5H1C.7 8.5.5 8.3.5 8V1C.5.7.7.5 1 .5z"/>
                                </svg>
                              {{/is}}
                            </span>
                            <header class="profile-contribution-header">
                              {{#isnt object_type 'comment'}}
                                <h3 class="profile-contribution-title"><a href="{{url}}">{{title}}</a></h3>
                              {{/isnt}}

                              {{#isnt status 'none'}}
                                  <span class="status-label status-label-{{status_dasherized}}">{{status_name}}</span>
                              {{/isnt}}

                              {{#if pending}}
                                <span class="status-label status-label-pending-moderation">{{t 'pending_approval'}}</span>
                              {{/if}}

                              {{#if official}}
                                <span class="status-label status-label-official">{{t 'official_comment'}}</span>
                              {{/if}}
                            </header>
                            <nav
                              {{#is object_type 'article'}}aria-label='{{t 'article_location_with_title' title=title}}'{{/is}}
                              {{#is object_type 'post'}}aria-label='{{t 'post_location_with_title' title=title}}'{{/is}}
                              {{#is object_type 'comment'}}aria-label='{{t 'comment_location_with_author_name' author_name=author.name}}'{{/is}}
                            >
                              <ol class="breadcrumbs profile-contribution-breadcrumbs">
                                {{#each path_steps}}
                                  <li><a href="{{url}}">{{name}}</a></li>
                                {{/each}}
                              </ol>
                            </nav>

                            <p class="profile-contribution-body">{{excerpt body characters=200}}</p>

                            <div class="meta-group">
                              {{#is object_type 'comment'}}
                                <span class="meta-data">
                                  <a class="comment-link" href={{url}}>{{t 'view_comment'}}</a>
                                </span>
                              {{/is}}
                              <span class="meta-data">{{author.name}}</span>
                              {{#if editor}}
                                <span class="meta-data">{{date edited_at timeago=true}}</span>
                                <span class="meta-data">
                                  {{#is object_type 'article'}}
                                    {{t 'updated'}}
                                  {{else}}
                                    {{t 'edited'}}
                                  {{/is}}
                                </span>
                              {{else}}
                                <span class="meta-data">{{date created_at timeago=true}}</span>
                              {{/if}}
                              {{#each stats}}
                                <span class="meta-data">{{label}}</span>
                              {{/each}}
                            </div>
                          </li>

                        {{/each}}
                      </ul>

                      {{pagination}}

                    {{else}}
                      {{t 'no_contributions'}}

                    {{/if}}
                  {{/isnt}}
                {{/isnt}}

              {{else}}
                {{t 'no_content_yet'}}
              {{/if}}

              {{else}}
              {{t 'private_activity'}}
            {{/if}}
          </div>

        </div>
      </section>
      <footer>
        <div class="article-footer">
          
        </div>
      </footer>
    </article>
  </div>
</div>
