<section class="section hero hero-user-profile">
  <div class="container">
    <div class="row">
      <div class="">
      </div>
    </div>
    <div class="row">
      <div>
        <h1 title="{{user.name}}" class="h1">
            {{#if user.url}}
              <a href="{{user.url}}" target="_zendesk_lotus" title="{{t 'open_user_in_support'}}">{{user.name}}</a>
            {{else}}
              {{user.name}}
            {{/if}}
          </h1>
      </div>
    </div>
    <div class="row">
      <div class="col metadata-left">
        {{#if last_activity_at}}
          <span class="meta-data">{{t 'last_activity'}} {{date last_activity_at timeago=true}}</span>
        {{else}}
          <span class="meta-data">{{t 'no_activity_yet'}}</span>
        {{/if}}
        {{#if last_activity_at}}
          {{#if member_since}}
            <div class="vr"></div>
          {{/if}}
        {{/if}}
        {{#if member_since}}
          <span class="meta-data">{{t 'member_since'}} {{date member_since format='medium'}}</span>
        {{/if}}
      </div>
      <div class="col metadata-right">
        {{actions class='user-profile-actions split-button'}}
        <div class="community-follow">{{subscribe}}</div>
      </div>
    </div>
  </div>
</section>
