<header class="profile-header">
  <div class="container">
    <div class="profile-info">
      <div class="avatar profile-avatar">
        {{#if user.agent}}
          <span class="icon-agent"></span>
        {{/if}}
        <img class="user-avatar" src="{{user.avatar_url}}" alt=""/>
      </div>
      <div class="basic-info">
        <h1 class="name">
          {{#if user.url}}
            <a href="{{user.url}}" target="_zendesk_lotus" title="{{t 'open_user_in_support'}}">{{user.name}}</a>
          {{else}}
            {{user.name}}
          {{/if}}
        </h1>
      </div>
      <div class="options">
        {{#if private_profile}}
          <span class="profile-private-badge">{{t 'private'}}</span>
        {{/if}}
        {{edit}}
        <div class="community-follow">{{subscribe}}</div>
      </div>

      {{#if description}}
        <p class="description">{{description}}</p>
      {{/if}}

      <ul class="profile-stats profile-stats-activity">
        <li class="stat">
          <span class="stat-label">{{t 'total_activity'}}</span>
          <span class="stat-value">{{total_activity}}</span>
        </li>
        <li class="stat">
          <span class="stat-label">{{t 'last_activity'}}</span>
          <span class="stat-value">
            {{#if last_activity_at}}
              {{date last_activity_at timeago=true}}
            {{else}}
              {{t 'no_activity_yet'}}
            {{/if}}
          </span>
        </li>
        <li class="stat">
          <span class="stat-label">{{t 'member_since'}}</span>
          <span class="stat-value">
            {{#if member_since}}
              {{date member_since format='medium'}}
            {{else}}
              {{t 'no_activity_yet'}}
            {{/if}}
          </span>
        </li>
      </ul>
    </div>
    <ul class="profile-stats profile-stats-counters">
      <li class="stat">
        <span class="stat-label">{{t 'following_users'}}</span>
        <span class="stat-value">{{t 'users_count' count=following_count}}</span>
      </li>
      <li class="stat">
        <span class="stat-label">{{t 'followed_by'}}</span>
        <span class="stat-value">{{t 'users_count' count=follower_count}}</span>
      </li>
      <li class="stat">
        <span class="stat-label">{{t 'votes'}}</span>
        <span class="stat-value">{{vote_count}}</span>
      </li>
      <li class="stat">
        <span class="stat-label">{{t 'subscriptions'}}</span>
        <span class="stat-value">{{subscription_count}}</span>
      </li>
    </ul>
  </div>
</header>

{{#if visible}}

  {{#if member_since}}

    <div class="profile-nav">
      <div class="container">
        <nav class="collapsible-nav">
          <button type="button" class="collapsible-nav-toggle" aria-label="{{t 'toggle_navigation'}}" aria-expanded="false"></button>
          <ul class="collapsible-nav-list">
            {{#each filters}}
              {{#if selected}}
                <li class="current"><a href="{{url}}" aria-current="page">{{name}}</a></li>
              {{else}}
                <li><a href="{{url}}">{{name}}</a></li>
              {{/if}}
            {{/each}}
          </ul>
        </nav>
      </div>
    </div>

    {{#is filter_by 'activities'}}
      <div class="container">
        <section class="profile-section">

          {{#if activities}}

            <header class="profile-section-header">
              <h2 class="profile-section-title">{{t 'activity_overview'}}</h2>
              <span class="profile-section-description">{{t 'latest_activity' name=user.name}}</span>
            </header>

            <ul class="profile-activity-list">
              {{#each activities}}

                <li class="profile-activity profile-activity-{{type}}">
                  <header class="profile-activity-header">
                    <img class="user-avatar" src="{{../user.avatar_url}}" alt=""/>
                    <p class="profile-activity-description">{{label}}</p>
                  </header>

                  {{#with contribution}}
                    <div class="profile-activity-contribution profile-contribution">
                      <header class="profile-contribution-header">
                        {{#isnt object_type 'comment'}}
                          <h3 class="profile-contribution-title"><a href="{{url}}">{{title}}</a></h3>
                        {{/isnt}}

                        {{#isnt status 'none'}}
                            <span class="status-label status-label-{{status_dasherized}}">{{status_name}}</span>
                        {{/isnt}}

                        {{#if pending}}
                          <span class="status-label status-label-pending">{{t 'pending_approval'}}</span>
                        {{/if}}

                        {{#if official}}
                          <span class="status-label status-label-official">{{t 'official_comment'}}</span>
                        {{/if}}
                      </header>

                      <ol class="breadcrumbs profile-contribution-breadcrumbs">
                        {{#each path_steps}}
                          <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                        {{/each}}
                      </ol>

                      <p class="profile-contribution-body">{{excerpt body characters=200}}</p>

                      <ul class="meta-group">
                        {{#is object_type 'comment'}}
                          <li class="meta-data">
                            <a class="comment-link" href={{url}}>{{t 'view_comment'}}</a>
                          </li>
                        {{/is}}
                        <li class="meta-data">{{author.name}}</li>
                        {{#if editor}}
                          <li class="meta-data">{{date edited_at timeago=true}}</li>
                          <li class="meta-data">
                            {{#is object_type 'article'}}
                              {{t 'updated'}}
                            {{else}}
                              {{t 'edited'}}
                            {{/is}}
                          </li>
                        {{else}}
                          <li class="meta-data">{{date created_at timeago=true}}</li>
                        {{/if}}
                        {{#each stats}}
                          <li class="meta-data">{{label}}</li>
                        {{/each}}
                      </ul>
                    </div>
                  {{/with}}
                </li>

              {{/each}}
            </ul>

          {{/if}}

          {{#unless activities}}
            <span class="no-activity">{{t 'no_contributions'}}</span>
          {{/unless}}

        </section>
      </div>
    {{/is}}

    {{#isnt filter_by 'activities'}}
      <div class="container">
        <section class="profile-section">

          {{#if contributions}}

            <header class="profile-section-header">
              <h2 class="profile-section-title">{{t filter_by}}</h2>
              {{#if sorters}}
                <span class="profile-section-description">{{sorter_description}}</span>
                <span class="profile-section-sorter dropdown">
                  <button class="dropdown-toggle" aria-haspopup="true">
                    {{current_sorter.label}}
                  </button>
                  <span class="dropdown-menu" role="menu">
                    {{#each sorters}}
                      <a href="{{url}}" aria-selected="{{selected}}" role="menuitem">
                        {{name}}
                      </a>
                    {{/each}}
                  </span>
                </span>
              {{/if}}
            </header>

            <ul class="profile-contribution-list profile-{{filter_by}}">
              {{#each contributions}}

                <li class="profile-contribution">
                  <header class="profile-contribution-header">
                    {{#isnt object_type 'comment'}}
                      <h3 class="profile-contribution-title"><a href="{{url}}">{{title}}</a></h3>
                    {{/isnt}}

                    {{#isnt status 'none'}}
                        <span class="status-label status-label-{{status_dasherized}}">{{status_name}}</span>
                    {{/isnt}}

                    {{#if pending}}
                      <span class="status-label status-label-pending">{{t 'pending_approval'}}</span>
                    {{/if}}

                    {{#if official}}
                      <span class="status-label status-label-official">{{t 'official_comment'}}</span>
                    {{/if}}
                  </header>

                  <ol class="breadcrumbs profile-contribution-breadcrumbs">
                    {{#each path_steps}}
                      <li title="{{name}}"><a href="{{url}}">{{name}}</a></li>
                    {{/each}}
                  </ol>

                  <p class="profile-contribution-body">{{excerpt body characters=200}}</p>

                  <ul class="meta-group">
                    {{#is object_type 'comment'}}
                      <li class="meta-data">
                        <a class="comment-link" href={{url}}>{{t 'view_comment'}}</a>
                      </li>
                    {{/is}}
                    <li class="meta-data">{{author.name}}</li>
                    {{#if editor}}
                      <li class="meta-data">{{date edited_at timeago=true}}</li>
                      <li class="meta-data">
                        {{#is object_type 'article'}}
                          {{t 'updated'}}
                        {{else}}
                          {{t 'edited'}}
                        {{/is}}
                      </li>
                    {{else}}
                      <li class="meta-data">{{date created_at timeago=true}}</li>
                    {{/if}}
                    {{#each stats}}
                      <li class="meta-data">{{label}}</li>
                    {{/each}}
                  </ul>
                </li>

              {{/each}}
            </ul>

            {{pagination}}

          {{/if}}

          {{#unless contributions}}
            <span class="no-activity">{{t 'no_contributions'}}</span>
          {{/unless}}

        </section>
      </div>

    {{/isnt}}

  {{/if}}

  {{#unless member_since}}
    <div class="container">
      <section class="profile-section">
        <span class="no-activity">{{t 'no_content_yet'}}</span>
      </section>
    </div>
  {{/unless}}

{{/if}}

{{#unless visible}}
  <div class="container">
    <section class="profile-section">
      <span class="private-activity">{{t 'private_activity'}}</span>
    </section>
  </div>
{{/unless}}
